In [15]:
import pandas as pd
import numpy as np 
import csv
import time

In [16]:
inpath = '/home/manikya_varshney/Documents/Python/Yale/Final Data/(C&A)September8th.csv'


#outpath = '/home/manikya_varshney/Documents/Python/Yale/Final Data/Final Datewise Sorted/(C&A)September9th(from 8th).csv'
outpath = '/home/manikya_varshney/Documents/Python/Yale/Final Data/Final Datewise Sorted/(C&A)September8th.csv'

In [17]:
start = time.time()
data = pd.read_csv(inpath, index_col=None, header=0, engine='python' )
end = time.time()
print("Read csv with pandas: ",(end-start),"sec")

Read csv with pandas:  13.16039514541626 sec

In [18]:
data

,created_at,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final
0,Tue Sep 08 04:01:22 +0000 2020,1.3031816109178716e+18,1.122185e+18,NaN,NaN,This lady rly just tried to come two inches ne...,lady rly try to come two inch next to to block...
1,Tue Sep 08 04:01:22 +0000 2020,1.3031816106369352e+18,3.199075e+09,NaN,NaN,@realDonaldTrump STOP DIVIDING THE COUNTRY!\n\...,stop divide the country president dont know to...
2,Tue Sep 08 04:01:22 +0000 2020,1.303181611274367e+18,1.103441e+18,NaN,NaN,@SkyNewsAust NOTE!\n\nThis video should be vie...,note video view every australian man unassaila...
3,Tue Sep 08 04:01:22 +0000 2020,1.3031816111948186e+18,7.141611e+17,NaN,"San Francisco, CA",Biggest comeback? Seeing the whole world back ...,big comeback see the whole world back to norma...
4,Tue Sep 08 04:01:22 +0000 2020,1.3031816117359616e+18,2.636616e+08,NaN,"Virginia Beach, VA",@lenacarti I hear you! But I'm gonna start tr...,hear im gon na start travel january to jamaica...
...,...,...,...,...,...,...,...
1487850,Wed Sep 09 03:59:47 +0000 2020,1.3034938575610757e+18,3.011539e+08,NaN,Melbourne,"@GayeCrispin Can someone, anyone out there, an...",someone anyone out answer question didnt scott...
1487851,Wed Sep 09 03:59:47 +0000 2020,1.3033275513270968e+18,1.107178e+09,NaN,University of Alberta Edmonton,PSA: a COVID-19 case at schools is not the sam...,psa covid19 case at school the school outbreak...
1487852,Wed Sep 09 03:59:48 +0000 2020,1.2435675767115612e+18,1.826669e+07,NaN,"Washington, DC",Heavy lifting @JudicialWatch battling both Hil...,heavy lift battling hillary clinton adam schif...
1487853,Wed Sep 09 03:59:54 +0000 2020,1.3035030936493548e+18,3.153208e+07,NaN,"Washington, DC",A senior administration official told reporter...,senior administration official told reporter a...
1487854,Wed Sep 09 03:59:56 +0000 2020,1.248648089528873e+18,2.932345e+09,NaN,"New York, USA",ðŸ˜³ @BillGates explaining the risk profile of th...,explain the risk profile the get out jail card...

### Date check

In [19]:
data['Date_Flag'] = data['created_at'].str[:10] == 'Wed Sep 09'

In [20]:
data['Date_Flag'].value_counts()

False    1180355
True      307500
Name: Date_Flag, dtype: int64

In [21]:
data = data[np.where((data['Date_Flag'] == True),True,False)].reset_index(drop=True)

In [22]:
data.shape

(307500, 8)

In [23]:
data

,created_at,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final,Date_Flag
0,Wed Sep 09 00:23:48 +0000 2020,1.303489244132909e+18,6.900497e+07,NaN,he/him matt.pearce@latimes.com,Not sure what is more surreal -- a 44.6% posit...,sure surreal 446 positive rate covid boone cou...,True
1,Wed Sep 09 00:23:48 +0000 2020,1.3034892455465329e+18,1.110730e+08,NaN,"Des Moines, Iowa USA",'Please speak up': Mask buttons help those who...,please speak mask button help wear hearing aid,True
2,Wed Sep 09 00:23:48 +0000 2020,1.303489245466833e+18,1.284070e+18,NaN,"Niagara Falls, NY",@kayleighmcenany @TeamTrump @realDonaldTrump H...,many get sick from covid19 possibly die thank ...,True
3,Wed Sep 09 00:23:48 +0000 2020,1.3034892458988462e+18,1.904087e+08,NaN,MD ðŸ¦€,@TheBwoyDej so ask ? ðŸ¥´ lol everybody grown unt...,ask lol everybody grown time to talk adult sh...,True
4,Wed Sep 09 00:23:48 +0000 2020,1.3034892463474074e+18,1.148398e+18,NaN,"Maple Ridge, British Columbia",Rising COVID-19 numbers â€˜not a good signâ€™ http...,rise covid19 number â€˜ good sign go to go to zero,True
...,...,...,...,...,...,...,...,...
307495,Wed Sep 09 03:59:47 +0000 2020,1.3034938575610757e+18,3.011539e+08,NaN,Melbourne,"@GayeCrispin Can someone, anyone out there, an...",someone anyone out answer question didnt scott...,True
307496,Wed Sep 09 03:59:47 +0000 2020,1.3033275513270968e+18,1.107178e+09,NaN,University of Alberta Edmonton,PSA: a COVID-19 case at schools is not the sam...,psa covid19 case at school the school outbreak...,True
307497,Wed Sep 09 03:59:48 +0000 2020,1.2435675767115612e+18,1.826669e+07,NaN,"Washington, DC",Heavy lifting @JudicialWatch battling both Hil...,heavy lift battling hillary clinton adam schif...,True
307498,Wed Sep 09 03:59:54 +0000 2020,1.3035030936493548e+18,3.153208e+07,NaN,"Washington, DC",A senior administration official told reporter...,senior administration official told reporter a...,True
307499,Wed Sep 09 03:59:56 +0000 2020,1.248648089528873e+18,2.932345e+09,NaN,"New York, USA",ðŸ˜³ @BillGates explaining the risk profile of th...,explain the risk profile the get out jail card...,True

In [24]:
data['id'].value_counts()

1.3033278338555904e+18    49
1.3033880679657964e+18    49
1.302480031638147e+18     49
1.303435239751123e+18     49
1.3034515128914166e+18    49
                          ..
1.3035042739892756e+18     1
1.303477385187205e+18      1
1.3035286533772083e+18     1
1.3035244319778284e+18     1
1.3035115838054646e+18     1
Name: id, Length: 187881, dtype: int64

data[data['id'] == '1.2962335805579305e+18']

In [25]:
data = data.drop_duplicates(['id'])

In [26]:
data.shape

(187882, 8)

In [27]:
data['id'].value_counts()

1.3028697992994734e+18    1
1.3035034170006487e+18    1
1.3034994558412022e+18    1
1.3035171861752381e+18    1
1.3030802027765883e+18    1
                         ..
1.303531908190679e+18     1
1.3035358017712538e+18    1
1.3033977050840064e+18    1
1.3034911388259164e+18    1
1.3035115838054646e+18    1
Name: id, Length: 187881, dtype: int64

In [28]:
data.to_csv(outpath, index=False)