!pip install -U numpy

import sys
print(sys.path) 
print(sys.executable)

import sys 
!{sys.executable} -m pip install nltk

# Import Packages

In [1]:
import pandas as pd
import numpy as np 
import csv
import re
import string

import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer

import warnings
warnings.filterwarnings("ignore")

# Dataset Cleaning

In [2]:
path = '/home/manikya_varshney/Documents/Python/Yale/h01-20200818-10files/h01-20200818-153021.csv'
data = pd.read_csv(path, low_memory=False)

In [3]:
data.shape

(19992, 79)

In [4]:
cols = [1, 3, 4, 5,6, 7, 8, 14, 15, 16, 17, 18, 19, 22, 30, 31, 32, 34, 35, 36, 41, 42, 43, 45, 51, 52, 53, 54, 55, 56, 58, 63, 64, 65, 67, 73, 74, 75, 76, 77]

In [5]:
data = data[data.columns.values[cols]]

In [6]:
data

,id,is_quote_tweet,quoted_tweet_id,in_reply_to_status_id_str,in_reply_to_user_id_str,in_reply_to_screen_name,lang,place_full_name,place_country_code,coordinates,...,QT_lang,QT_user_id,QT_username,QT_name,QT_location,QT_place_full_name,QT_place_country_code,QT_coordinates,QT_text,QT_full_text
0,1295805209722183684,False,NaN,NaN,NaN,NaN,en,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1295805209738911745,True,1.295733e+18,NaN,NaN,NaN,und,"Rossville, MD",US,NaN,...,en,2.968145e+08,HealthyFla,Florida Dept. Health,"Tallahassee, FL",NaN,NaN,NaN,Wearing a mask correctly can prevent the sprea...,Wearing a mask correctly can prevent the sprea...
2,1295805209852215297,False,NaN,NaN,NaN,NaN,es,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1295805209596366848,True,1.295797e+18,NaN,7.852330e+07,RealJamesWoods,und,NaN,NaN,NaN,...,en,1.220829e+18,AZKAYTE,AZKayte,Rent Free in Libs Heads,NaN,NaN,NaN,🔥ON FIRE!🔥\n\n#CarlosZapata (not Picatta) from...,🔥ON FIRE!🔥\n\n#CarlosZapata (not Picatta) from...
4,1295805209940299776,False,NaN,1.295688e+18,9.227776e+17,PierolaMarcelo,es,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19987,1295806236273840128,True,1.295802e+18,NaN,NaN,NaN,it,NaN,NaN,NaN,...,it,1.214241e+08,La7tv,La7,Italy,NaN,NaN,NaN,#inonda @DSantanche è pessimista sulla riapert...,NaN
19988,1295806236416528384,False,NaN,NaN,NaN,NaN,en,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19989,1295806236349390850,False,NaN,NaN,NaN,NaN,en,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19990,1295806236504535041,False,NaN,NaN,NaN,NaN,en,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19991,1295806236068327424,True,1.295256e+18,NaN,NaN,NaN,en,NaN,NaN,NaN,...,en,3.806486e+08,AFP,AFP news agency,France,NaN,NaN,NaN,Wuhan wave.\n\nPeople watch a performance as t...,NaN

In [7]:
data.shape

(19992, 40)

In [8]:
#data.to_csv('cols_filtered_h01-20200912-101538.csv',index=False)

path_output = '/home/manikya_varshney/Documents/Python/Yale/h01-20200912-101538_output.csv'
with open(path, "r") as source: 
    reader = csv.reader(source) 
      
    with open(path_output, "w") as result: 
        writer = csv.writer(result) 
        for r in reader: 
            
            # Use CSV Index to remove a column from CSV 
            #r[3] = r['year'] 
            writer.writerow((r[1], r[3], r[4], r[5],r[6], r[7], r[8], r[9], r[10], r[11], r[17], r[18], r[19], r[22], r[30], r[31], r[32], r[34], r[35], r[36], r[37], r[38], r[39], r[40], r[41], r[42], r[43], r[45], r[54], r[55], r[56], r[58], r[63], r[64], r[65], r[67], r[76], r[77]))

path_output = '/home/manikya_varshney/Documents/Python/Yale/h01-20200912-101538_output.csv'
data_output = pd.read_csv(path_output, low_memory=False)

In [9]:
data['lang'].value_counts()

en     11229
es      4317
pt      1518
ja       539
und      468
fr       338
tr       256
de       204
it       190
nl       181
ko       162
hi       153
ar        93
ca        55
tl        48
in        39
pl        38
zh        19
el        18
ru        16
ro        13
ht        10
et        10
sv        10
cs         8
sl         7
da         6
ur         6
th         5
eu         5
cy         5
ta         3
lv         3
fi         3
bn         3
mr         3
hu         2
no         2
vi         1
my         1
is         1
ne         1
te         1
fa         1
uk         1
Name: lang, dtype: int64

In [10]:
data[data['lang'] == 'en'].shape

(11229, 40)

In [11]:
data_en = data[data['lang'] == 'en'].reset_index(drop=True)

In [12]:
data_en

,id,is_quote_tweet,quoted_tweet_id,in_reply_to_status_id_str,in_reply_to_user_id_str,in_reply_to_screen_name,lang,place_full_name,place_country_code,coordinates,...,QT_lang,QT_user_id,QT_username,QT_name,QT_location,QT_place_full_name,QT_place_country_code,QT_coordinates,QT_text,QT_full_text
0,1295805209722183684,False,NaN,NaN,NaN,NaN,en,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1295805209545932802,True,1.295540e+18,NaN,NaN,NaN,en,NaN,NaN,NaN,...,en,9.390910e+05,JoeBiden,Joe Biden,"Wilmington, DE",NaN,NaN,NaN,".@AndrewCuomo, thank you for your leadership a...",".@AndrewCuomo, thank you for your leadership a..."
2,1295805210040897536,True,1.295798e+18,NaN,NaN,NaN,en,NaN,NaN,NaN,...,en,3.988421e+08,ITROutlook,ITR Economics®,"Manchester, NH",NaN,NaN,NaN,“Our forecast for the US economy ... reflects ...,“Our forecast for the US economy ... reflects ...
3,1295805209923530763,True,1.295572e+18,NaN,NaN,NaN,en,NaN,NaN,NaN,...,en,5.881261e+07,LOUISAGUIRRE,Louis Aguirre,Los Angeles,NaN,NaN,NaN,Miami Dade’s antiquated storm drain system dum...,Miami Dade’s antiquated storm drain system dum...
4,1295805209634119681,True,1.295673e+18,NaN,NaN,NaN,en,NaN,NaN,NaN,...,en,2.902877e+09,barneyjiri,MANIFESTOR,High frequency,NaN,NaN,NaN,Gold Reef City would make the money they’ve l...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11224,1295806236173238273,False,NaN,NaN,NaN,NaN,en,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11225,1295806236416528384,False,NaN,NaN,NaN,NaN,en,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11226,1295806236349390850,False,NaN,NaN,NaN,NaN,en,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11227,1295806236504535041,False,NaN,NaN,NaN,NaN,en,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11228,1295806236068327424,True,1.295256e+18,NaN,NaN,NaN,en,NaN,NaN,NaN,...,en,3.806486e+08,AFP,AFP news agency,France,NaN,NaN,NaN,Wuhan wave.\n\nPeople watch a performance as t...,NaN

In [13]:
data_en['RT_Flag'] = data_en['text'].str[:2]=='RT'

In [14]:
data_en.shape

(11229, 41)

##### is_quote_tweet --> False --> Non RT

In [15]:
interim = data_en[np.where((data_en['is_quote_tweet']==False) & (data_en['RT_Flag']==False),True,False)].reset_index(drop=True)

In [16]:
interim['extended_tweet_full_text'] = np.where(~interim['truncated'],interim['text'],interim['extended_tweet_full_text'])

In [17]:
interim.shape

(2953, 41)

In [18]:
non_rep = interim[['id','user_id','extended_tweet_full_text']]

In [19]:
non_rep.shape

(2953, 3)

In [20]:
non_rep.drop_duplicates(['id']).shape

(2953, 3)

In [21]:
non_rep = non_rep.drop_duplicates(['id']).reset_index(drop=True)

##### is_quote_tweet --> False --> RT

In [22]:
interim = data_en[np.where((data_en['is_quote_tweet']== False) & (data_en['RT_Flag']== True),True,False)].reset_index(drop=True)

In [23]:
interim.shape

(5589, 41)

In [24]:
interim[['RT_text','RT_full_text']]

,RT_text,RT_full_text
0,Me in Quarantine vs the story I'll tell my gra...,NaN
1,"Trust us. This time the data is good.\n\n2020,...","Trust us. This time the data is good.\n\n2020,..."
2,I can’t believe China is partying and America ...,I can’t believe China is partying and America ...
3,Me in Quarantine vs the story I'll tell my gra...,NaN
4,pregnancy and corona really neck and neck for ...,NaN
...,...,...
5584,"Florida reported 26,164 COVID-19 tests today w...","Florida reported 26,164 COVID-19 tests today w..."
5585,"Happy that netball is back next month, but now...","Happy that netball is back next month, but now..."
5586,"The best ""own"" that Trump has is that Michelle...","The best ""own"" that Trump has is that Michelle..."
5587,Lessons from covid:\n\nLife is an absolute gif...,Lessons from covid:\n\nLife is an absolute gif...
5588,it’s a good thing tattoo parlors are closed du...,it’s a good thing tattoo parlors are closed du...

In [25]:
interim['RT_full_text'] = np.where(interim['RT_full_text'].isna(),interim['RT_text'],interim['RT_full_text'])

In [26]:
interim = interim[['RT_id','RT_user_id','RT_full_text']]

In [27]:
interim.columns = non_rep.columns

In [28]:
interim.shape

(5589, 3)

In [99]:
interim = interim.drop_duplicates(['id','user_id']).reset_index(drop=True)

In [30]:
interim.shape

(2272, 3)

In [31]:
non_rep = non_rep.append(interim,ignore_index=True)

In [32]:
non_rep.shape

(5225, 3)

In [33]:
non_rep['id'].value_counts()

1.295806e+18    2
1.295805e+18    2
1.295806e+18    2
1.295806e+18    2
1.295806e+18    2
               ..
1.294645e+18    1
1.295786e+18    1
1.295572e+18    1
1.295805e+18    1
1.295776e+18    1
Name: id, Length: 5113, dtype: int64

In [34]:
non_rep = non_rep.drop_duplicates(['id']).reset_index(drop=True)

In [35]:
non_rep.shape

(5114, 3)

##### is_quote_tweet --> True --> Non RT

In [36]:
interim = data_en[np.where((data_en['is_quote_tweet']== True) & (data_en['RT_Flag']== False),True,False)].reset_index(drop=True)

In [37]:
interim.shape

(923, 41)

In [38]:
interim['extended_tweet_full_text'] = np.where(~interim['truncated'],interim['text'],interim['extended_tweet_full_text'])

In [39]:
interim[['text','extended_tweet_full_text']]

,text,extended_tweet_full_text
0,The economic recovery that's unfolding before ...,The economic recovery that's unfolding before ...
1,This is where we launch the Little River Clean...,This is where we launch the Little River Clean...
2,Some good things to come out of the pandemic! ...,Some good things to come out of the pandemic! ...
3,Everything you don’t like is a “threat to our ...,Everything you don’t like is a “threat to our ...
4,Damn they let someone come with you doing Covi...,Damn they let someone come with you doing Covi...
...,...,...
918,49 deaths RECORDED in 2 weeks.,49 deaths RECORDED in 2 weeks.
919,"Keep it up, my friend 😀","Keep it up, my friend 😀"
920,Sir we pg medical students of knruhs requestin...,Sir we pg medical students of knruhs requestin...
921,"Vote register pack a lunch , get a mask and st...","Vote register pack a lunch , get a mask and st..."
922,I—-we ain’t never goin off quarantine,I—-we ain’t never goin off quarantine

In [40]:
interim = interim[['id','user_id','extended_tweet_full_text']]

In [41]:
interim.columns = non_rep.columns

In [42]:
interim.shape

(923, 3)

In [43]:
interim

,id,user_id,extended_tweet_full_text
0,1295805210040897536,2559377299,The economic recovery that's unfolding before ...
1,1295805209923530763,1184132670999150592,This is where we launch the Little River Clean...
2,1295805211315904513,979188812529262592,Some good things to come out of the pandemic! ...
3,1295805211920015360,1118359980,Everything you don’t like is a “threat to our ...
4,1295805210758197248,2721123053,Damn they let someone come with you doing Covi...
...,...,...,...
918,1295806231983136768,58463472,49 deaths RECORDED in 2 weeks.
919,1295806233337790465,1166449700003811329,"Keep it up, my friend 😀"
920,1295806233673232384,1295803129347227648,Sir we pg medical students of knruhs requestin...
921,1295806233941770244,1269729626001231872,"Vote register pack a lunch , get a mask and st..."
922,1295806236068327424,869568408395943939,I—-we ain’t never goin off quarantine

In [44]:
interim = interim.drop_duplicates(['id','user_id']).reset_index(drop=True)

In [45]:
interim.shape

(923, 3)

In [46]:
non_rep = non_rep.append(interim,ignore_index=True)

In [47]:
non_rep.shape

(6037, 3)

In [48]:
non_rep = non_rep.drop_duplicates(['id']).reset_index(drop=True)

In [49]:
non_rep.shape

(6036, 3)

In [50]:
interim = data_en[np.where((data_en['is_quote_tweet']== True) & (data_en['RT_Flag']== False),True,False)].reset_index(drop=True)

In [51]:
interim.shape

(923, 41)

In [52]:
interim[['QT_text','QT_full_text']]

,QT_text,QT_full_text
0,“Our forecast for the US economy ... reflects ...,“Our forecast for the US economy ... reflects ...
1,Miami Dade’s antiquated storm drain system dum...,Miami Dade’s antiquated storm drain system dum...
2,Our Department will be opening up many of its ...,Our Department will be opening up many of its ...
3,I’m on a call with @SenBobCasey and @PAAttorne...,I’m on a call with @SenBobCasey and @PAAttorne...
4,my bf never missed a apt❤️ except for today ca...,NaN
...,...,...
918,UPDATE: COVID-19 cases in Ghana\n\nConfirmed -...,NaN
919,Never thought I would see the day I was sharin...,Never thought I would see the day I was sharin...
920,"కావాల్సిన మందులు, పరికరాలు, ఇంజక్షన్లు, వెంటిల...","కావాల్సిన మందులు, పరికరాలు, ఇంజక్షన్లు, వెంటిల..."
921,@realDonaldTrump The Trump Virus is making Ame...,@realDonaldTrump The Trump Virus is making Ame...
922,Wuhan wave.\n\nPeople watch a performance as t...,NaN

In [53]:
interim['QT_full_text'] = np.where(interim['QT_full_text'].isna(),interim['QT_text'],interim['QT_full_text'])

In [54]:
interim.shape

(923, 41)

In [55]:
interim[['QT_text','QT_full_text']]

,QT_text,QT_full_text
0,“Our forecast for the US economy ... reflects ...,“Our forecast for the US economy ... reflects ...
1,Miami Dade’s antiquated storm drain system dum...,Miami Dade’s antiquated storm drain system dum...
2,Our Department will be opening up many of its ...,Our Department will be opening up many of its ...
3,I’m on a call with @SenBobCasey and @PAAttorne...,I’m on a call with @SenBobCasey and @PAAttorne...
4,my bf never missed a apt❤️ except for today ca...,my bf never missed a apt❤️ except for today ca...
...,...,...
918,UPDATE: COVID-19 cases in Ghana\n\nConfirmed -...,UPDATE: COVID-19 cases in Ghana\n\nConfirmed -...
919,Never thought I would see the day I was sharin...,Never thought I would see the day I was sharin...
920,"కావాల్సిన మందులు, పరికరాలు, ఇంజక్షన్లు, వెంటిల...","కావాల్సిన మందులు, పరికరాలు, ఇంజక్షన్లు, వెంటిల..."
921,@realDonaldTrump The Trump Virus is making Ame...,@realDonaldTrump The Trump Virus is making Ame...
922,Wuhan wave.\n\nPeople watch a performance as t...,Wuhan wave.\n\nPeople watch a performance as t...

In [56]:
interim = interim[['QT_id','QT_user_id','QT_full_text']]

In [57]:
interim.columns = non_rep.columns

In [58]:
interim

,id,user_id,extended_tweet_full_text
0,1.295798e+18,3.988421e+08,“Our forecast for the US economy ... reflects ...
1,1.295572e+18,5.881261e+07,Miami Dade’s antiquated storm drain system dum...
2,1.295707e+18,7.054442e+17,Our Department will be opening up many of its ...
3,1.295789e+18,2.978838e+09,I’m on a call with @SenBobCasey and @PAAttorne...
4,1.295805e+18,1.245075e+18,my bf never missed a apt❤️ except for today ca...
...,...,...,...
918,1.295805e+18,1.200873e+18,UPDATE: COVID-19 cases in Ghana\n\nConfirmed -...
919,1.295721e+18,1.207341e+18,Never thought I would see the day I was sharin...
920,1.295729e+18,2.558684e+09,"కావాల్సిన మందులు, పరికరాలు, ఇంజక్షన్లు, వెంటిల..."
921,1.295793e+18,1.225147e+18,@realDonaldTrump The Trump Virus is making Ame...
922,1.295256e+18,3.806486e+08,Wuhan wave.\n\nPeople watch a performance as t...

In [59]:
interim = interim.drop_duplicates(['id','user_id']).reset_index(drop=True)

In [60]:
interim.shape

(680, 3)

In [61]:
non_rep = non_rep.append(interim,ignore_index=True)

In [62]:
non_rep.shape

(6716, 3)

In [63]:
non_rep = non_rep.drop_duplicates(['id']).reset_index(drop=True)

In [64]:
non_rep.shape

(6553, 3)

##### is_quote_tweet --> True --> RT

In [65]:
interim = data_en[np.where((data_en['is_quote_tweet']== True) & (data_en['RT_Flag']== True),True,False)].reset_index(drop=True)

In [66]:
interim.shape

(1764, 41)

In [67]:
interim[['RT_text','RT_full_text']]

,RT_text,RT_full_text
0,Biden thanks Cuomo. The AP recently estimated ...,Biden thanks Cuomo. The AP recently estimated ...
1,Nothing that includes men at night is worth it,NaN
2,".If they can't count tests properly, how can t...",NaN
3,Remember..Kim Klacik's husband Jeff Klacik is ...,Remember..Kim Klacik's husband Jeff Klacik is ...
4,The “I want female rappers with substance” cro...,NaN
...,...,...
1759,@drharshvardhan @myogiadityanath @republic @Re...,@drharshvardhan @myogiadityanath @republic @Re...
1760,Join us tonight at 8pm! Let's talk about back ...,NaN
1761,"How BLOODY CORRUPT doe's it have to be, Wuhan ...",NaN
1762,"More than 10,000 Texans have died from covid, ...","More than 10,000 Texans have died from covid, ..."
1763,Freeport need a hospital ASAP\n\nRehire all ju...,Freeport need a hospital ASAP\n\nRehire all ju...

In [68]:
interim['RT_full_text'] = np.where(interim['RT_full_text'].isna(),interim['RT_text'],interim['RT_full_text'])

In [69]:
interim.shape

(1764, 41)

In [70]:
interim[['RT_text','RT_full_text']]

,RT_text,RT_full_text
0,Biden thanks Cuomo. The AP recently estimated ...,Biden thanks Cuomo. The AP recently estimated ...
1,Nothing that includes men at night is worth it,Nothing that includes men at night is worth it
2,".If they can't count tests properly, how can t...",".If they can't count tests properly, how can t..."
3,Remember..Kim Klacik's husband Jeff Klacik is ...,Remember..Kim Klacik's husband Jeff Klacik is ...
4,The “I want female rappers with substance” cro...,The “I want female rappers with substance” cro...
...,...,...
1759,@drharshvardhan @myogiadityanath @republic @Re...,@drharshvardhan @myogiadityanath @republic @Re...
1760,Join us tonight at 8pm! Let's talk about back ...,Join us tonight at 8pm! Let's talk about back ...
1761,"How BLOODY CORRUPT doe's it have to be, Wuhan ...","How BLOODY CORRUPT doe's it have to be, Wuhan ..."
1762,"More than 10,000 Texans have died from covid, ...","More than 10,000 Texans have died from covid, ..."
1763,Freeport need a hospital ASAP\n\nRehire all ju...,Freeport need a hospital ASAP\n\nRehire all ju...

In [71]:
interim = interim[['RT_id','RT_user_id','RT_full_text']]

In [72]:
interim.columns = non_rep.columns

In [73]:
interim

,id,user_id,extended_tweet_full_text
0,1.295540e+18,5.919733e+08,Biden thanks Cuomo. The AP recently estimated ...
1,1.295752e+18,1.699632e+09,Nothing that includes men at night is worth it
2,1.295743e+18,1.254551e+08,".If they can't count tests properly, how can t..."
3,1.295800e+18,1.694849e+07,Remember..Kim Klacik's husband Jeff Klacik is ...
4,1.295401e+18,2.975633e+07,The “I want female rappers with substance” cro...
...,...,...,...
1759,1.295806e+18,1.247131e+18,@drharshvardhan @myogiadityanath @republic @Re...
1760,1.295782e+18,5.495877e+08,Join us tonight at 8pm! Let's talk about back ...
1761,1.295723e+18,1.249334e+18,"How BLOODY CORRUPT doe's it have to be, Wuhan ..."
1762,1.295806e+18,3.428633e+08,"More than 10,000 Texans have died from covid, ..."
1763,1.295778e+18,7.660720e+17,Freeport need a hospital ASAP\n\nRehire all ju...

In [74]:
interim = interim.drop_duplicates(['id','user_id']).reset_index(drop=True)

In [75]:
interim.shape

(812, 3)

In [76]:
non_rep = non_rep.append(interim,ignore_index=True)

In [77]:
non_rep.shape

(7365, 3)

In [78]:
non_rep = non_rep.drop_duplicates(['id']).reset_index(drop=True)

In [79]:
non_rep.shape

(7297, 3)

In [80]:
interim = data_en[np.where((data_en['is_quote_tweet']== True) & (data_en['RT_Flag']== True),True,False)].reset_index(drop=True)

In [81]:
interim.shape

(1764, 41)

In [82]:
interim[['QT_text','QT_full_text']]

,QT_text,QT_full_text
0,".@AndrewCuomo, thank you for your leadership a...",".@AndrewCuomo, thank you for your leadership a..."
1,Gold Reef City would make the money they’ve l...,NaN
2,North Carolina is now reporting they OVERCOUNT...,NaN
3,Data shows a low % of children in single paren...,Data shows a low % of children in single paren...
4,Watch @iamCardiB and @JoeBiden talk police bru...,NaN
...,...,...
1759,Lakhs of students asking you for NOT taking Ex...,Lakhs of students asking you for NOT taking Ex...
1760,Join us Tuesday for an important back-to-schoo...,NaN
1761,"Due to the laughable ""recount"" of deaths in th...","Due to the laughable ""recount"" of deaths in th..."
1762,"As an ER doc, I've seen countless people die f...","As an ER doc, I've seen countless people die f..."
1763,https://t.co/K25QaQYTtz,NaN

In [83]:
interim['QT_full_text'] = np.where(interim['QT_full_text'].isna(),interim['QT_text'],interim['QT_full_text'])

In [84]:
interim.shape

(1764, 41)

In [85]:
interim[['QT_text','QT_full_text']]

,QT_text,QT_full_text
0,".@AndrewCuomo, thank you for your leadership a...",".@AndrewCuomo, thank you for your leadership a..."
1,Gold Reef City would make the money they’ve l...,Gold Reef City would make the money they’ve l...
2,North Carolina is now reporting they OVERCOUNT...,North Carolina is now reporting they OVERCOUNT...
3,Data shows a low % of children in single paren...,Data shows a low % of children in single paren...
4,Watch @iamCardiB and @JoeBiden talk police bru...,Watch @iamCardiB and @JoeBiden talk police bru...
...,...,...
1759,Lakhs of students asking you for NOT taking Ex...,Lakhs of students asking you for NOT taking Ex...
1760,Join us Tuesday for an important back-to-schoo...,Join us Tuesday for an important back-to-schoo...
1761,"Due to the laughable ""recount"" of deaths in th...","Due to the laughable ""recount"" of deaths in th..."
1762,"As an ER doc, I've seen countless people die f...","As an ER doc, I've seen countless people die f..."
1763,https://t.co/K25QaQYTtz,https://t.co/K25QaQYTtz

In [86]:
interim = interim[['QT_id','QT_user_id','QT_full_text']]

In [87]:
interim.columns = non_rep.columns

In [88]:
interim

,id,user_id,extended_tweet_full_text
0,1.295540e+18,9.390910e+05,".@AndrewCuomo, thank you for your leadership a..."
1,1.295673e+18,2.902877e+09,Gold Reef City would make the money they’ve l...
2,1.295721e+18,1.196555e+08,North Carolina is now reporting they OVERCOUNT...
3,1.295315e+18,1.259714e+09,Data shows a low % of children in single paren...
4,1.295368e+18,2.397873e+07,Watch @iamCardiB and @JoeBiden talk police bru...
...,...,...,...
1759,1.295692e+18,1.421498e+09,Lakhs of students asking you for NOT taking Ex...
1760,1.295004e+18,3.486331e+08,Join us Tuesday for an important back-to-schoo...
1761,1.295096e+18,2.666017e+09,"Due to the laughable ""recount"" of deaths in th..."
1762,1.295278e+18,9.539242e+17,"As an ER doc, I've seen countless people die f..."
1763,1.295766e+18,1.027784e+08,https://t.co/K25QaQYTtz

In [89]:
interim = interim.drop_duplicates(['id','user_id']).reset_index(drop=True)

In [90]:
interim.shape

(641, 3)

In [91]:
non_rep = non_rep.append(interim,ignore_index=True)

In [92]:
non_rep.shape

(7938, 3)

In [93]:
non_rep = non_rep.drop_duplicates(['id']).reset_index(drop=True)

In [94]:
non_rep.shape

(7746, 3)

In [ ]:
non_rep.to_csv('final(Cleaned)_h01-20200912-101538.csv',index=False)

# Checking

In [128]:
path = '/home/manikya_varshney/Documents/Python/Yale/h01-20200818-10files/h01-20200818-153021.csv'
data = pd.read_csv(path, low_memory=False)

In [129]:
data.shape

(19992, 79)

In [130]:
data = data[data['lang']=='en'].reset_index(drop=True)

In [131]:
data.shape

(11229, 79)

In [ ]:
f = pd.DataFrame({'tweet':np.where(~data['truncated'],data['text'],data['extended_tweet_full_text'])})

In [ ]:
f =f['tweet'].append(pd.Series(np.where(data['RT_full_text'].isna(),data['RT_text'],data['RT_full_text'])),ignore_index=True)

In [ ]:
f = f.append(pd.Series(np.where(data['QT_full_text'].isna(),data['QT_text'],data['QT_full_text'])),ignore_index=True)

In [ ]:
f

In [ ]:
f[~f.isna()].reset_index(drop=True).str.strip('RT').drop_duplicates()

In [ ]:
f = f[~f.isna()].reset_index(drop=True).str.strip('RT').drop_duplicates()

In [ ]:
f

In [ ]:
f = data['id'].append(data['RT_id'],ignore_index=True).append(data['QT_id'],ignore_index=True)

In [ ]:
f[~f.isna()].astype(int).reset_index(drop=True).drop_duplicates()

In [ ]:
f = f[~f.isna()].astype(int).reset_index(drop=True).drop_duplicates()

In [ ]:
f