In [196]:
import pandas as pd
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
import string
import sklearn
import numpy as np
import time

import nltk
from nltk import pos_tag, pos_tag_sents
from nltk.corpus import stopwords
from nltk.corpus import wordnet
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
nltk.download('stopwords')
stop_words = set(stopwords.words('english')) - set(['at', 'do', 'your', 'from', 'to', 'out', 'no', 'the'])

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/manikya_varshney/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
start = time.time()
path = '/home/manikya_varshney/Documents/Python/Yale/Final Data/Final Date Merged/(Final)August18th.csv'
outpath = '/home/manikya_varshney/Documents/Python/Yale/Final Data/All Facets Merged/(Merged)August18th.csv'
data = pd.read_csv(path, index_col=None, header=0, engine='python')
data_Imp = data.copy()
data_Ada = data.copy()
data_Ne = data.copy()
data_Sd = data.copy()
data_Purp = data.copy()
data_Pe = data.copy()
end = time.time()
print("Read csv with pandas: ",(end-start),"sec")

Read csv with pandas:  2.381568431854248 sec

# 1_Implementation

stay at home
do your part
Responsible
home
house
cancel
shutdown
postpone
school closure
Closure
business closure
suspension
quarantine
lockdown
social distance
social distancing
self quarantine
isolat
6-feet
distance
#clubquarantine
#quarantinelife
#quarantineacitivites

In [3]:
keywords_Imp = ['stay at home' , 'do your part', 'Responsible', 
            'home', 'house', 'cancel', 'shutdown', 'postpone',
            'school closure', 'Closure', 'business closure',
            'suspension', 'quarantine', 'lockdown', 'social distance', 
            'social distancing', 'self quarantine', 'isolat', '6-feet',
            'distance', '#clubquarantine', '#quarantinelife', '#quarantineacitivites']

In [4]:
#Convert to lower
for i in range(len(keywords_Imp)): 
    keywords_Imp[i] = keywords_Imp[i].lower()

#Remove punctuations   
for i in range(len(keywords_Imp)): 
    keywords_Imp[i] = keywords_Imp[i].translate(str.maketrans('','',string.punctuation))

#More cleaning
for i in range(len(keywords_Imp)): 
    keywords_Imp[i] = keywords_Imp[i].replace('/[^a-zA-Z0-9 ]/g', '').replace('\n',' ').strip('“').strip('“').strip('’').lstrip(' ').rstrip(' ')

#Tokenize
#keywords_Imp_tokens = [sub.split() for sub in keywords_Imp] 

#Remove stop words
def remove_stopwords(data):
    output_array=[]
    for sentence in data:
        temp_list=[]
        for word in sentence.split():
            if word not in stop_words:
                temp_list.append(word)
        output_array.append(' '.join(temp_list))
    return output_array

keywords_Imp_filtered=remove_stopwords(keywords_Imp)

#Stemming
ps = PorterStemmer()
keywords_Imp_stem = [[ps.stem(word) for word in sentence.split(" ")] for sentence in keywords_Imp_filtered]
keywords_Imp_stem = [" ".join(sentence) for sentence in keywords_Imp_stem]

#Lemmetizing

#POSTags
def get_wordnet_pos(word):
    """Map POS tag to first character lemmatize() accepts"""
    tag = nltk.pos_tag([word])[0][1][0].upper()
    tag_dict = {"J": wordnet.ADJ, "N": wordnet.NOUN, "V": wordnet.VERB, "R": wordnet.ADV}
    return tag_dict.get(tag, wordnet.NOUN)

lemmatizer = WordNetLemmatizer()
keywords_Imp_lem = [[lemmatizer.lemmatize(y, get_wordnet_pos(y)) for y in sentence.split(" ")] for sentence in keywords_Imp_filtered]
keywords_Imp_final = [" ".join(sentence) for sentence in keywords_Imp_lem]

data_Imp['final'] = data_Imp['final'].apply(str)
choices = data_Imp['final'].tolist()

In [5]:
data_Imp

,created_at,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final,Date_Flag
0,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,1.278716e+18,NaN,NaN,can we wear clone helmets instead of masks to ...,wear clone helmet instead mask to school,True
1,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,9.191072e+08,NaN,"Myrtle Beach, SC",SC Senate to reconvene in Sept. to discuss COV...,sc senate to reconvene sept to discus covid19 ...,True
2,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,4.378954e+08,NaN,"Roseville, CA","@JohnAvlon During the COVID-19 crisis, Pres. T...",the covid19 crisis pres trump always honest se...,True
3,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,2.580088e+09,NaN,NaN,We just gonna act like @JamesStormBrand wasn’t...,gon na act like ahead the curve sell face mas...,True
4,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,8.560174e+07,NaN,"Honolulu, Hawaii",The COVID-19 pandemic has created unprecedente...,the covid19 pandemic create unprecedented barr...,True
...,...,...,...,...,...,...,...,...
219776,Tue Aug 18 23:56:21 +0000 2020,1.294549e+18,1.697333e+07,NaN,"London, England",Thousands in pre-dawn scramble to beat France ...,thousand predawn scramble to beat france quara...,True
219777,Tue Aug 18 23:56:22 +0000 2020,1.295594e+18,8.591716e+08,NaN,Corvallis OR,Do you all ever realize that we are in the mid...,do ever realize the middle revolution fuck pan...,True
219778,Tue Aug 18 23:56:42 +0000 2020,1.295392e+18,5.676725e+07,NaN,"Chicago, IL",Bears coach Matt Nagy wore a mask the entire p...,bear coach matt nagy wore mask the entire prac...,True
219779,Tue Aug 18 23:56:53 +0000 2020,1.288855e+18,1.618015e+08,NaN,"Seattle, WA",The world’s #COVID19 response is based on inco...,the world covid19 response base incomplete se...,True
219780,Tue Aug 18 23:57:03 +0000 2020,1.295370e+18,2.559617e+07,NaN,"San Diego, CA",San Diego County eligible to exit state monito...,san diego county eligible to exit state monito...,True

In [6]:
data_Imp['final'].isna().value_counts()

False    219177
True        604
Name: final, dtype: int64

In [7]:
 def fuzzy_Imp(row):
        keyword_match_Imp, score_Imp = process.extractOne(row['final'], keywords_Imp_final, scorer = fuzz.partial_ratio)
        row['final_score_Imp'] = score_Imp
        row['final_keyword_match_Imp'] = keyword_match_Imp
        return row

In [8]:
nan_value = float("NaN")
data_Imp['final'].replace("", nan_value, inplace=True)

In [9]:
data_Imp.dropna(subset = ["final"], inplace=True)

In [10]:
data_Imp

,created_at,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final,Date_Flag
0,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,1.278716e+18,NaN,NaN,can we wear clone helmets instead of masks to ...,wear clone helmet instead mask to school,True
1,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,9.191072e+08,NaN,"Myrtle Beach, SC",SC Senate to reconvene in Sept. to discuss COV...,sc senate to reconvene sept to discus covid19 ...,True
2,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,4.378954e+08,NaN,"Roseville, CA","@JohnAvlon During the COVID-19 crisis, Pres. T...",the covid19 crisis pres trump always honest se...,True
3,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,2.580088e+09,NaN,NaN,We just gonna act like @JamesStormBrand wasn’t...,gon na act like ahead the curve sell face mas...,True
4,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,8.560174e+07,NaN,"Honolulu, Hawaii",The COVID-19 pandemic has created unprecedente...,the covid19 pandemic create unprecedented barr...,True
...,...,...,...,...,...,...,...,...
219776,Tue Aug 18 23:56:21 +0000 2020,1.294549e+18,1.697333e+07,NaN,"London, England",Thousands in pre-dawn scramble to beat France ...,thousand predawn scramble to beat france quara...,True
219777,Tue Aug 18 23:56:22 +0000 2020,1.295594e+18,8.591716e+08,NaN,Corvallis OR,Do you all ever realize that we are in the mid...,do ever realize the middle revolution fuck pan...,True
219778,Tue Aug 18 23:56:42 +0000 2020,1.295392e+18,5.676725e+07,NaN,"Chicago, IL",Bears coach Matt Nagy wore a mask the entire p...,bear coach matt nagy wore mask the entire prac...,True
219779,Tue Aug 18 23:56:53 +0000 2020,1.288855e+18,1.618015e+08,NaN,"Seattle, WA",The world’s #COVID19 response is based on inco...,the world covid19 response base incomplete se...,True
219780,Tue Aug 18 23:57:03 +0000 2020,1.295370e+18,2.559617e+07,NaN,"San Diego, CA",San Diego County eligible to exit state monito...,san diego county eligible to exit state monito...,True

In [11]:
interim_Imp = data_Imp.apply(fuzzy_Imp, axis=1)

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '※']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '‍']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '→ →']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '·']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '… … ‼']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '‍']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '‍‍‍']

In [12]:
interim_Imp

,created_at,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final,Date_Flag,final_score_Imp,final_keyword_match_Imp
0,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,1.278716e+18,NaN,NaN,can we wear clone helmets instead of masks to ...,wear clone helmet instead mask to school,True,60,6feet
1,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,9.191072e+08,NaN,"Myrtle Beach, SC",SC Senate to reconvene in Sept. to discuss COV...,sc senate to reconvene sept to discus covid19 ...,True,60,6feet
2,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,4.378954e+08,NaN,"Roseville, CA","@JohnAvlon During the COVID-19 crisis, Pres. T...",the covid19 crisis pres trump always honest se...,True,75,home
3,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,2.580088e+09,NaN,NaN,We just gonna act like @JamesStormBrand wasn’t...,gon na act like ahead the curve sell face mas...,True,57,closure
4,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,8.560174e+07,NaN,"Honolulu, Hawaii",The COVID-19 pandemic has created unprecedente...,the covid19 pandemic create unprecedented barr...,True,58,stay at home
...,...,...,...,...,...,...,...,...,...,...
219776,Tue Aug 18 23:56:21 +0000 2020,1.294549e+18,1.697333e+07,NaN,"London, England",Thousands in pre-dawn scramble to beat France ...,thousand predawn scramble to beat france quara...,True,100,quarantine
219777,Tue Aug 18 23:56:22 +0000 2020,1.295594e+18,8.591716e+08,NaN,Corvallis OR,Do you all ever realize that we are in the mid...,do ever realize the middle revolution fuck pan...,True,50,do your part
219778,Tue Aug 18 23:56:42 +0000 2020,1.295392e+18,5.676725e+07,NaN,"Chicago, IL",Bears coach Matt Nagy wore a mask the entire p...,bear coach matt nagy wore mask the entire prac...,True,60,6feet
219779,Tue Aug 18 23:56:53 +0000 2020,1.288855e+18,1.618015e+08,NaN,"Seattle, WA",The world’s #COVID19 response is based on inco...,the world covid19 response base incomplete se...,True,73,responsible
219780,Tue Aug 18 23:57:03 +0000 2020,1.295370e+18,2.559617e+07,NaN,"San Diego, CA",San Diego County eligible to exit state monito...,san diego county eligible to exit state monito...,True,50,stay at home

In [13]:
denominator_Imp = interim_Imp.shape[0]

In [14]:
interim_Imp['final_score_Imp'] = interim_Imp['final_score_Imp'].astype(int)

In [15]:
interim_Imp = interim_Imp[interim_Imp['final_score_Imp'] == 100].reset_index(drop=True)

In [16]:
interim_Imp

,created_at,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final,Date_Flag,final_score_Imp,final_keyword_match_Imp
0,Tue Aug 18 19:30:12 +0000 2020,1.295805e+18,2.232332e+07,NaN,Nairobi/Kyiv/Nassau/Kosovo,"Hey, friends. . . I know a lot of y'all #homes...",hey friend know lot yall homeschool supportive...,True,100,home
1,Tue Aug 18 19:30:12 +0000 2020,1.295805e+18,2.492172e+08,NaN,NaN,#TodayInLatinAmerica: Thousands of Argentines ...,todayinlatinamerica thousand argentine protest...,True,100,lockdown
2,Tue Aug 18 19:30:12 +0000 2020,1.295805e+18,1.466334e+07,NaN,New York,"Antonio Argibay, AIA, managing principal of Me...",antonio argibay aia manage principal meridian ...,True,100,home
3,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,7.136334e+07,NaN,NaN,#VIU prof. Dr. Aggie Weighill needs your input...,viu prof dr aggie weighill need your input can...,True,100,distance
4,Tue Aug 18 19:30:12 +0000 2020,1.295805e+18,1.210700e+18,NaN,NaN,Why the Lockdown Should Last Longer https://t....,the lockdown last longer via hilarious,True,100,lockdown
...,...,...,...,...,...,...,...,...,...,...
34158,Tue Aug 18 23:53:13 +0000 2020,1.293540e+18,2.878549e+07,NaN,New York City / Worldwide,"NEW: More than 1,000 students in a single Geor...",new 1000 student single georgia school distric...,True,100,quarantine
34159,Tue Aug 18 23:54:59 +0000 2020,1.295830e+18,2.237212e+07,NaN,NaN,The roommate of my daughter was on the flight ...,the roommate daughter the flight from cairo au...,True,100,home
34160,Tue Aug 18 23:55:55 +0000 2020,1.295197e+18,3.304533e+09,NaN,NaN,"@Minumuss lol, \n#covidiots \nyou test negativ...",lol covidiots test negative start isolation lm...,True,100,isolat
34161,Tue Aug 18 23:56:06 +0000 2020,1.294704e+18,1.681304e+07,NaN,Los Angeles,San Diego County has the fewest positive Covid...,san diego county the few positive covid patien...,True,100,lockdown
34162,Tue Aug 18 23:56:21 +0000 2020,1.294549e+18,1.697333e+07,NaN,"London, England",Thousands in pre-dawn scramble to beat France ...,thousand predawn scramble to beat france quara...,True,100,quarantine

In [17]:
numerator_Imp = interim_Imp.shape[0]

In [18]:
proportion_Imp = (numerator_Imp/denominator_Imp)
print(proportion_Imp)

0.15586945710544445

# 2_Adaptation

school from home
learn
remote
school food service
online shopping
online purchase
online church
delivery
drive thru
to go
take out
Tiktok
Netflix
telework
zoom
telehealth
telemedicine
teleconference
work from home
wfh
working at home
working remotely
online meeting

In [19]:
keywords_Ada = ['school from home' , 'learn', 'remote', 'school food service', 
            'online shopping', 'online purchase', 'online church', 'delivery',
            'drive thru', 'to go', 'take out', 'Tiktok', 'Netflix', 'telework', 
            'zoom', 'telehealth', 'telemedicine', 'work from home', 'wfh',
            'working at home', 'working remotely', 'online meeting']

In [20]:
#Convert to lower
for i in range(len(keywords_Ada)): 
    keywords_Ada[i] = keywords_Ada[i].lower()

#Remove punctuations   
for i in range(len(keywords_Ada)): 
    keywords_Ada[i] = keywords_Ada[i].translate(str.maketrans('','',string.punctuation))

#More cleaning
for i in range(len(keywords_Ada)): 
    keywords_Ada[i] = keywords_Ada[i].replace('/[^a-zA-Z0-9 ]/g', '').replace('\n',' ').strip('“').strip('“').strip('’').lstrip(' ').rstrip(' ')

#Tokenize
#keywords_Ada_tokens = [sub.split() for sub in keywords_Ada] 

#Remove stop words
def remove_stopwords(data):
    output_array=[]
    for sentence in data:
        temp_list=[]
        for word in sentence.split():
            if word not in stop_words:
                temp_list.append(word)
        output_array.append(' '.join(temp_list))
    return output_array

keywords_Ada_filtered=remove_stopwords(keywords_Ada)

#Stemming
ps = PorterStemmer()
keywords_Ada_stem = [[ps.stem(word) for word in sentence.split(" ")] for sentence in keywords_Ada_filtered]
keywords_Ada_stem = [" ".join(sentence) for sentence in keywords_Ada_stem]

#Lemmetizing

#POSTags
def get_wordnet_pos(word):
    """Map POS tag to first character lemmatize() accepts"""
    tag = nltk.pos_tag([word])[0][1][0].upper()
    tag_dict = {"J": wordnet.ADJ, "N": wordnet.NOUN, "V": wordnet.VERB, "R": wordnet.ADV}
    return tag_dict.get(tag, wordnet.NOUN)

lemmatizer = WordNetLemmatizer()
keywords_Ada_lem = [[lemmatizer.lemmatize(y, get_wordnet_pos(y)) for y in sentence.split(" ")] for sentence in keywords_Ada_filtered]
keywords_Ada_final = [" ".join(sentence) for sentence in keywords_Ada_lem]

data_Ada['final'] = data_Ada['final'].apply(str)
choices = data_Ada['final'].tolist()

In [21]:
data_Ada

,created_at,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final,Date_Flag
0,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,1.278716e+18,NaN,NaN,can we wear clone helmets instead of masks to ...,wear clone helmet instead mask to school,True
1,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,9.191072e+08,NaN,"Myrtle Beach, SC",SC Senate to reconvene in Sept. to discuss COV...,sc senate to reconvene sept to discus covid19 ...,True
2,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,4.378954e+08,NaN,"Roseville, CA","@JohnAvlon During the COVID-19 crisis, Pres. T...",the covid19 crisis pres trump always honest se...,True
3,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,2.580088e+09,NaN,NaN,We just gonna act like @JamesStormBrand wasn’t...,gon na act like ahead the curve sell face mas...,True
4,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,8.560174e+07,NaN,"Honolulu, Hawaii",The COVID-19 pandemic has created unprecedente...,the covid19 pandemic create unprecedented barr...,True
...,...,...,...,...,...,...,...,...
219776,Tue Aug 18 23:56:21 +0000 2020,1.294549e+18,1.697333e+07,NaN,"London, England",Thousands in pre-dawn scramble to beat France ...,thousand predawn scramble to beat france quara...,True
219777,Tue Aug 18 23:56:22 +0000 2020,1.295594e+18,8.591716e+08,NaN,Corvallis OR,Do you all ever realize that we are in the mid...,do ever realize the middle revolution fuck pan...,True
219778,Tue Aug 18 23:56:42 +0000 2020,1.295392e+18,5.676725e+07,NaN,"Chicago, IL",Bears coach Matt Nagy wore a mask the entire p...,bear coach matt nagy wore mask the entire prac...,True
219779,Tue Aug 18 23:56:53 +0000 2020,1.288855e+18,1.618015e+08,NaN,"Seattle, WA",The world’s #COVID19 response is based on inco...,the world covid19 response base incomplete se...,True
219780,Tue Aug 18 23:57:03 +0000 2020,1.295370e+18,2.559617e+07,NaN,"San Diego, CA",San Diego County eligible to exit state monito...,san diego county eligible to exit state monito...,True

In [22]:
 def fuzzy_Ada(row):
        keyword_match_Ada, score_Ada = process.extractOne(row['final'], keywords_Ada_final, scorer = fuzz.partial_ratio)
        row['final_score_Ada'] = score_Ada
        row['final_keyword_match_Ada'] = keyword_match_Ada
        return row

In [23]:
nan_value = float("NaN")
data_Ada['final'].replace("", nan_value, inplace=True)

In [24]:
data_Ada.dropna(subset = ["final"], inplace=True)

In [25]:
data_Ada

,created_at,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final,Date_Flag
0,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,1.278716e+18,NaN,NaN,can we wear clone helmets instead of masks to ...,wear clone helmet instead mask to school,True
1,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,9.191072e+08,NaN,"Myrtle Beach, SC",SC Senate to reconvene in Sept. to discuss COV...,sc senate to reconvene sept to discus covid19 ...,True
2,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,4.378954e+08,NaN,"Roseville, CA","@JohnAvlon During the COVID-19 crisis, Pres. T...",the covid19 crisis pres trump always honest se...,True
3,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,2.580088e+09,NaN,NaN,We just gonna act like @JamesStormBrand wasn’t...,gon na act like ahead the curve sell face mas...,True
4,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,8.560174e+07,NaN,"Honolulu, Hawaii",The COVID-19 pandemic has created unprecedente...,the covid19 pandemic create unprecedented barr...,True
...,...,...,...,...,...,...,...,...
219776,Tue Aug 18 23:56:21 +0000 2020,1.294549e+18,1.697333e+07,NaN,"London, England",Thousands in pre-dawn scramble to beat France ...,thousand predawn scramble to beat france quara...,True
219777,Tue Aug 18 23:56:22 +0000 2020,1.295594e+18,8.591716e+08,NaN,Corvallis OR,Do you all ever realize that we are in the mid...,do ever realize the middle revolution fuck pan...,True
219778,Tue Aug 18 23:56:42 +0000 2020,1.295392e+18,5.676725e+07,NaN,"Chicago, IL",Bears coach Matt Nagy wore a mask the entire p...,bear coach matt nagy wore mask the entire prac...,True
219779,Tue Aug 18 23:56:53 +0000 2020,1.288855e+18,1.618015e+08,NaN,"Seattle, WA",The world’s #COVID19 response is based on inco...,the world covid19 response base incomplete se...,True
219780,Tue Aug 18 23:57:03 +0000 2020,1.295370e+18,2.559617e+07,NaN,"San Diego, CA",San Diego County eligible to exit state monito...,san diego county eligible to exit state monito...,True

In [26]:
interim_Ada = data_Ada.apply(fuzzy_Ada, axis=1)

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '※']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '‍']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '→ →']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '·']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '… … ‼']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '‍']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '‍‍‍']

In [27]:
denominator_Ada = interim_Ada.shape[0]

In [28]:
interim_Ada['final_score_Ada'] = interim_Ada['final_score_Ada'].astype(int)

In [29]:
interim_Ada = interim_Ada[interim_Ada['final_score_Ada'] == 100].reset_index(drop=True)

In [30]:
interim_Ada

,created_at,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final,Date_Flag,final_score_Ada,final_keyword_match_Ada
0,Tue Aug 18 19:30:12 +0000 2020,1.295805e+18,1.466334e+07,NaN,New York,"Antonio Argibay, AIA, managing principal of Me...",antonio argibay aia manage principal meridian ...,True,100,wfh
1,Tue Aug 18 19:30:13 +0000 2020,1.295805e+18,2.994861e+09,NaN,NaN,@PJS412 @Erinmc33 Patrick knows where I work. ...,patrick know work early pandemic work from hom...,True,100,work from home
2,Tue Aug 18 19:30:13 +0000 2020,1.295805e+18,9.889688e+08,NaN,NaN,@JohnWil91460279 The crazies are protesting t...,the crazy protest to vote mail say fear to go...,True,100,to go
3,Tue Aug 18 19:30:15 +0000 2020,1.295805e+18,2.913471e+09,NaN,"Omaha, Nebraska",The worst part about this remote learning is t...,the bad part remote learn strip to underwear ...,True,100,learn
4,Tue Aug 18 19:30:16 +0000 2020,1.295805e+18,4.125046e+08,NaN,"Avon, CT",An injection of the #flu vaccine will not give...,injection the flu vaccine give the flu learn,True,100,learn
...,...,...,...,...,...,...,...,...,...,...
7864,Tue Aug 18 23:54:53 +0000 2020,1.294110e+18,2.143998e+07,NaN,Turn around...boo!,Note to self: don’t take a new job at Zoom.,note to self take new job at zoom,True,100,zoom
7865,Tue Aug 18 23:55:27 +0000 2020,1.295765e+18,1.284975e+18,NaN,"Miami, FL",just don’t pass me the blunt while I’m doing m...,pas the blunt mascara ima hog attempt to go ...,True,100,to go
7866,Tue Aug 18 23:56:17 +0000 2020,1.295328e+18,1.066182e+18,NaN,Ouagadougou. 🙂,Mr Faheem Younus has been one of the best auth...,mr faheem younus one the best authority covid1...,True,100,learn
7867,Tue Aug 18 23:54:53 +0000 2020,1.294043e+18,1.411425e+07,NaN,New Orleans,The first thing the people will do once the pa...,the first thing the people do the pandemic bur...,True,100,zoom
7868,Tue Aug 18 23:55:44 +0000 2020,1.295757e+18,1.044583e+18,NaN,"Tring, England",Yes we are OPEN!\nWe have all the necessary pr...,yes open the necessary precaution place wait ...,True,100,work from home

In [31]:
numerator_Ada = interim_Ada.shape[0]

In [32]:
proportion_Ada = (numerator_Ada/denominator_Ada)
print(proportion_Ada)

0.03590248976854323

# 3_Negative Emotion

bored
lonely
stress
anxiety
scared
worry
end
cabin fever
#sideeffectsofquarantinelife
tissue paper
toilet paper

In [33]:
keywords_Ne = ['bored' , 'lonely', 'stress', 
            'anxiety', 'scared', 'worry', 'end', 'cabin fever',
            '#sideeffectsofquarantinelife', 'tissue paper', 'toilet paper']

In [34]:
#Convert to lower
for i in range(len(keywords_Ne)): 
    keywords_Ne[i] = keywords_Ne[i].lower()

#Remove punctuations   
for i in range(len(keywords_Ne)): 
    keywords_Ne[i] = keywords_Ne[i].translate(str.maketrans('','',string.punctuation))

#More cleaning
for i in range(len(keywords_Ne)): 
    keywords_Ne[i] = keywords_Ne[i].replace('/[^a-zA-Z0-9 ]/g', '').replace('\n',' ').strip('“').strip('“').strip('’').lstrip(' ').rstrip(' ')

#Tokenize
#keywords_Ne_tokens = [sub.split() for sub in keywords_Ne] 

#Remove stop words
def remove_stopwords(data):
    output_array=[]
    for sentence in data:
        temp_list=[]
        for word in sentence.split():
            if word not in stop_words:
                temp_list.append(word)
        output_array.append(' '.join(temp_list))
    return output_array

keywords_Ne_filtered=remove_stopwords(keywords_Ne)

#Stemming
ps = PorterStemmer()
keywords_Ne_stem = [[ps.stem(word) for word in sentence.split(" ")] for sentence in keywords_Ne_filtered]
keywords_Ne_stem = [" ".join(sentence) for sentence in keywords_Ne_stem]

#Lemmetizing

#POSTags
def get_wordnet_pos(word):
    """Map POS tag to first character lemmatize() accepts"""
    tag = nltk.pos_tag([word])[0][1][0].upper()
    tag_dict = {"J": wordnet.ADJ, "N": wordnet.NOUN, "V": wordnet.VERB, "R": wordnet.ADV}
    return tag_dict.get(tag, wordnet.NOUN)

lemmatizer = WordNetLemmatizer()
keywords_Ne_lem = [[lemmatizer.lemmatize(y, get_wordnet_pos(y)) for y in sentence.split(" ")] for sentence in keywords_Ne_filtered]
keywords_Ne_final = [" ".join(sentence) for sentence in keywords_Ne_lem]

data_Ne['final'] = data_Ne['final'].apply(str)
choices = data_Ne['final'].tolist()

In [35]:
data_Ne

,created_at,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final,Date_Flag
0,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,1.278716e+18,NaN,NaN,can we wear clone helmets instead of masks to ...,wear clone helmet instead mask to school,True
1,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,9.191072e+08,NaN,"Myrtle Beach, SC",SC Senate to reconvene in Sept. to discuss COV...,sc senate to reconvene sept to discus covid19 ...,True
2,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,4.378954e+08,NaN,"Roseville, CA","@JohnAvlon During the COVID-19 crisis, Pres. T...",the covid19 crisis pres trump always honest se...,True
3,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,2.580088e+09,NaN,NaN,We just gonna act like @JamesStormBrand wasn’t...,gon na act like ahead the curve sell face mas...,True
4,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,8.560174e+07,NaN,"Honolulu, Hawaii",The COVID-19 pandemic has created unprecedente...,the covid19 pandemic create unprecedented barr...,True
...,...,...,...,...,...,...,...,...
219776,Tue Aug 18 23:56:21 +0000 2020,1.294549e+18,1.697333e+07,NaN,"London, England",Thousands in pre-dawn scramble to beat France ...,thousand predawn scramble to beat france quara...,True
219777,Tue Aug 18 23:56:22 +0000 2020,1.295594e+18,8.591716e+08,NaN,Corvallis OR,Do you all ever realize that we are in the mid...,do ever realize the middle revolution fuck pan...,True
219778,Tue Aug 18 23:56:42 +0000 2020,1.295392e+18,5.676725e+07,NaN,"Chicago, IL",Bears coach Matt Nagy wore a mask the entire p...,bear coach matt nagy wore mask the entire prac...,True
219779,Tue Aug 18 23:56:53 +0000 2020,1.288855e+18,1.618015e+08,NaN,"Seattle, WA",The world’s #COVID19 response is based on inco...,the world covid19 response base incomplete se...,True
219780,Tue Aug 18 23:57:03 +0000 2020,1.295370e+18,2.559617e+07,NaN,"San Diego, CA",San Diego County eligible to exit state monito...,san diego county eligible to exit state monito...,True

In [36]:
 def fuzzy_Ne(row):
        keyword_match_Ne, score_Ne = process.extractOne(row['final'], keywords_Ne_final, scorer = fuzz.partial_ratio)
        row['final_score_Ne'] = score_Ne
        row['final_keyword_match_Ne'] = keyword_match_Ne
        return row

In [37]:
nan_value = float("NaN")
data_Ne['final'].replace("", nan_value, inplace=True)

In [38]:
data_Ne.dropna(subset = ["final"], inplace=True)

In [39]:
data_Ne

,created_at,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final,Date_Flag
0,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,1.278716e+18,NaN,NaN,can we wear clone helmets instead of masks to ...,wear clone helmet instead mask to school,True
1,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,9.191072e+08,NaN,"Myrtle Beach, SC",SC Senate to reconvene in Sept. to discuss COV...,sc senate to reconvene sept to discus covid19 ...,True
2,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,4.378954e+08,NaN,"Roseville, CA","@JohnAvlon During the COVID-19 crisis, Pres. T...",the covid19 crisis pres trump always honest se...,True
3,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,2.580088e+09,NaN,NaN,We just gonna act like @JamesStormBrand wasn’t...,gon na act like ahead the curve sell face mas...,True
4,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,8.560174e+07,NaN,"Honolulu, Hawaii",The COVID-19 pandemic has created unprecedente...,the covid19 pandemic create unprecedented barr...,True
...,...,...,...,...,...,...,...,...
219776,Tue Aug 18 23:56:21 +0000 2020,1.294549e+18,1.697333e+07,NaN,"London, England",Thousands in pre-dawn scramble to beat France ...,thousand predawn scramble to beat france quara...,True
219777,Tue Aug 18 23:56:22 +0000 2020,1.295594e+18,8.591716e+08,NaN,Corvallis OR,Do you all ever realize that we are in the mid...,do ever realize the middle revolution fuck pan...,True
219778,Tue Aug 18 23:56:42 +0000 2020,1.295392e+18,5.676725e+07,NaN,"Chicago, IL",Bears coach Matt Nagy wore a mask the entire p...,bear coach matt nagy wore mask the entire prac...,True
219779,Tue Aug 18 23:56:53 +0000 2020,1.288855e+18,1.618015e+08,NaN,"Seattle, WA",The world’s #COVID19 response is based on inco...,the world covid19 response base incomplete se...,True
219780,Tue Aug 18 23:57:03 +0000 2020,1.295370e+18,2.559617e+07,NaN,"San Diego, CA",San Diego County eligible to exit state monito...,san diego county eligible to exit state monito...,True

In [40]:
interim_Ne = data_Ne.apply(fuzzy_Ne, axis=1)

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '※']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '‍']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '→ →']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '·']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '… … ‼']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '‍']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '‍‍‍']

In [41]:
denominator_Ne = interim_Ne.shape[0]

In [42]:
interim_Ne['final_score_Ne'] = interim_Ne['final_score_Ne'].astype(int)

In [43]:
interim_Ne = interim_Ne[interim_Ne['final_score_Ne'] == 100].reset_index(drop=True)

In [44]:
interim_Ne

,created_at,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final,Date_Flag,final_score_Ne,final_keyword_match_Ne
0,Tue Aug 18 19:30:12 +0000 2020,1.295805e+18,22323324.0,NaN,Nairobi/Kyiv/Nassau/Kosovo,"Hey, friends. . . I know a lot of y'all #homes...",hey friend know lot yall homeschool supportive...,True,100,end
1,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,71363337.0,NaN,NaN,#VIU prof. Dr. Aggie Weighill needs your input...,viu prof dr aggie weighill need your input can...,True,100,stress
2,Tue Aug 18 19:30:12 +0000 2020,1.295805e+18,721978620.0,NaN,NaN,Why is ASUU trending? \n\nAre they still on st...,asuu trend still strike theyre also demand cov...,True,100,end
3,Tue Aug 18 19:30:12 +0000 2020,1.295805e+18,16441561.0,NaN,"Oklahoma, USA",Quote of the Day from State Superintendent Joy...,quote the day from state superintendent joy ho...,True,100,end
4,Tue Aug 18 19:30:14 +0000 2020,1.295805e+18,156914241.0,NaN,"Carmel, IN","No matter what your political views are, as ha...",no matter your political view hard may set asi...,True,100,end
...,...,...,...,...,...,...,...,...,...,...
11017,Tue Aug 18 23:53:17 +0000 2020,1.295739e+18,14452313.0,NaN,"Toronto, Ontario",Saleema Nawaz (@pinkmeringue) talks about Song...,saleema nawaz talk song the end the world toro...,True,100,end
11018,Tue Aug 18 23:53:43 +0000 2020,1.295746e+18,542962969.0,NaN,NaN,"At Least 30 Shot, 7 Dead, over Weekend in Demo...",at least 30 shot 7 dead weekend democratcontro...,True,100,end
11019,Tue Aug 18 23:53:58 +0000 2020,1.295650e+18,152650164.0,NaN,Great White North,@catonclass @schmoopgirl @Sflecce That’s becau...,sabotage create chaos crisis to push privati...,True,100,end
11020,Tue Aug 18 23:54:16 +0000 2020,1.255177e+18,6782762.0,NaN,United States,I’ve spent the past 48 hours—one man versus Bi...,spent the past 48 hour one man versus bill ga...,True,100,scar
11021,Tue Aug 18 23:55:38 +0000 2020,1.293872e+18,153515520.0,NaN,"Ottawa, Canada",Canada is moving ahead with plans to spend $1 ...,canada move ahead plan to spend 1 billion to 5...,True,100,end

In [45]:
numerator_Ne = interim_Ne.shape[0]

In [46]:
proportion_Ne = (numerator_Ne/denominator_Ne)
print(proportion_Ne)

0.05028812329760878

# 4_Social Disruption

social functions
gathering
empty streets
interaction
large
no cars
non-essential
travel
unnecessary
crowd

In [47]:
keywords_Sd = ['social functions' , 'gathering', 'empty streets', 
            'interaction', 'large', 'no cars', 'non-essential',
            'travel', 'unnecessary', 'crowd',]

In [48]:
#Convert to lower
for i in range(len(keywords_Sd)): 
    keywords_Sd[i] = keywords_Sd[i].lower()

#Remove punctuations   
for i in range(len(keywords_Sd)): 
    keywords_Sd[i] = keywords_Sd[i].translate(str.maketrans('','',string.punctuation))

#More cleaning
for i in range(len(keywords_Sd)): 
    keywords_Sd[i] = keywords_Sd[i].replace('/[^a-zA-Z0-9 ]/g', '').replace('\n',' ').strip('“').strip('“').strip('’').lstrip(' ').rstrip(' ')

#Tokenize
#keywords_Sd_tokens = [sub.split() for sub in keywords_Sd] 

#Remove stop words
def remove_stopwords(data):
    output_array=[]
    for sentence in data:
        temp_list=[]
        for word in sentence.split():
            if word not in stop_words:
                temp_list.append(word)
        output_array.append(' '.join(temp_list))
    return output_array

keywords_Sd_filtered=remove_stopwords(keywords_Sd)

#Stemming
ps = PorterStemmer()
keywords_Sd_stem = [[ps.stem(word) for word in sentence.split(" ")] for sentence in keywords_Sd_filtered]
keywords_Sd_stem = [" ".join(sentence) for sentence in keywords_Sd_stem]

#Lemmetizing

#POSTags
def get_wordnet_pos(word):
    """Map POS tag to first character lemmatize() accepts"""
    tag = nltk.pos_tag([word])[0][1][0].upper()
    tag_dict = {"J": wordnet.ADJ, "N": wordnet.NOUN, "V": wordnet.VERB, "R": wordnet.ADV}
    return tag_dict.get(tag, wordnet.NOUN)

lemmatizer = WordNetLemmatizer()
keywords_Sd_lem = [[lemmatizer.lemmatize(y, get_wordnet_pos(y)) for y in sentence.split(" ")] for sentence in keywords_Sd_filtered]
keywords_Sd_final = [" ".join(sentence) for sentence in keywords_Sd_lem]

data_Sd['final'] = data_Sd['final'].apply(str)
choices = data_Sd['final'].tolist()

In [49]:
data_Sd

,created_at,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final,Date_Flag
0,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,1.278716e+18,NaN,NaN,can we wear clone helmets instead of masks to ...,wear clone helmet instead mask to school,True
1,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,9.191072e+08,NaN,"Myrtle Beach, SC",SC Senate to reconvene in Sept. to discuss COV...,sc senate to reconvene sept to discus covid19 ...,True
2,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,4.378954e+08,NaN,"Roseville, CA","@JohnAvlon During the COVID-19 crisis, Pres. T...",the covid19 crisis pres trump always honest se...,True
3,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,2.580088e+09,NaN,NaN,We just gonna act like @JamesStormBrand wasn’t...,gon na act like ahead the curve sell face mas...,True
4,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,8.560174e+07,NaN,"Honolulu, Hawaii",The COVID-19 pandemic has created unprecedente...,the covid19 pandemic create unprecedented barr...,True
...,...,...,...,...,...,...,...,...
219776,Tue Aug 18 23:56:21 +0000 2020,1.294549e+18,1.697333e+07,NaN,"London, England",Thousands in pre-dawn scramble to beat France ...,thousand predawn scramble to beat france quara...,True
219777,Tue Aug 18 23:56:22 +0000 2020,1.295594e+18,8.591716e+08,NaN,Corvallis OR,Do you all ever realize that we are in the mid...,do ever realize the middle revolution fuck pan...,True
219778,Tue Aug 18 23:56:42 +0000 2020,1.295392e+18,5.676725e+07,NaN,"Chicago, IL",Bears coach Matt Nagy wore a mask the entire p...,bear coach matt nagy wore mask the entire prac...,True
219779,Tue Aug 18 23:56:53 +0000 2020,1.288855e+18,1.618015e+08,NaN,"Seattle, WA",The world’s #COVID19 response is based on inco...,the world covid19 response base incomplete se...,True
219780,Tue Aug 18 23:57:03 +0000 2020,1.295370e+18,2.559617e+07,NaN,"San Diego, CA",San Diego County eligible to exit state monito...,san diego county eligible to exit state monito...,True

In [50]:
 def fuzzy_Sd(row):
        keyword_match_Sd, score_Sd = process.extractOne(row['final'], keywords_Sd_final, scorer = fuzz.partial_ratio)
        row['final_score_Sd'] = score_Sd
        row['final_keyword_match_Sd'] = keyword_match_Sd
        return row

In [51]:
nan_value = float("NaN")
data_Sd['final'].replace("", nan_value, inplace=True)

In [52]:
data_Sd.dropna(subset = ["final"], inplace=True)

In [53]:
data_Sd

,created_at,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final,Date_Flag
0,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,1.278716e+18,NaN,NaN,can we wear clone helmets instead of masks to ...,wear clone helmet instead mask to school,True
1,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,9.191072e+08,NaN,"Myrtle Beach, SC",SC Senate to reconvene in Sept. to discuss COV...,sc senate to reconvene sept to discus covid19 ...,True
2,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,4.378954e+08,NaN,"Roseville, CA","@JohnAvlon During the COVID-19 crisis, Pres. T...",the covid19 crisis pres trump always honest se...,True
3,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,2.580088e+09,NaN,NaN,We just gonna act like @JamesStormBrand wasn’t...,gon na act like ahead the curve sell face mas...,True
4,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,8.560174e+07,NaN,"Honolulu, Hawaii",The COVID-19 pandemic has created unprecedente...,the covid19 pandemic create unprecedented barr...,True
...,...,...,...,...,...,...,...,...
219776,Tue Aug 18 23:56:21 +0000 2020,1.294549e+18,1.697333e+07,NaN,"London, England",Thousands in pre-dawn scramble to beat France ...,thousand predawn scramble to beat france quara...,True
219777,Tue Aug 18 23:56:22 +0000 2020,1.295594e+18,8.591716e+08,NaN,Corvallis OR,Do you all ever realize that we are in the mid...,do ever realize the middle revolution fuck pan...,True
219778,Tue Aug 18 23:56:42 +0000 2020,1.295392e+18,5.676725e+07,NaN,"Chicago, IL",Bears coach Matt Nagy wore a mask the entire p...,bear coach matt nagy wore mask the entire prac...,True
219779,Tue Aug 18 23:56:53 +0000 2020,1.288855e+18,1.618015e+08,NaN,"Seattle, WA",The world’s #COVID19 response is based on inco...,the world covid19 response base incomplete se...,True
219780,Tue Aug 18 23:57:03 +0000 2020,1.295370e+18,2.559617e+07,NaN,"San Diego, CA",San Diego County eligible to exit state monito...,san diego county eligible to exit state monito...,True

In [54]:
interim_Sd = data_Sd.apply(fuzzy_Sd, axis=1)

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '※']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '‍']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '→ →']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '·']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '… … ‼']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '‍']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '‍‍‍']

In [55]:
denominator_Sd = interim_Sd.shape[0]

In [56]:
interim_Sd['final_score_Sd'] = interim_Sd['final_score_Sd'].astype(int)

In [57]:
interim_Sd = interim_Sd[interim_Sd['final_score_Sd'] == 100].reset_index(drop=True)

In [58]:
interim_Sd

,created_at,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final,Date_Flag,final_score_Sd,final_keyword_match_Sd
0,Tue Aug 18 19:30:13 +0000 2020,1.295805e+18,2.231906e+09,NaN,Istanbul,"Norway’s sovereign wealth fund, the world’s la...",norway sovereign wealth fund the world large...,True,100,large
1,Tue Aug 18 19:30:15 +0000 2020,1.295805e+18,1.269774e+18,NaN,Oxford,@KarlTurnerMP Social distancing rules have bee...,social distance rule largely ignore since earl...,True,100,large
2,Tue Aug 18 19:30:16 +0000 2020,1.295805e+18,9.822593e+17,NaN,"Pennsylvania, USA",KOMMUNISTS KONTROL of FOOD AND TRAVEL Peggy ...,kommunists kontrol food travel peggy hall via ...,True,100,travel
3,Tue Aug 18 19:30:16 +0000 2020,1.295805e+18,1.295469e+18,NaN,NaN,Guys today i wrote my upcatet examination and ...,guy today write upcatet examination let tell o...,True,100,crowd
4,Tue Aug 18 19:30:17 +0000 2020,1.295805e+18,8.159179e+07,NaN,"New York, NY",https://t.co/M6WudONqY1 @UMassAmherst are offe...,offering wifibased contact trace app to school...,True,100,interaction
...,...,...,...,...,...,...,...,...,...,...
3673,Tue Aug 18 23:53:55 +0000 2020,1.289701e+18,5.085911e+08,NaN,"Boston, MA",1/ Blanket guidance like “wear a mask” is larg...,1 blanket guidance like wear mask largely un...,True,100,large
3674,Tue Aug 18 23:54:49 +0000 2020,1.295869e+18,1.575090e+07,NaN,"Tampa, FL","President Trump hit the campaign trail, tellin...",president trump hit the campaign trail tell th...,True,100,crowd
3675,Tue Aug 18 23:55:44 +0000 2020,1.295871e+18,7.017260e+08,NaN,The Internet & NYC,This 10-year-old rape survivor traveled more t...,10yearold rape survivor travel 900 mile to acc...,True,100,travel
3676,Tue Aug 18 23:55:55 +0000 2020,1.295859e+18,1.856380e+07,NaN,"Phoenix, AZ",The largest electric utility provider in Arizo...,the large electric utility provider arizona as...,True,100,large
3677,Tue Aug 18 23:54:34 +0000 2020,1.295680e+18,9.888054e+17,NaN,"North West, England",Liverpool training camp in Austria will contin...,liverpool training camp austria continue despi...,True,100,travel

In [59]:
numerator_Sd = interim_Sd.shape[0]

In [60]:
proportion_Sd = (numerator_Sd/denominator_Sd)
print(proportion_Sd)

0.016780957855979415

# 5_Purpose

Flatten the curve
Slow the spread
slow transmission
protect
save
#stayhomesavelives

In [61]:
keywords_Purp = ['Flatten the curve' , 'Slow the spread', 'slow transmission', 
            'protect', 'save', '#stayhomesavelives']

In [62]:
#Convert to lower
for i in range(len(keywords_Purp)): 
    keywords_Purp[i] = keywords_Purp[i].lower()

#Remove punctuations   
for i in range(len(keywords_Purp)): 
    keywords_Purp[i] = keywords_Purp[i].translate(str.maketrans('','',string.punctuation))

#More cleaning
for i in range(len(keywords_Purp)): 
    keywords_Purp[i] = keywords_Purp[i].replace('/[^a-zA-Z0-9 ]/g', '').replace('\n',' ').strip('“').strip('“').strip('’').lstrip(' ').rstrip(' ')

#Tokenize
#keywords_Purp_tokens = [sub.split() for sub in keywords_Purp] 

#Remove stop words
def remove_stopwords(data):
    output_array=[]
    for sentence in data:
        temp_list=[]
        for word in sentence.split():
            if word not in stop_words:
                temp_list.append(word)
        output_array.append(' '.join(temp_list))
    return output_array

keywords_Purp_filtered=remove_stopwords(keywords_Purp)

#Stemming
ps = PorterStemmer()
keywords_Purp_stem = [[ps.stem(word) for word in sentence.split(" ")] for sentence in keywords_Purp_filtered]
keywords_Purp_stem = [" ".join(sentence) for sentence in keywords_Purp_stem]

#Lemmetizing

#POSTags
def get_wordnet_pos(word):
    """Map POS tag to first character lemmatize() accepts"""
    tag = nltk.pos_tag([word])[0][1][0].upper()
    tag_dict = {"J": wordnet.ADJ, "N": wordnet.NOUN, "V": wordnet.VERB, "R": wordnet.ADV}
    return tag_dict.get(tag, wordnet.NOUN)

lemmatizer = WordNetLemmatizer()
keywords_Purp_lem = [[lemmatizer.lemmatize(y, get_wordnet_pos(y)) for y in sentence.split(" ")] for sentence in keywords_Purp_filtered]
keywords_Purp_final = [" ".join(sentence) for sentence in keywords_Purp_lem]

data_Purp['final'] = data_Purp['final'].apply(str)
choices = data_Purp['final'].tolist()

In [63]:
data_Purp

,created_at,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final,Date_Flag
0,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,1.278716e+18,NaN,NaN,can we wear clone helmets instead of masks to ...,wear clone helmet instead mask to school,True
1,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,9.191072e+08,NaN,"Myrtle Beach, SC",SC Senate to reconvene in Sept. to discuss COV...,sc senate to reconvene sept to discus covid19 ...,True
2,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,4.378954e+08,NaN,"Roseville, CA","@JohnAvlon During the COVID-19 crisis, Pres. T...",the covid19 crisis pres trump always honest se...,True
3,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,2.580088e+09,NaN,NaN,We just gonna act like @JamesStormBrand wasn’t...,gon na act like ahead the curve sell face mas...,True
4,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,8.560174e+07,NaN,"Honolulu, Hawaii",The COVID-19 pandemic has created unprecedente...,the covid19 pandemic create unprecedented barr...,True
...,...,...,...,...,...,...,...,...
219776,Tue Aug 18 23:56:21 +0000 2020,1.294549e+18,1.697333e+07,NaN,"London, England",Thousands in pre-dawn scramble to beat France ...,thousand predawn scramble to beat france quara...,True
219777,Tue Aug 18 23:56:22 +0000 2020,1.295594e+18,8.591716e+08,NaN,Corvallis OR,Do you all ever realize that we are in the mid...,do ever realize the middle revolution fuck pan...,True
219778,Tue Aug 18 23:56:42 +0000 2020,1.295392e+18,5.676725e+07,NaN,"Chicago, IL",Bears coach Matt Nagy wore a mask the entire p...,bear coach matt nagy wore mask the entire prac...,True
219779,Tue Aug 18 23:56:53 +0000 2020,1.288855e+18,1.618015e+08,NaN,"Seattle, WA",The world’s #COVID19 response is based on inco...,the world covid19 response base incomplete se...,True
219780,Tue Aug 18 23:57:03 +0000 2020,1.295370e+18,2.559617e+07,NaN,"San Diego, CA",San Diego County eligible to exit state monito...,san diego county eligible to exit state monito...,True

In [64]:
 def fuzzy_Purp(row):
        keyword_match_Purp, score_Purp = process.extractOne(row['final'], keywords_Purp_final, scorer = fuzz.partial_ratio)
        row['final_score_Purp'] = score_Purp
        row['final_keyword_match_Purp'] = keyword_match_Purp
        return row

In [65]:
nan_value = float("NaN")
data_Purp['final'].replace("", nan_value, inplace=True)

In [66]:
data_Purp.dropna(subset = ["final"], inplace=True)

In [67]:
data_Purp

,created_at,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final,Date_Flag
0,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,1.278716e+18,NaN,NaN,can we wear clone helmets instead of masks to ...,wear clone helmet instead mask to school,True
1,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,9.191072e+08,NaN,"Myrtle Beach, SC",SC Senate to reconvene in Sept. to discuss COV...,sc senate to reconvene sept to discus covid19 ...,True
2,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,4.378954e+08,NaN,"Roseville, CA","@JohnAvlon During the COVID-19 crisis, Pres. T...",the covid19 crisis pres trump always honest se...,True
3,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,2.580088e+09,NaN,NaN,We just gonna act like @JamesStormBrand wasn’t...,gon na act like ahead the curve sell face mas...,True
4,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,8.560174e+07,NaN,"Honolulu, Hawaii",The COVID-19 pandemic has created unprecedente...,the covid19 pandemic create unprecedented barr...,True
...,...,...,...,...,...,...,...,...
219776,Tue Aug 18 23:56:21 +0000 2020,1.294549e+18,1.697333e+07,NaN,"London, England",Thousands in pre-dawn scramble to beat France ...,thousand predawn scramble to beat france quara...,True
219777,Tue Aug 18 23:56:22 +0000 2020,1.295594e+18,8.591716e+08,NaN,Corvallis OR,Do you all ever realize that we are in the mid...,do ever realize the middle revolution fuck pan...,True
219778,Tue Aug 18 23:56:42 +0000 2020,1.295392e+18,5.676725e+07,NaN,"Chicago, IL",Bears coach Matt Nagy wore a mask the entire p...,bear coach matt nagy wore mask the entire prac...,True
219779,Tue Aug 18 23:56:53 +0000 2020,1.288855e+18,1.618015e+08,NaN,"Seattle, WA",The world’s #COVID19 response is based on inco...,the world covid19 response base incomplete se...,True
219780,Tue Aug 18 23:57:03 +0000 2020,1.295370e+18,2.559617e+07,NaN,"San Diego, CA",San Diego County eligible to exit state monito...,san diego county eligible to exit state monito...,True

In [68]:
interim_Purp = data_Purp.apply(fuzzy_Purp, axis=1)

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '※']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '‍']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '→ →']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '·']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '… … ‼']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '‍']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '‍‍‍']

In [69]:
denominator_Purp = interim_Purp.shape[0]

In [70]:
interim_Purp['final_score_Purp'] = interim_Purp['final_score_Purp'].astype(int)

In [71]:
interim_Purp = interim_Purp[interim_Purp['final_score_Purp'] == 100].reset_index(drop=True)

In [72]:
interim_Purp

,created_at,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final,Date_Flag,final_score_Purp,final_keyword_match_Purp
0,Tue Aug 18 19:30:14 +0000 2020,1.295805e+18,1.212085e+18,NaN,NaN,#Checkout this #new #facemask #fineartamerica ...,checkout new facemask fineartamerica covid19 p...,True,100,protect
1,Tue Aug 18 19:30:16 +0000 2020,1.295805e+18,1.001892e+18,NaN,NaN,@marcdaalder I think we carve our own destiny....,think carve destiny build quarantine facility ...,True,100,save
2,Tue Aug 18 19:30:18 +0000 2020,1.295805e+18,2.396240e+07,NaN,Straight on 'til morning.,@TheBev_Seattle @BobFergusonAG I noticed the w...,notice the winery pandemic id love to visit th...,True,100,save
3,Tue Aug 18 19:30:20 +0000 2020,1.295805e+18,8.699340e+08,NaN,"Chariton, IA","Our Surgery Team (Dr. Rauen, Jennie Hall, and ...",surgery team dr rauen jennie hall konrad konsi...,True,100,protect
4,Tue Aug 18 19:30:20 +0000 2020,1.295805e+18,1.425606e+09,NaN,"North Carolina, USA",Following the Three Ws is a great way to #Stop...,follow the three w great way to stopthespread ...,True,100,protect
...,...,...,...,...,...,...,...,...,...,...
4376,Tue Aug 18 23:56:10 +0000 2020,1.295872e+18,1.209113e+18,NaN,Everywhere,#MannKiBaat December 2019 - Howdy - #Covid19 -...,mannkibaat december 2019 howdy covid19 doctor ...,True,100,protect
4377,Tue Aug 18 23:56:26 +0000 2020,1.295872e+18,1.862636e+08,NaN,Walla Walla WA,JFC could we have just not done this? And save...,jfc could do save several life knew would happ...,True,100,save
4378,Tue Aug 18 23:56:49 +0000 2020,1.295872e+18,1.081674e+18,NaN,"Abington, PA",Yes bc the founding fathers believed that we n...,yes bc the found father believe need gun to de...,True,100,protect
4379,Tue Aug 18 23:56:55 +0000 2020,1.295872e+18,9.672383e+17,NaN,NaN,@JonHusted @JacksonLocal_SD Read https://t.co/...,read,True,100,slow the spread
4380,Tue Aug 18 23:55:10 +0000 2020,1.295741e+18,3.134294e+08,NaN,"Washington, DC",An important demand @WeAreGage is making emerg...,important demand make emergency medical leave ...,True,100,protect

In [73]:
numerator_Purp = interim_Purp.shape[0]

In [74]:
proportion_Purp = (numerator_Purp/denominator_Purp)
print(proportion_Purp)

0.019988411192780265

# 6_Positive Emotion

silver lining
optimistic
hope
bright side
Safe
#togetherapart

In [75]:
keywords_Pe = ['silver lining' , 'optimistic', 'hope', 
            'bright side', 'Safe', '#togetherapart']

In [76]:
#Convert to lower
for i in range(len(keywords_Pe)): 
    keywords_Pe[i] = keywords_Pe[i].lower()

#Remove punctuations   
for i in range(len(keywords_Pe)): 
    keywords_Pe[i] = keywords_Pe[i].translate(str.maketrans('','',string.punctuation))

#More cleaning
for i in range(len(keywords_Pe)): 
    keywords_Pe[i] = keywords_Pe[i].replace('/[^a-zA-Z0-9 ]/g', '').replace('\n',' ').strip('“').strip('“').strip('’').lstrip(' ').rstrip(' ')

#Tokenize
#keywords_Pe_tokens = [sub.split() for sub in keywords_Pe] 

#Remove stop words
def remove_stopwords(data):
    output_array=[]
    for sentence in data:
        temp_list=[]
        for word in sentence.split():
            if word not in stop_words:
                temp_list.append(word)
        output_array.append(' '.join(temp_list))
    return output_array

keywords_Pe_filtered=remove_stopwords(keywords_Pe)

#Stemming
ps = PorterStemmer()
keywords_Pe_stem = [[ps.stem(word) for word in sentence.split(" ")] for sentence in keywords_Pe_filtered]
keywords_Pe_stem = [" ".join(sentence) for sentence in keywords_Pe_stem]

#Lemmetizing

#POSTags
def get_wordnet_pos(word):
    """Map POS tag to first character lemmatize() accepts"""
    tag = nltk.pos_tag([word])[0][1][0].upper()
    tag_dict = {"J": wordnet.ADJ, "N": wordnet.NOUN, "V": wordnet.VERB, "R": wordnet.ADV}
    return tag_dict.get(tag, wordnet.NOUN)

lemmatizer = WordNetLemmatizer()
keywords_Pe_lem = [[lemmatizer.lemmatize(y, get_wordnet_pos(y)) for y in sentence.split(" ")] for sentence in keywords_Pe_filtered]
keywords_Pe_final = [" ".join(sentence) for sentence in keywords_Pe_lem]

data_Pe['final'] = data_Pe['final'].apply(str)
choices = data_Pe['final'].tolist()

In [77]:
data_Pe

,created_at,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final,Date_Flag
0,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,1.278716e+18,NaN,NaN,can we wear clone helmets instead of masks to ...,wear clone helmet instead mask to school,True
1,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,9.191072e+08,NaN,"Myrtle Beach, SC",SC Senate to reconvene in Sept. to discuss COV...,sc senate to reconvene sept to discus covid19 ...,True
2,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,4.378954e+08,NaN,"Roseville, CA","@JohnAvlon During the COVID-19 crisis, Pres. T...",the covid19 crisis pres trump always honest se...,True
3,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,2.580088e+09,NaN,NaN,We just gonna act like @JamesStormBrand wasn’t...,gon na act like ahead the curve sell face mas...,True
4,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,8.560174e+07,NaN,"Honolulu, Hawaii",The COVID-19 pandemic has created unprecedente...,the covid19 pandemic create unprecedented barr...,True
...,...,...,...,...,...,...,...,...
219776,Tue Aug 18 23:56:21 +0000 2020,1.294549e+18,1.697333e+07,NaN,"London, England",Thousands in pre-dawn scramble to beat France ...,thousand predawn scramble to beat france quara...,True
219777,Tue Aug 18 23:56:22 +0000 2020,1.295594e+18,8.591716e+08,NaN,Corvallis OR,Do you all ever realize that we are in the mid...,do ever realize the middle revolution fuck pan...,True
219778,Tue Aug 18 23:56:42 +0000 2020,1.295392e+18,5.676725e+07,NaN,"Chicago, IL",Bears coach Matt Nagy wore a mask the entire p...,bear coach matt nagy wore mask the entire prac...,True
219779,Tue Aug 18 23:56:53 +0000 2020,1.288855e+18,1.618015e+08,NaN,"Seattle, WA",The world’s #COVID19 response is based on inco...,the world covid19 response base incomplete se...,True
219780,Tue Aug 18 23:57:03 +0000 2020,1.295370e+18,2.559617e+07,NaN,"San Diego, CA",San Diego County eligible to exit state monito...,san diego county eligible to exit state monito...,True

In [78]:
 def fuzzy_Pe(row):
        keyword_match_Pe, score_Pe = process.extractOne(row['final'], keywords_Pe_final, scorer = fuzz.partial_ratio)
        row['final_score_Pe'] = score_Pe
        row['final_keyword_match_Pe'] = keyword_match_Pe
        return row

In [79]:
nan_value = float("NaN")
data_Pe['final'].replace("", nan_value, inplace=True)

In [80]:
data_Pe.dropna(subset = ["final"], inplace=True)

In [81]:
data_Pe

,created_at,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final,Date_Flag
0,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,1.278716e+18,NaN,NaN,can we wear clone helmets instead of masks to ...,wear clone helmet instead mask to school,True
1,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,9.191072e+08,NaN,"Myrtle Beach, SC",SC Senate to reconvene in Sept. to discuss COV...,sc senate to reconvene sept to discus covid19 ...,True
2,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,4.378954e+08,NaN,"Roseville, CA","@JohnAvlon During the COVID-19 crisis, Pres. T...",the covid19 crisis pres trump always honest se...,True
3,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,2.580088e+09,NaN,NaN,We just gonna act like @JamesStormBrand wasn’t...,gon na act like ahead the curve sell face mas...,True
4,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,8.560174e+07,NaN,"Honolulu, Hawaii",The COVID-19 pandemic has created unprecedente...,the covid19 pandemic create unprecedented barr...,True
...,...,...,...,...,...,...,...,...
219776,Tue Aug 18 23:56:21 +0000 2020,1.294549e+18,1.697333e+07,NaN,"London, England",Thousands in pre-dawn scramble to beat France ...,thousand predawn scramble to beat france quara...,True
219777,Tue Aug 18 23:56:22 +0000 2020,1.295594e+18,8.591716e+08,NaN,Corvallis OR,Do you all ever realize that we are in the mid...,do ever realize the middle revolution fuck pan...,True
219778,Tue Aug 18 23:56:42 +0000 2020,1.295392e+18,5.676725e+07,NaN,"Chicago, IL",Bears coach Matt Nagy wore a mask the entire p...,bear coach matt nagy wore mask the entire prac...,True
219779,Tue Aug 18 23:56:53 +0000 2020,1.288855e+18,1.618015e+08,NaN,"Seattle, WA",The world’s #COVID19 response is based on inco...,the world covid19 response base incomplete se...,True
219780,Tue Aug 18 23:57:03 +0000 2020,1.295370e+18,2.559617e+07,NaN,"San Diego, CA",San Diego County eligible to exit state monito...,san diego county eligible to exit state monito...,True

In [82]:
interim_Pe = data_Pe.apply(fuzzy_Pe, axis=1)

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '※']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '‍']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '→ →']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '·']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '… … ‼']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '‍']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '‍‍‍']

In [83]:
denominator_Pe = interim_Pe.shape[0]

In [84]:
interim_Pe['final_score_Pe'] = interim_Pe['final_score_Pe'].astype(int)

In [85]:
interim_Pe = interim_Pe[interim_Pe['final_score_Pe'] == 100].reset_index(drop=True)

In [86]:
interim_Pe

,created_at,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final,Date_Flag,final_score_Pe,final_keyword_match_Pe
0,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,1.170410e+18,NaN,Paris,Thank you also @GradientDragon for what turned...,thank also turn out to lovely heartfelt aftern...,True,100,hope
1,Tue Aug 18 19:30:12 +0000 2020,1.295805e+18,1.268273e+18,NaN,NaN,Our resident biology major @danie1mk says ther...,resident biology major say no hope fall footba...,True,100,hope
2,Tue Aug 18 19:30:14 +0000 2020,1.295805e+18,1.212085e+18,NaN,NaN,#Checkout this #new #facemask #fineartamerica ...,checkout new facemask fineartamerica covid19 p...,True,100,safe
3,Tue Aug 18 19:30:18 +0000 2020,1.295805e+18,1.967207e+07,NaN,"Dallas, Texas",We were so excited to host an event over the w...,excite to host event the weekend complete soci...,True,100,safe
4,Tue Aug 18 19:30:20 +0000 2020,1.295805e+18,2.693147e+09,NaN,NaN,Keeping Your Crew Safe During COVID-19...https...,keep your crew safe covid19,True,100,safe
...,...,...,...,...,...,...,...,...,...,...
6814,Tue Aug 18 23:56:56 +0000 2020,1.295872e+18,3.104981e+08,NaN,"Naas, Ireland",@seamusocon @Geoblender @DrMaireadDB I hope to...,hope to answer soon perhaps bom grant the supe...,True,100,hope
6815,Tue Aug 18 23:55:14 +0000 2020,1.290803e+18,8.625367e+17,NaN,"Hobart, Tasmania",Green Acres is open and ready to service all y...,green acre open ready to service your hydropon...,True,100,safe
6816,Tue Aug 18 23:55:25 +0000 2020,1.295446e+18,1.214229e+18,NaN,NaN,The ‘new normal’ for #Netball - Thanks for the...,the ‘ new normal netball thanks the return to...,True,100,safe
6817,Tue Aug 18 23:55:49 +0000 2020,1.295778e+18,8.190790e+17,NaN,NaN,"And yet here, we are being told our only hope ...",yet told hope vaccine isnt defeatist mindset,True,100,hope
6818,Tue Aug 18 23:56:21 +0000 2020,1.294646e+18,1.741519e+08,NaN,"Edin, Oxford, Wash DC, Miami",👇🏼Exactly what you don’t want. Better step is ...,exactly want well step test arrival like germ...,True,100,hope

In [87]:
numerator_Pe = interim_Pe.shape[0]

In [88]:
proportion_Pe = (numerator_Pe/denominator_Pe)
print(proportion_Pe)

0.031111841114715502

# All Proportions

In [89]:
print(proportion_Imp)

0.15586945710544445

In [90]:
print(proportion_Ada)

0.03590248976854323

In [91]:
print(proportion_Ne)

0.05028812329760878

In [92]:
print(proportion_Sd)

0.016780957855979415

In [93]:
print(proportion_Purp)

0.019988411192780265

In [94]:
print(proportion_Pe)

0.031111841114715502

# Checking for same Tweet in different Facet

In [165]:
interim_Imp = interim_Imp.rename(columns={'created_at' : 'created_at_Imp', 'user_id':'user_id_Imp', 'coordinates':'coordinates_Imp', 'location':'location_Imp', 'extended_tweet_full_text_duplicate' : 'extended_tweet_full_text_duplicate_Imp', 'final' : 'final_Imp'})

In [166]:
interim_Ada = interim_Ada.rename(columns={'created_at' : 'created_at_Ada', 'user_id':'user_id_Ada', 'coordinates':'coordinates_Ada', 'location':'location_Ada', 'extended_tweet_full_text_duplicate' : 'extended_tweet_full_text_duplicate_Ada', 'final' : 'final_Ada'})

In [167]:
interim_Ne = interim_Ne.rename(columns={'created_at' : 'created_at_Ne', 'user_id':'user_id_Ne', 'coordinates':'coordinates_Ne', 'location':'location_Ne', 'extended_tweet_full_text_duplicate' : 'extended_tweet_full_text_duplicate_Ne', 'final' : 'final_Ne'})

In [168]:
interim_Sd = interim_Sd.rename(columns={'created_at' : 'created_at_Sd', 'user_id':'user_id_Sd', 'coordinates':'coordinates_Sd', 'location':'location_Sd', 'extended_tweet_full_text_duplicate' : 'extended_tweet_full_text_duplicate_Sd', 'final' : 'final_Sd'})

In [169]:
interim_Purp = interim_Purp.rename(columns={'created_at' : 'created_at_Purp', 'user_id':'user_id_Purp', 'coordinates':'coordinates_Purp', 'location':'location_Purp', 'extended_tweet_full_text_duplicate' : 'extended_tweet_full_text_duplicate_Purp', 'final' : 'final_Purp'})

In [170]:
interim_Pe = interim_Pe.rename(columns={'created_at' : 'created_at_Pe', 'user_id':'user_id_Pe', 'coordinates':'coordinates_Pe', 'location':'location_Pe', 'extended_tweet_full_text_duplicate' : 'extended_tweet_full_text_duplicate_Pe', 'final' : 'final_Pe'})

In [171]:
data['id'].value_counts()

1.295818e+18    1
1.295849e+18    1
1.295863e+18    1
1.295725e+18    1
1.295844e+18    1
               ..
1.295854e+18    1
1.295853e+18    1
1.295811e+18    1
1.295807e+18    1
1.295836e+18    1
Name: id, Length: 219780, dtype: int64

In [172]:
data

,created_at,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final,Date_Flag
0,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,1.278716e+18,NaN,NaN,can we wear clone helmets instead of masks to ...,wear clone helmet instead mask to school,True
1,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,9.191072e+08,NaN,"Myrtle Beach, SC",SC Senate to reconvene in Sept. to discuss COV...,sc senate to reconvene sept to discus covid19 ...,True
2,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,4.378954e+08,NaN,"Roseville, CA","@JohnAvlon During the COVID-19 crisis, Pres. T...",the covid19 crisis pres trump always honest se...,True
3,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,2.580088e+09,NaN,NaN,We just gonna act like @JamesStormBrand wasn’t...,gon na act like ahead the curve sell face mas...,True
4,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,8.560174e+07,NaN,"Honolulu, Hawaii",The COVID-19 pandemic has created unprecedente...,the covid19 pandemic create unprecedented barr...,True
...,...,...,...,...,...,...,...,...
219776,Tue Aug 18 23:56:21 +0000 2020,1.294549e+18,1.697333e+07,NaN,"London, England",Thousands in pre-dawn scramble to beat France ...,thousand predawn scramble to beat france quara...,True
219777,Tue Aug 18 23:56:22 +0000 2020,1.295594e+18,8.591716e+08,NaN,Corvallis OR,Do you all ever realize that we are in the mid...,do ever realize the middle revolution fuck pan...,True
219778,Tue Aug 18 23:56:42 +0000 2020,1.295392e+18,5.676725e+07,NaN,"Chicago, IL",Bears coach Matt Nagy wore a mask the entire p...,bear coach matt nagy wore mask the entire prac...,True
219779,Tue Aug 18 23:56:53 +0000 2020,1.288855e+18,1.618015e+08,NaN,"Seattle, WA",The world’s #COVID19 response is based on inco...,the world covid19 response base incomplete se...,True
219780,Tue Aug 18 23:57:03 +0000 2020,1.295370e+18,2.559617e+07,NaN,"San Diego, CA",San Diego County eligible to exit state monito...,san diego county eligible to exit state monito...,True

In [173]:
interim_Imp

,created_at_Imp,id,user_id_Imp,coordinates_Imp,location_Imp,extended_tweet_full_text_duplicate_Imp,final_Imp,Date_Flag,final_score_Imp,final_keyword_match_Imp
0,Tue Aug 18 19:30:12 +0000 2020,1.295805e+18,2.232332e+07,NaN,Nairobi/Kyiv/Nassau/Kosovo,"Hey, friends. . . I know a lot of y'all #homes...",hey friend know lot yall homeschool supportive...,True,100,home
1,Tue Aug 18 19:30:12 +0000 2020,1.295805e+18,2.492172e+08,NaN,NaN,#TodayInLatinAmerica: Thousands of Argentines ...,todayinlatinamerica thousand argentine protest...,True,100,lockdown
2,Tue Aug 18 19:30:12 +0000 2020,1.295805e+18,1.466334e+07,NaN,New York,"Antonio Argibay, AIA, managing principal of Me...",antonio argibay aia manage principal meridian ...,True,100,home
3,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,7.136334e+07,NaN,NaN,#VIU prof. Dr. Aggie Weighill needs your input...,viu prof dr aggie weighill need your input can...,True,100,distance
4,Tue Aug 18 19:30:12 +0000 2020,1.295805e+18,1.210700e+18,NaN,NaN,Why the Lockdown Should Last Longer https://t....,the lockdown last longer via hilarious,True,100,lockdown
...,...,...,...,...,...,...,...,...,...,...
34158,Tue Aug 18 23:53:13 +0000 2020,1.293540e+18,2.878549e+07,NaN,New York City / Worldwide,"NEW: More than 1,000 students in a single Geor...",new 1000 student single georgia school distric...,True,100,quarantine
34159,Tue Aug 18 23:54:59 +0000 2020,1.295830e+18,2.237212e+07,NaN,NaN,The roommate of my daughter was on the flight ...,the roommate daughter the flight from cairo au...,True,100,home
34160,Tue Aug 18 23:55:55 +0000 2020,1.295197e+18,3.304533e+09,NaN,NaN,"@Minumuss lol, \n#covidiots \nyou test negativ...",lol covidiots test negative start isolation lm...,True,100,isolat
34161,Tue Aug 18 23:56:06 +0000 2020,1.294704e+18,1.681304e+07,NaN,Los Angeles,San Diego County has the fewest positive Covid...,san diego county the few positive covid patien...,True,100,lockdown
34162,Tue Aug 18 23:56:21 +0000 2020,1.294549e+18,1.697333e+07,NaN,"London, England",Thousands in pre-dawn scramble to beat France ...,thousand predawn scramble to beat france quara...,True,100,quarantine

In [174]:
merge = pd.merge(data, interim_Imp, how = 'left', on = ['id'], left_index=False, right_index=False, sort=True)

In [175]:
merge['Imp_Match'] = np.where(~merge['user_id_Imp'].isna(), '1', '0')

merge = merge.drop(columns=['extended_tweet_full_text_duplicate_x', 'extended_tweet_full_text_duplicate_y'])

In [177]:
merge = pd.merge(merge, interim_Ada, how = 'left', on = ['id'], left_index=False, right_index=False, sort=True)

In [178]:
merge['Ada_Match'] = np.where(~merge['user_id_Ada'].isna(), '1', '0')

merge = merge.drop(columns=['extended_tweet_full_text_duplicate'])

In [179]:
merge = pd.merge(merge, interim_Ne, how = 'left', on = ['id'], left_index=False, right_index=False, sort=True)

In [180]:
merge['Ne_Match'] = np.where(~merge['user_id_Ne'].isna(), '1', '0')

merge = merge.drop(columns=['extended_tweet_full_text_duplicate'])

In [181]:
merge = pd.merge(merge, interim_Sd, how = 'left', on = ['id'], left_index=False, right_index=False, sort=True)

In [182]:
merge['Sd_Match'] = np.where(~merge['user_id_Sd'].isna(), '1', '0')

merge = merge.drop(columns=['extended_tweet_full_text_duplicate'])

In [183]:
merge = pd.merge(merge, interim_Purp, how = 'left', on = ['id'], left_index=False, right_index=False, sort=True)

In [184]:
merge['Purp_Match'] = np.where(~merge['user_id_Purp'].isna(), '1', '0')

merge = merge.drop(columns=['extended_tweet_full_text_duplicate'])

In [185]:
merge = pd.merge(merge, interim_Pe, how = 'left', on = ['id'], left_index=False, right_index=False, sort=True)

In [186]:
merge['Pe_Match'] = np.where(~merge['user_id_Pe'].isna(), '1', '0')

merge = merge.drop(columns=['extended_tweet_full_text_duplicate'])

In [187]:
merge

,created_at,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final,Date_Flag_x,created_at_Imp,user_id_Imp,...,created_at_Pe,user_id_Pe,coordinates_Pe,location_Pe,extended_tweet_full_text_duplicate_Pe,final_Pe,Date_Flag,final_score_Pe,final_keyword_match_Pe,Pe_Match
0,Tue Aug 18 20:20:43 +0000 2020,1.599253e+10,1.451254e+08,NaN,"Mumbai, India","T26 -In the English language, why is 'bra' sin...",t26 the english language bra singular panty pl...,True,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,Tue Aug 18 23:14:52 +0000 2020,5.084358e+16,1.745117e+08,NaN,NaN,「WILD LIFE」コンサートDVDとBlu-rayの発売が延期になってしまいました。DV...,wild lifedvdbluraydvdbluray,True,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,Tue Aug 18 21:56:56 +0000 2020,8.750019e+16,1.799504e+07,NaN,California,"Sitting in makeup room with @anncoulter, one o...",sit makeup room one the nice people planet earth,True,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,Tue Aug 18 20:20:51 +0000 2020,9.187137e+16,1.924811e+07,NaN,Citizen of the World Dahhhling,"@TheMariahMafia Yes, Save The Day is still on ...",yes save the day still track to release still ...,True,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,Tue Aug 18 22:56:00 +0000 2020,2.732762e+17,1.884355e+07,NaN,NaN,Find out how I earn money working from home ht...,find out earn money work from home,True,Tue Aug 18 22:56:00 +0000 2020,18843553.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219776,Tue Aug 18 23:59:59 +0000 2020,1.295873e+18,2.763480e+08,NaN,"Coquitlam, BC",@Bernardo1130 @VancouverPD @NEWS1130 Italy man...,italy mandate everyone wear mark 6pm 6am piazz...,True,Tue Aug 18 23:59:59 +0000 2020,276347998.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
219777,Tue Aug 18 23:59:59 +0000 2020,1.295873e+18,7.494009e+17,NaN,🐹🐰🐯🐣 she/her,DISCO POP YEAHHH,disco pop yeahhh,True,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
219778,Tue Aug 18 23:59:59 +0000 2020,1.295873e+18,2.593792e+09,NaN,"British Columbia, Canada","@mikefarnworthbc When is a state of emergency,...",state emergency every day 5 month state emerge...,True,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
219779,Tue Aug 18 23:59:59 +0000 2020,1.295873e+18,4.023078e+08,NaN,"Port Orchard, WA",COVID-19 update from the Kitsap EOC - August 1...,covid19 update from the kitsap eoc august 18 2...,True,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
219780,Tue Aug 18 19:31:24 +0000 2020,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [188]:
merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 219781 entries, 0 to 219780
Data columns (total 68 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   created_at                               219781 non-null  object
 1   id                                       219780 non-null  float64
 2   user_id                                  219780 non-null  float64
 3   coordinates                              358 non-null     object
 4   location                                 158148 non-null  object
 5   extended_tweet_full_text_duplicate       219779 non-null  object
 6   final                                    219177 non-null  object
 7   Date_Flag_x                              219781 non-null  bool
 8   created_at_Imp                           34163 non-null   object
 9   user_id_Imp                              34163 non-null   float64
 10  coordinates_Imp                          93 non-null      object
 11  location_Imp                             24721 non-null   object
 12  extended_tweet_full_text_duplicate_Imp   34163 non-null   object
 13  final_Imp                                34163 non-null   object
 14  Date_Flag_y                              34163 non-null   object
 15  final_score_Imp                          34163 non-null   float64
 16  final_keyword_match_Imp                  34163 non-null   object
 17  Imp_Match                                219781 non-null  object
 18  created_at_Ada                           7869 non-null    object
 19  user_id_Ada                              7869 non-null    float64
 20  coordinates_Ada                          25 non-null      object
 21  location_Ada                             5944 non-null    object
 22  extended_tweet_full_text_duplicate_Ada   7869 non-null    object
 23  final_Ada                                7869 non-null    object
 24  Date_Flag_x                              7869 non-null    object
 25  final_score_Ada                          7869 non-null    float64
 26  final_keyword_match_Ada                  7869 non-null    object
 27  Ada_Match                                219781 non-null  object
 28  created_at_Ne                            11022 non-null   object
 29  user_id_Ne                               11022 non-null   float64
 30  coordinates_Ne                           25 non-null      object
 31  location_Ne                              7912 non-null    object
 32  extended_tweet_full_text_duplicate_Ne    11022 non-null   object
 33  final_Ne                                 11022 non-null   object
 34  Date_Flag_y                              11022 non-null   object
 35  final_score_Ne                           11022 non-null   float64
 36  final_keyword_match_Ne                   11022 non-null   object
 37  Ne_Match                                 219781 non-null  object
 38  created_at_Sd                            3678 non-null    object
 39  user_id_Sd                               3678 non-null    float64
 40  coordinates_Sd                           7 non-null       object
 41  location_Sd                              2744 non-null    object
 42  extended_tweet_full_text_duplicate_Sd    3678 non-null    object
 43  final_Sd                                 3678 non-null    object
 44  Date_Flag_x                              3678 non-null    object
 45  final_score_Sd                           3678 non-null    float64
 46  final_keyword_match_Sd                   3678 non-null    object
 47  Sd_Match                                 219781 non-null  object
 48  created_at_Purp                          4381 non-null    object
 49  user_id_Purp                             4381 non-null    float64
 50  coordinates_Purp                         10 non-null      object
 51  location_Purp                            3097 non-null    object
 52  extended_tweet_full_text_duplicate_Purp  4381 non-null    object
 53  final_Purp                               4381 non-null    object
 54  Date_Flag_y                              4381 non-null    object
 55  final_score_Purp                         4381 non-null    float64
 56  final_keyword_match_Purp                 4381 non-null    object
 57  Purp_Match                               219781 non-null  object
 58  created_at_Pe                            6819 non-null    object
 59  user_id_Pe                               6819 non-null    float64
 60  coordinates_Pe                           20 non-null      object
 61  location_Pe                              5020 non-null    object
 62  extended_tweet_full_text_duplicate_Pe    6819 non-null    object
 63  final_Pe                                 6819 non-null    object
 64  Date_Flag                                6819 non-null    object
 65  final_score_Pe                           6819 non-null    float64
 66  final_keyword_match_Pe                   6819 non-null    object
 67  Pe_Match                                 219781 non-null  object
dtypes: bool(1), float64(14), object(53)
memory usage: 114.2+ MB

In [189]:
merge = merge[['created_at', 'id','user_id','coordinates','location', 'extended_tweet_full_text_duplicate', 'final', 'Imp_Match', 'Ada_Match', 'Ne_Match', 'Sd_Match', 'Purp_Match', 'Pe_Match']]

In [190]:
merge

,created_at,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final,Imp_Match,Ada_Match,Ne_Match,Sd_Match,Purp_Match,Pe_Match
0,Tue Aug 18 20:20:43 +0000 2020,1.599253e+10,1.451254e+08,NaN,"Mumbai, India","T26 -In the English language, why is 'bra' sin...",t26 the english language bra singular panty pl...,0,0,0,0,0,0
1,Tue Aug 18 23:14:52 +0000 2020,5.084358e+16,1.745117e+08,NaN,NaN,「WILD LIFE」コンサートDVDとBlu-rayの発売が延期になってしまいました。DV...,wild lifedvdbluraydvdbluray,0,0,0,0,0,0
2,Tue Aug 18 21:56:56 +0000 2020,8.750019e+16,1.799504e+07,NaN,California,"Sitting in makeup room with @anncoulter, one o...",sit makeup room one the nice people planet earth,0,0,0,0,0,0
3,Tue Aug 18 20:20:51 +0000 2020,9.187137e+16,1.924811e+07,NaN,Citizen of the World Dahhhling,"@TheMariahMafia Yes, Save The Day is still on ...",yes save the day still track to release still ...,0,0,0,0,1,0
4,Tue Aug 18 22:56:00 +0000 2020,2.732762e+17,1.884355e+07,NaN,NaN,Find out how I earn money working from home ht...,find out earn money work from home,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
219776,Tue Aug 18 23:59:59 +0000 2020,1.295873e+18,2.763480e+08,NaN,"Coquitlam, BC",@Bernardo1130 @VancouverPD @NEWS1130 Italy man...,italy mandate everyone wear mark 6pm 6am piazz...,1,0,0,0,0,0
219777,Tue Aug 18 23:59:59 +0000 2020,1.295873e+18,7.494009e+17,NaN,🐹🐰🐯🐣 she/her,DISCO POP YEAHHH,disco pop yeahhh,0,0,0,0,0,0
219778,Tue Aug 18 23:59:59 +0000 2020,1.295873e+18,2.593792e+09,NaN,"British Columbia, Canada","@mikefarnworthbc When is a state of emergency,...",state emergency every day 5 month state emerge...,0,0,0,0,0,0
219779,Tue Aug 18 23:59:59 +0000 2020,1.295873e+18,4.023078e+08,NaN,"Port Orchard, WA",COVID-19 update from the Kitsap EOC - August 1...,covid19 update from the kitsap eoc august 18 2...,0,0,0,0,0,0
219780,Tue Aug 18 19:31:24 +0000 2020,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0

In [198]:
merge.to_csv(outpath, index = None)