# Data Cleaning

In [2]:
import pandas as pd
import numpy as np 
import csv
import re
import string
import time

import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer

import warnings
warnings.filterwarnings("ignore")

start = time.time()
path = '/home/manikya_varshney/Documents/Python/Yale/h01-20200818-10files/August18th.gzip'
#data = pd.read_csv(path, index_col=None, header=0, engine='python' )
data = pd.read_parquet(path)
end = time.time()
print("Read parquet with pandas: ",(end-start),"sec")

In [1]:
data = pd.read_csv(indir, index_col=None, header=0, engine='python' )

NameError: name 'pd' is not defined

In [16]:
data.shape

(1819531, 79)

In [17]:
cols = [0, 1, 3, 4, 5,6, 7, 8, 14, 15, 16, 17, 18, 19, 22, 30, 31, 32, 34, 35, 36, 41, 42, 43, 45, 51, 52, 53, 54, 55, 56, 58, 63, 64, 65, 67, 73, 74, 75, 76, 77]

In [18]:
data = data[data.columns.values[cols]]

In [19]:
data

,created_at,id,is_quote_tweet,quoted_tweet_id,in_reply_to_status_id_str,in_reply_to_user_id_str,in_reply_to_screen_name,lang,place_full_name,place_country_code,...,QT_lang,QT_user_id,QT_username,QT_name,QT_location,QT_place_full_name,QT_place_country_code,QT_coordinates,QT_text,QT_full_text
index,,,,,,,,,,,,,,,,,,,,,
0,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,0.0,NaN,NaN,NaN,None,en,None,None,...,None,NaN,None,None,None,None,None,None,None,None
1,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,1.0,1.295733e+18,NaN,NaN,None,und,"Rossville, MD",US,...,en,2.968145e+08,HealthyFla,Florida Dept. Health,"Tallahassee, FL",None,None,None,Wearing a mask correctly can prevent the sprea...,Wearing a mask correctly can prevent the sprea...
2,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,0.0,NaN,NaN,NaN,None,es,None,None,...,None,NaN,None,None,None,None,None,None,None,None
3,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,1.0,1.295797e+18,NaN,7.852330e+07,RealJamesWoods,und,None,None,...,en,1.220829e+18,AZKAYTE,AZKayte,Rent Free in Libs Heads,None,None,None,ðŸ”¥ON FIRE!ðŸ”¥\n\n#CarlosZapata (not Picatta) from...,ðŸ”¥ON FIRE!ðŸ”¥\n\n#CarlosZapata (not Picatta) from...
4,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,0.0,NaN,1.295688e+18,9.227776e+17,PierolaMarcelo,es,None,None,...,None,NaN,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,Wed Aug 19 04:07:25 +0000 2020,1.295935e+18,0.0,NaN,NaN,NaN,None,ar,None,None,...,None,NaN,None,None,None,None,None,None,None,None
19996,Wed Aug 19 04:07:26 +0000 2020,1.295935e+18,0.0,NaN,NaN,NaN,None,ko,None,None,...,None,NaN,None,None,None,None,None,None,None,None
19997,Wed Aug 19 04:07:08 +0000 2020,1.295935e+18,1.0,1.295651e+18,NaN,NaN,None,en,None,None,...,en,4.721223e+08,PhilippineStar,The Philippine Star,Philippines,None,None,None,"â€˜PRAY FOR ME, PLEASEâ€™\n\nSen. Bong Revilla Jr....","â€˜PRAY FOR ME, PLEASEâ€™\n\nSen. Bong Revilla Jr...."
19998,Wed Aug 19 04:07:26 +0000 2020,1.295935e+18,0.0,NaN,NaN,NaN,None,es,None,None,...,None,NaN,None,None,None,None,None,None,None,None
19999,Wed Aug 19 04:07:26 +0000 2020,1.295935e+18,0.0,NaN,1.295700e+18,3.833490e+08,AbbieHouston1,en,None,None,...,None,NaN,None,None,None,None,None,None,None,None

In [20]:
data.shape

(1819531, 41)

In [21]:
data['lang'].value_counts()

en     894750
es     367014
ja     206681
pt     143944
ko      61839
und     41137
fr      21425
in      15086
hi      10345
tr       8874
tl       8310
it       6806
de       5555
ar       5173
nl       5094
zh       4958
ca       2910
th       1699
pl       1300
ht        696
el        559
et        541
ne        487
ru        422
ro        392
sv        329
bn        315
lt        292
ta        258
mr        255
fi        233
ur        196
vi        194
da        181
eu        164
sl        163
cs        156
cy        148
no        121
fa         81
hu         78
te         65
lv         59
is         52
uk         40
kn         25
gu         24
ml         19
sr         18
iw         15
bg         14
or          9
my          6
dv          4
pa          3
si          2
ps          1
hy          1
am          1
ckb         1
Name: lang, dtype: int64

In [22]:
data[data['lang'] == 'en'].shape

(894750, 41)

In [57]:
data_en = data[data['lang'] == 'en'].reset_index(drop=True)

In [58]:
data_en

,created_at,id,is_quote_tweet,quoted_tweet_id,in_reply_to_status_id_str,in_reply_to_user_id_str,in_reply_to_screen_name,lang,place_full_name,place_country_code,...,QT_lang,QT_user_id,QT_username,QT_name,QT_location,QT_place_full_name,QT_place_country_code,QT_coordinates,QT_text,QT_full_text
0,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,0.0,NaN,NaN,NaN,None,en,None,None,...,None,NaN,None,None,None,None,None,None,None,None
1,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,1.0,1.295540e+18,NaN,NaN,None,en,None,None,...,en,9.390910e+05,JoeBiden,Joe Biden,"Wilmington, DE",None,None,None,".@AndrewCuomo, thank you for your leadership a...",".@AndrewCuomo, thank you for your leadership a..."
2,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,1.0,1.295798e+18,NaN,NaN,None,en,None,None,...,en,3.988421e+08,ITROutlook,ITR EconomicsÂ®,"Manchester, NH",None,None,None,â€œOur forecast for the US economy ... reflects ...,â€œOur forecast for the US economy ... reflects ...
3,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,1.0,1.295572e+18,NaN,NaN,None,en,None,None,...,en,5.881261e+07,LOUISAGUIRRE,Louis Aguirre,Los Angeles,None,None,None,Miami Dadeâ€™s antiquated storm drain system dum...,Miami Dadeâ€™s antiquated storm drain system dum...
4,Tue Aug 18 19:30:11 +0000 2020,1.295805e+18,1.0,1.295673e+18,NaN,NaN,None,en,None,None,...,en,2.902877e+09,barneyjiri,MANIFESTOR,High frequency,None,None,None,Gold Reef City would make the money theyâ€™ve l...,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
894745,Wed Aug 19 04:07:25 +0000 2020,1.295935e+18,1.0,1.294810e+18,NaN,NaN,None,en,None,None,...,und,2.705802e+09,DeThrill,De Thrill,Bay area,None,None,None,@supplierofmemes @Miguel35S https://t.co/7hRtS...,None
894746,Wed Aug 19 04:07:25 +0000 2020,1.295935e+18,0.0,NaN,NaN,NaN,None,en,None,None,...,None,NaN,None,None,None,None,None,None,None,None
894747,Wed Aug 19 04:07:25 +0000 2020,1.295935e+18,0.0,NaN,1.295935e+18,9.119544e+17,cevapifingers,en,None,None,...,None,NaN,None,None,None,None,None,None,None,None
894748,Wed Aug 19 04:07:08 +0000 2020,1.295935e+18,1.0,1.295651e+18,NaN,NaN,None,en,None,None,...,en,4.721223e+08,PhilippineStar,The Philippine Star,Philippines,None,None,None,"â€˜PRAY FOR ME, PLEASEâ€™\n\nSen. Bong Revilla Jr....","â€˜PRAY FOR ME, PLEASEâ€™\n\nSen. Bong Revilla Jr...."
894749,Wed Aug 19 04:07:26 +0000 2020,1.295935e+18,0.0,NaN,1.295700e+18,3.833490e+08,AbbieHouston1,en,None,None,...,None,NaN,None,None,None,None,None,None,None,None

### RT flag

In [59]:
data_en['RT_Flag'] = data_en['text'].str[:2]=='RT'

In [60]:
data_en.shape

(894750, 42)

### Date check

In [61]:
data_en['Date_Flag'] = data_en['created_at'].str[:10] == 'Tue Aug 18'

In [62]:
data_en['Date_Flag'].value_counts()

True     507938
False    386812
Name: Date_Flag, dtype: int64

In [63]:
data_en = data_en[np.where((data_en['Date_Flag'] == True),True,False)].reset_index(drop=True)

In [64]:
data_en.shape

(507938, 43)

## Tree

### is_quote_tweet --> False --> Non RT

In [65]:
data_en.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 507938 entries, 0 to 507937
Data columns (total 43 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   created_at                 507938 non-null  object
 1   id                         507938 non-null  float64
 2   is_quote_tweet             507938 non-null  float16
 3   quoted_tweet_id            125675 non-null  float64
 4   in_reply_to_status_id_str  59729 non-null   float64
 5   in_reply_to_user_id_str    63781 non-null   float64
 6   in_reply_to_screen_name    63763 non-null   object
 7   lang                       507938 non-null  object
 8   place_full_name            5019 non-null    object
 9   place_country_code         5013 non-null    object
 10  coordinates                334 non-null     object
 11  username                   507938 non-null  object
 12  name                       507914 non-null  object
 13  user_id                    507938 non-null  float64
 14  location                   335237 non-null  object
 15  truncated                  507938 non-null  float16
 16  text                       507938 non-null  object
 17  extended_tweet_full_text   86665 non-null   object
 18  RT_id                      341034 non-null  float64
 19  RT_created_at              341034 non-null  object
 20  RT_lang                    341034 non-null  object
 21  RT_user_id                 341034 non-null  float64
 22  RT_username                341034 non-null  object
 23  RT_name                    341030 non-null  object
 24  RT_location                270317 non-null  object
 25  RT_place_full_name         7511 non-null    object
 26  RT_place_country_code      7506 non-null    object
 27  RT_coordinates             28 non-null      object
 28  RT_text                    341034 non-null  object
 29  RT_full_text               182109 non-null  object
 30  QT_id                      125629 non-null  float64
 31  QT_lang                    125629 non-null  object
 32  QT_user_id                 125629 non-null  float64
 33  QT_username                125629 non-null  object
 34  QT_name                    125629 non-null  object
 35  QT_location                103988 non-null  object
 36  QT_place_full_name         1477 non-null    object
 37  QT_place_country_code      1476 non-null    object
 38  QT_coordinates             10 non-null      object
 39  QT_text                    125629 non-null  object
 40  QT_full_text               83792 non-null   object
 41  RT_Flag                    507938 non-null  bool
 42  Date_Flag                  507938 non-null  bool
dtypes: bool(2), float16(2), float64(9), object(30)
memory usage: 154.0+ MB

data_en['is_quote_tweet'].astype(bool)
data_en = data_en.replace({'is_quote_tweet': {'1.0': True, '0.0': False}}, inplace=True)

data_en['is_quote_tweet']

In [66]:
interim = data_en[np.where((data_en['is_quote_tweet'] == 0.0) & (data_en['RT_Flag']==False),True,False)].reset_index(drop=True)

In [67]:
#interim['extended_tweet_full_text'] = np.where( ~interim['truncated'], interim['text'], interim['extended_tweet_full_text'])
interim['extended_tweet_full_text'] = np.where( interim['truncated'] == 0.0, interim['text'], interim['extended_tweet_full_text'])

In [68]:
interim['extended_tweet_full_text']

0         can we wear clone helmets instead of masks to ...
1         SC Senate to reconvene in Sept. to discuss COV...
2         @JohnAvlon During the COVID-19 crisis, Pres. T...
3         We just gonna act like @JamesStormBrand wasnâ€™t...
4         The COVID-19 pandemic has created unprecedente...
                                ...
123700    @queerpoetics I hear you, Oliver. My family ha...
123701    @christina_bobb \nI watch your weekend show.  ...
123702    @Josef1601 Well said!! More inspiration:\nhttp...
123703    @OldhamCouncil got the leaflet didn't expect i...
123704    @StarTribune Quite the fuss for something that...
Name: extended_tweet_full_text, Length: 123705, dtype: object

In [69]:
interim.shape

(123705, 43)

In [70]:
non_rep = interim[['id','user_id', 'coordinates', 'location', 'extended_tweet_full_text']]

In [71]:
non_rep.shape

(123705, 5)

In [72]:
non_rep

,id,user_id,coordinates,location,extended_tweet_full_text
0,1.295805e+18,1.278716e+18,None,None,can we wear clone helmets instead of masks to ...
1,1.295805e+18,9.191072e+08,None,"Myrtle Beach, SC",SC Senate to reconvene in Sept. to discuss COV...
2,1.295805e+18,4.378954e+08,None,"Roseville, CA","@JohnAvlon During the COVID-19 crisis, Pres. T..."
3,1.295805e+18,2.580088e+09,None,None,We just gonna act like @JamesStormBrand wasnâ€™t...
4,1.295805e+18,8.560174e+07,None,"Honolulu, Hawaii",The COVID-19 pandemic has created unprecedente...
...,...,...,...,...,...
123700,1.295872e+18,2.392010e+08,None,between the lines,"@queerpoetics I hear you, Oliver. My family ha..."
123701,1.295872e+18,1.324400e+08,None,None,@christina_bobb \nI watch your weekend show. ...
123702,1.295872e+18,3.316244e+09,None,"Northern California, USA",@Josef1601 Well said!! More inspiration:\nhttp...
123703,1.295872e+18,2.185334e+07,None,"Manchester, England",@OldhamCouncil got the leaflet didn't expect i...
123704,1.295872e+18,1.055951e+18,None,"Chasedbykidswithhammers, MN",@StarTribune Quite the fuss for something that...

In [73]:
non_rep.drop_duplicates(['id']).shape

(123670, 5)

In [74]:
non_rep = non_rep.drop_duplicates(['id']).reset_index(drop=True)

### is_quote_tweet --> False --> RT

In [75]:
data_en.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 507938 entries, 0 to 507937
Data columns (total 43 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   created_at                 507938 non-null  object
 1   id                         507938 non-null  float64
 2   is_quote_tweet             507938 non-null  float16
 3   quoted_tweet_id            125675 non-null  float64
 4   in_reply_to_status_id_str  59729 non-null   float64
 5   in_reply_to_user_id_str    63781 non-null   float64
 6   in_reply_to_screen_name    63763 non-null   object
 7   lang                       507938 non-null  object
 8   place_full_name            5019 non-null    object
 9   place_country_code         5013 non-null    object
 10  coordinates                334 non-null     object
 11  username                   507938 non-null  object
 12  name                       507914 non-null  object
 13  user_id                    507938 non-null  float64
 14  location                   335237 non-null  object
 15  truncated                  507938 non-null  float16
 16  text                       507938 non-null  object
 17  extended_tweet_full_text   86665 non-null   object
 18  RT_id                      341034 non-null  float64
 19  RT_created_at              341034 non-null  object
 20  RT_lang                    341034 non-null  object
 21  RT_user_id                 341034 non-null  float64
 22  RT_username                341034 non-null  object
 23  RT_name                    341030 non-null  object
 24  RT_location                270317 non-null  object
 25  RT_place_full_name         7511 non-null    object
 26  RT_place_country_code      7506 non-null    object
 27  RT_coordinates             28 non-null      object
 28  RT_text                    341034 non-null  object
 29  RT_full_text               182109 non-null  object
 30  QT_id                      125629 non-null  float64
 31  QT_lang                    125629 non-null  object
 32  QT_user_id                 125629 non-null  float64
 33  QT_username                125629 non-null  object
 34  QT_name                    125629 non-null  object
 35  QT_location                103988 non-null  object
 36  QT_place_full_name         1477 non-null    object
 37  QT_place_country_code      1476 non-null    object
 38  QT_coordinates             10 non-null      object
 39  QT_text                    125629 non-null  object
 40  QT_full_text               83792 non-null   object
 41  RT_Flag                    507938 non-null  bool
 42  Date_Flag                  507938 non-null  bool
dtypes: bool(2), float16(2), float64(9), object(30)
memory usage: 154.0+ MB

In [78]:
interim = data_en[np.where((data_en['is_quote_tweet'] == 0.0) & (data_en['RT_Flag']== True),True,False)].reset_index(drop=True)

In [79]:
interim.shape

(258538, 43)

In [80]:
interim[['RT_text','RT_full_text']]

,RT_text,RT_full_text
0,Me in Quarantine vs the story I'll tell my gra...,None
1,"Trust us. This time the data is good.\n\n2020,...","Trust us. This time the data is good.\n\n2020,..."
2,I canâ€™t believe China is partying and America ...,I canâ€™t believe China is partying and America ...
3,Me in Quarantine vs the story I'll tell my gra...,None
4,pregnancy and corona really neck and neck for ...,None
...,...,...
258533,This COVID shit lasting like a Honda Civic,None
258534,pregnancy and corona really neck and neck for ...,None
258535,To those referring to COVID-19 as the â€œEuropea...,None
258536,"I hate this pandemic, if I wanted to waste my ...",None
258537,pregnancy and corona really neck and neck for ...,None

In [81]:
interim['RT_full_text'] = np.where(interim['RT_full_text'].isna(),interim['RT_text'],interim['RT_full_text'])

In [82]:
interim = interim[['RT_id','RT_user_id', 'RT_coordinates', 'RT_location','RT_full_text']]

In [83]:
interim

,RT_id,RT_user_id,RT_coordinates,RT_location,RT_full_text
0,1.295085e+18,1.156820e+09,None,None,Me in Quarantine vs the story I'll tell my gra...
1,1.295767e+18,1.847898e+08,None,San Francisco,"Trust us. This time the data is good.\n\n2020,..."
2,1.295797e+18,2.581637e+07,None,"Manhattan, New York",I canâ€™t believe China is partying and America ...
3,1.295085e+18,1.156820e+09,None,None,Me in Quarantine vs the story I'll tell my gra...
4,1.295717e+18,2.146847e+08,None,None,pregnancy and corona really neck and neck for ...
...,...,...,...,...,...
258533,1.295592e+18,7.349390e+17,None,"Los Angeles, CA",This COVID shit lasting like a Honda Civic
258534,1.295717e+18,2.146847e+08,None,None,pregnancy and corona really neck and neck for ...
258535,1.295640e+18,2.581637e+07,None,"Manhattan, New York",To those referring to COVID-19 as the â€œEuropea...
258536,1.295583e+18,4.762864e+08,None,"Boston, MA","I hate this pandemic, if I wanted to waste my ..."
258537,1.295717e+18,2.146847e+08,None,None,pregnancy and corona really neck and neck for ...

In [84]:
interim = interim.drop_duplicates(['RT_id']).reset_index(drop=True)

In [85]:
interim.shape

(38559, 5)

In [86]:
interim.columns = non_rep.columns

In [87]:
non_rep = non_rep.append(interim,ignore_index=True)

In [88]:
non_rep.shape

(162229, 5)

In [89]:
non_rep['id'].value_counts()

1.295839e+18    2
1.295861e+18    2
1.295852e+18    2
1.295806e+18    2
1.295867e+18    2
               ..
1.295818e+18    1
1.295843e+18    1
1.295866e+18    1
1.295857e+18    1
1.295871e+18    1
Name: id, Length: 152349, dtype: int64

In [90]:
non_rep = non_rep.drop_duplicates(['id']).reset_index(drop=True)

In [91]:
non_rep.shape

(152350, 5)

### is_quote_tweet --> True --> Non RT

In [92]:
data_en.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 507938 entries, 0 to 507937
Data columns (total 43 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   created_at                 507938 non-null  object
 1   id                         507938 non-null  float64
 2   is_quote_tweet             507938 non-null  float16
 3   quoted_tweet_id            125675 non-null  float64
 4   in_reply_to_status_id_str  59729 non-null   float64
 5   in_reply_to_user_id_str    63781 non-null   float64
 6   in_reply_to_screen_name    63763 non-null   object
 7   lang                       507938 non-null  object
 8   place_full_name            5019 non-null    object
 9   place_country_code         5013 non-null    object
 10  coordinates                334 non-null     object
 11  username                   507938 non-null  object
 12  name                       507914 non-null  object
 13  user_id                    507938 non-null  float64
 14  location                   335237 non-null  object
 15  truncated                  507938 non-null  float16
 16  text                       507938 non-null  object
 17  extended_tweet_full_text   86665 non-null   object
 18  RT_id                      341034 non-null  float64
 19  RT_created_at              341034 non-null  object
 20  RT_lang                    341034 non-null  object
 21  RT_user_id                 341034 non-null  float64
 22  RT_username                341034 non-null  object
 23  RT_name                    341030 non-null  object
 24  RT_location                270317 non-null  object
 25  RT_place_full_name         7511 non-null    object
 26  RT_place_country_code      7506 non-null    object
 27  RT_coordinates             28 non-null      object
 28  RT_text                    341034 non-null  object
 29  RT_full_text               182109 non-null  object
 30  QT_id                      125629 non-null  float64
 31  QT_lang                    125629 non-null  object
 32  QT_user_id                 125629 non-null  float64
 33  QT_username                125629 non-null  object
 34  QT_name                    125629 non-null  object
 35  QT_location                103988 non-null  object
 36  QT_place_full_name         1477 non-null    object
 37  QT_place_country_code      1476 non-null    object
 38  QT_coordinates             10 non-null      object
 39  QT_text                    125629 non-null  object
 40  QT_full_text               83792 non-null   object
 41  RT_Flag                    507938 non-null  bool
 42  Date_Flag                  507938 non-null  bool
dtypes: bool(2), float16(2), float64(9), object(30)
memory usage: 154.0+ MB

In [96]:
interim = data_en[np.where((data_en['is_quote_tweet']== 1.0) & (data_en['RT_Flag']== False),True,False)].reset_index(drop=True)

In [97]:
interim.shape

(43080, 43)

In [98]:
#interim['extended_tweet_full_text'] = np.where(~interim['truncated'],interim['text'],interim['extended_tweet_full_text'])
interim['extended_tweet_full_text'] = np.where(interim['truncated'] == 0.0 ,interim['text'],interim['extended_tweet_full_text'])

In [99]:
interim = interim[['id','user_id', 'coordinates', 'location', 'extended_tweet_full_text']]

In [100]:
interim.columns = non_rep.columns

In [101]:
interim.shape

(43080, 5)

In [102]:
interim = interim.drop_duplicates(['id']).reset_index(drop=True)

In [103]:
interim.shape

(43077, 5)

In [104]:
non_rep = non_rep.append(interim,ignore_index=True)

In [105]:
non_rep.shape

(195427, 5)

In [106]:
non_rep = non_rep.drop_duplicates(['id']).reset_index(drop=True)

In [107]:
non_rep.shape

(195409, 5)

In [108]:
#interim = data_en[np.where((data_en['is_quote_tweet']== True) & (data_en['RT_Flag']== False),True,False)].reset_index(drop=True)
#interim = data_en[np.where((data_en['is_quote_tweet'] == 'True') & (data_en['RT_Flag']== False),True,False)].reset_index(drop=True)
interim = data_en[np.where((data_en['is_quote_tweet'] == 1.0 ) & (data_en['RT_Flag']== False),True,False)].reset_index(drop=True)

In [109]:
interim.shape

(43080, 43)

In [110]:
interim[['QT_text','QT_full_text']]

,QT_text,QT_full_text
0,â€œOur forecast for the US economy ... reflects ...,â€œOur forecast for the US economy ... reflects ...
1,Miami Dadeâ€™s antiquated storm drain system dum...,Miami Dadeâ€™s antiquated storm drain system dum...
2,Our Department will be opening up many of its ...,Our Department will be opening up many of its ...
3,Iâ€™m on a call with @SenBobCasey and @PAAttorne...,Iâ€™m on a call with @SenBobCasey and @PAAttorne...
4,my bf never missed a aptâ¤ï¸ except for today ca...,None
...,...,...
43075,"Pour The Sun, Neymar pourrait Ãªtre privÃ© de fi...","Pour The Sun, Neymar pourrait Ãªtre privÃ© de fi..."
43076,And thanks to his unwavering leadership and co...,And thanks to his unwavering leadership and co...
43077,Summary of opening day of the #DNCConvention: ...,Summary of opening day of the #DNCConvention: ...
43078,Rep. Harris: Talk About Moves To Hobble Mail S...,None
43079,Anderson Cooper tears into the MyPillow guy fo...,Anderson Cooper tears into the MyPillow guy fo...

In [111]:
interim['QT_full_text'] = np.where(interim['QT_full_text'].isna(),interim['QT_text'],interim['QT_full_text'])

In [112]:
interim[['QT_text','QT_full_text']]

,QT_text,QT_full_text
0,â€œOur forecast for the US economy ... reflects ...,â€œOur forecast for the US economy ... reflects ...
1,Miami Dadeâ€™s antiquated storm drain system dum...,Miami Dadeâ€™s antiquated storm drain system dum...
2,Our Department will be opening up many of its ...,Our Department will be opening up many of its ...
3,Iâ€™m on a call with @SenBobCasey and @PAAttorne...,Iâ€™m on a call with @SenBobCasey and @PAAttorne...
4,my bf never missed a aptâ¤ï¸ except for today ca...,my bf never missed a aptâ¤ï¸ except for today ca...
...,...,...
43075,"Pour The Sun, Neymar pourrait Ãªtre privÃ© de fi...","Pour The Sun, Neymar pourrait Ãªtre privÃ© de fi..."
43076,And thanks to his unwavering leadership and co...,And thanks to his unwavering leadership and co...
43077,Summary of opening day of the #DNCConvention: ...,Summary of opening day of the #DNCConvention: ...
43078,Rep. Harris: Talk About Moves To Hobble Mail S...,Rep. Harris: Talk About Moves To Hobble Mail S...
43079,Anderson Cooper tears into the MyPillow guy fo...,Anderson Cooper tears into the MyPillow guy fo...

In [113]:
interim = interim[['QT_id','QT_user_id', 'QT_coordinates', 'QT_location', 'QT_full_text']]

In [114]:
interim

,QT_id,QT_user_id,QT_coordinates,QT_location,QT_full_text
0,1.295798e+18,3.988421e+08,None,"Manchester, NH",â€œOur forecast for the US economy ... reflects ...
1,1.295572e+18,5.881261e+07,None,Los Angeles,Miami Dadeâ€™s antiquated storm drain system dum...
2,1.295707e+18,7.054442e+17,None,"University Park, PA",Our Department will be opening up many of its ...
3,1.295789e+18,2.978838e+09,None,"Harrisburg, PA",Iâ€™m on a call with @SenBobCasey and @PAAttorne...
4,1.295805e+18,1.245075e+18,None,None,my bf never missed a aptâ¤ï¸ except for today ca...
...,...,...,...,...,...
43075,1.295853e+18,7.716062e+08,None,None,"Pour The Sun, Neymar pourrait Ãªtre privÃ© de fi..."
43076,1.295507e+18,1.426096e+07,None,Papineau,And thanks to his unwavering leadership and co...
43077,1.295706e+18,1.952711e+08,None,"L.A., Calif.",Summary of opening day of the #DNCConvention: ...
43078,1.295851e+18,6.732390e+07,None,"Baltimore, MD",Rep. Harris: Talk About Moves To Hobble Mail S...
43079,1.295774e+18,1.435008e+08,None,"St. Louis, MO USA",Anderson Cooper tears into the MyPillow guy fo...

In [115]:
interim = interim.drop_duplicates(['QT_id']).reset_index(drop=True)

In [116]:
interim.shape

(17556, 5)

In [117]:
interim.columns = non_rep.columns

In [118]:
non_rep = non_rep.append(interim,ignore_index=True)

In [119]:
non_rep.shape

(212965, 5)

In [120]:
non_rep = non_rep.drop_duplicates(['id']).reset_index(drop=True)

In [121]:
non_rep.shape

(206282, 5)

### is_quote_tweet --> True --> RT

In [122]:
data_en.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 507938 entries, 0 to 507937
Data columns (total 43 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   created_at                 507938 non-null  object
 1   id                         507938 non-null  float64
 2   is_quote_tweet             507938 non-null  float16
 3   quoted_tweet_id            125675 non-null  float64
 4   in_reply_to_status_id_str  59729 non-null   float64
 5   in_reply_to_user_id_str    63781 non-null   float64
 6   in_reply_to_screen_name    63763 non-null   object
 7   lang                       507938 non-null  object
 8   place_full_name            5019 non-null    object
 9   place_country_code         5013 non-null    object
 10  coordinates                334 non-null     object
 11  username                   507938 non-null  object
 12  name                       507914 non-null  object
 13  user_id                    507938 non-null  float64
 14  location                   335237 non-null  object
 15  truncated                  507938 non-null  float16
 16  text                       507938 non-null  object
 17  extended_tweet_full_text   86665 non-null   object
 18  RT_id                      341034 non-null  float64
 19  RT_created_at              341034 non-null  object
 20  RT_lang                    341034 non-null  object
 21  RT_user_id                 341034 non-null  float64
 22  RT_username                341034 non-null  object
 23  RT_name                    341030 non-null  object
 24  RT_location                270317 non-null  object
 25  RT_place_full_name         7511 non-null    object
 26  RT_place_country_code      7506 non-null    object
 27  RT_coordinates             28 non-null      object
 28  RT_text                    341034 non-null  object
 29  RT_full_text               182109 non-null  object
 30  QT_id                      125629 non-null  float64
 31  QT_lang                    125629 non-null  object
 32  QT_user_id                 125629 non-null  float64
 33  QT_username                125629 non-null  object
 34  QT_name                    125629 non-null  object
 35  QT_location                103988 non-null  object
 36  QT_place_full_name         1477 non-null    object
 37  QT_place_country_code      1476 non-null    object
 38  QT_coordinates             10 non-null      object
 39  QT_text                    125629 non-null  object
 40  QT_full_text               83792 non-null   object
 41  RT_Flag                    507938 non-null  bool
 42  Date_Flag                  507938 non-null  bool
dtypes: bool(2), float16(2), float64(9), object(30)
memory usage: 154.0+ MB

In [124]:
#interim = data_en[np.where((data_en['is_quote_tweet'] == True) & (data_en['RT_Flag']== True),True,False)].reset_index(drop=True)
#interim = data_en[np.where((data_en['is_quote_tweet'] == 'True') & (data_en['RT_Flag']== True),True,False)].reset_index(drop=True)
interim = data_en[np.where((data_en['is_quote_tweet'] == 1.0 ) & (data_en['RT_Flag']== True),True,False)].reset_index(drop=True)

In [125]:
interim.shape

(82615, 43)

In [126]:
interim[['RT_text','RT_full_text']]

,RT_text,RT_full_text
0,Biden thanks Cuomo. The AP recently estimated ...,Biden thanks Cuomo. The AP recently estimated ...
1,Nothing that includes men at night is worth it,None
2,".If they can't count tests properly, how can t...",None
3,Remember..Kim Klacik's husband Jeff Klacik is ...,Remember..Kim Klacik's husband Jeff Klacik is ...
4,The â€œI want female rappers with substanceâ€ cro...,None
...,...,...
82610,No doubt that JMU will suffer the same fate in...,No doubt that JMU will suffer the same fate in...
82611,Een if she recovered she should come over side...,Een if she recovered she should come over side...
82612,BREAKING: Antibodies tests in FL show that 23....,BREAKING: Antibodies tests in FL show that 23....
82613,Yes Yes Yes!!!,None
82614,The stories already coming out about college c...,The stories already coming out about college c...

In [127]:
interim['RT_full_text'] = np.where(interim['RT_full_text'].isna(),interim['RT_text'],interim['RT_full_text'])

In [128]:
interim.shape

(82615, 43)

In [129]:
interim[['RT_text','RT_full_text']]

,RT_text,RT_full_text
0,Biden thanks Cuomo. The AP recently estimated ...,Biden thanks Cuomo. The AP recently estimated ...
1,Nothing that includes men at night is worth it,Nothing that includes men at night is worth it
2,".If they can't count tests properly, how can t...",".If they can't count tests properly, how can t..."
3,Remember..Kim Klacik's husband Jeff Klacik is ...,Remember..Kim Klacik's husband Jeff Klacik is ...
4,The â€œI want female rappers with substanceâ€ cro...,The â€œI want female rappers with substanceâ€ cro...
...,...,...
82610,No doubt that JMU will suffer the same fate in...,No doubt that JMU will suffer the same fate in...
82611,Een if she recovered she should come over side...,Een if she recovered she should come over side...
82612,BREAKING: Antibodies tests in FL show that 23....,BREAKING: Antibodies tests in FL show that 23....
82613,Yes Yes Yes!!!,Yes Yes Yes!!!
82614,The stories already coming out about college c...,The stories already coming out about college c...

In [130]:
interim = interim[['RT_id','RT_user_id', 'RT_coordinates', 'RT_location','RT_full_text']]

In [131]:
interim

,RT_id,RT_user_id,RT_coordinates,RT_location,RT_full_text
0,1.295540e+18,5.919733e+08,None,"Washington, DC",Biden thanks Cuomo. The AP recently estimated ...
1,1.295752e+18,1.699632e+09,None,Johannesburg,Nothing that includes men at night is worth it
2,1.295743e+18,1.254551e+08,None,USA,".If they can't count tests properly, how can t..."
3,1.295800e+18,1.694849e+07,None,Los Angeles,Remember..Kim Klacik's husband Jeff Klacik is ...
4,1.295401e+18,2.975633e+07,None,"Negro, Please USA",The â€œI want female rappers with substanceâ€ cro...
...,...,...,...,...,...
82610,1.295544e+18,5.658527e+08,None,"Virginia, USA",No doubt that JMU will suffer the same fate in...
82611,1.295757e+18,1.204665e+18,None,None,Een if she recovered she should come over side...
82612,1.295804e+18,6.352500e+07,None,New York,BREAKING: Antibodies tests in FL show that 23....
82613,1.295863e+18,3.934989e+07,None,None,Yes Yes Yes!!!
82614,1.295826e+18,2.852597e+09,None,Orland Park IL,The stories already coming out about college c...

In [132]:
interim = interim.drop_duplicates(['RT_id']).reset_index(drop=True)

In [133]:
interim.shape

(15139, 5)

In [134]:
interim.columns = non_rep.columns

In [135]:
non_rep = non_rep.append(interim,ignore_index=True)

In [136]:
non_rep.shape

(221421, 5)

In [137]:
non_rep = non_rep.drop_duplicates(['id']).reset_index(drop=True)

In [138]:
non_rep.shape

(215922, 5)

In [139]:
#interim = data_en[np.where((data_en['is_quote_tweet']== True) & (data_en['RT_Flag']== True),True,False)].reset_index(drop=True)
#interim = data_en[np.where((data_en['is_quote_tweet']== 'True') & (data_en['RT_Flag']== True),True,False)].reset_index(drop=True)
interim = data_en[np.where((data_en['is_quote_tweet']== 1.0 ) & (data_en['RT_Flag']== True),True,False)].reset_index(drop=True)

In [140]:
interim.shape

(82615, 43)

In [141]:
interim[['QT_text','QT_full_text']]

,QT_text,QT_full_text
0,".@AndrewCuomo, thank you for your leadership a...",".@AndrewCuomo, thank you for your leadership a..."
1,Gold Reef City would make the money theyâ€™ve l...,None
2,North Carolina is now reporting they OVERCOUNT...,None
3,Data shows a low % of children in single paren...,Data shows a low % of children in single paren...
4,Watch @iamCardiB and @JoeBiden talk police bru...,None
...,...,...
82610,UNC-Chapel Hill just ended their experiment wi...,UNC-Chapel Hill just ended their experiment wi...
82611,#POSTPONEJEE_NEET\nOne of my closest friends a...,#POSTPONEJEE_NEET\nOne of my closest friends a...
82612,FL COVID-19 Update (1/5): Antibody testing fro...,FL COVID-19 Update (1/5): Antibody testing fro...
82613,"BREAKING: S&amp;P 500 rises to a record close,...",None
82614,One in four young adults aged 18-24 reported s...,One in four young adults aged 18-24 reported s...

In [142]:
interim['QT_full_text'] = np.where(interim['QT_full_text'].isna(),interim['QT_text'],interim['QT_full_text'])

In [143]:
interim[['QT_text','QT_full_text']]

,QT_text,QT_full_text
0,".@AndrewCuomo, thank you for your leadership a...",".@AndrewCuomo, thank you for your leadership a..."
1,Gold Reef City would make the money theyâ€™ve l...,Gold Reef City would make the money theyâ€™ve l...
2,North Carolina is now reporting they OVERCOUNT...,North Carolina is now reporting they OVERCOUNT...
3,Data shows a low % of children in single paren...,Data shows a low % of children in single paren...
4,Watch @iamCardiB and @JoeBiden talk police bru...,Watch @iamCardiB and @JoeBiden talk police bru...
...,...,...
82610,UNC-Chapel Hill just ended their experiment wi...,UNC-Chapel Hill just ended their experiment wi...
82611,#POSTPONEJEE_NEET\nOne of my closest friends a...,#POSTPONEJEE_NEET\nOne of my closest friends a...
82612,FL COVID-19 Update (1/5): Antibody testing fro...,FL COVID-19 Update (1/5): Antibody testing fro...
82613,"BREAKING: S&amp;P 500 rises to a record close,...","BREAKING: S&amp;P 500 rises to a record close,..."
82614,One in four young adults aged 18-24 reported s...,One in four young adults aged 18-24 reported s...

In [144]:
interim = interim[['QT_id','QT_user_id', 'QT_coordinates', 'QT_location', 'QT_full_text']]

In [145]:
interim

,QT_id,QT_user_id,QT_coordinates,QT_location,QT_full_text
0,1.295540e+18,9.390910e+05,None,"Wilmington, DE",".@AndrewCuomo, thank you for your leadership a..."
1,1.295673e+18,2.902877e+09,None,High frequency,Gold Reef City would make the money theyâ€™ve l...
2,1.295721e+18,1.196555e+08,None,USA,North Carolina is now reporting they OVERCOUNT...
3,1.295315e+18,1.259714e+09,None,Mary Land,Data shows a low % of children in single paren...
4,1.295368e+18,2.397873e+07,None,"Brooklyn, NY",Watch @iamCardiB and @JoeBiden talk police bru...
...,...,...,...,...,...
82610,1.295450e+18,1.723339e+07,None,Michigan and Virginia,UNC-Chapel Hill just ended their experiment wi...
82611,1.295751e+18,3.141703e+09,None,India,#POSTPONEJEE_NEET\nOne of my closest friends a...
82612,1.295800e+18,1.058808e+09,None,None,FL COVID-19 Update (1/5): Antibody testing fro...
82613,1.295814e+18,3.757211e+08,None,Nashville,"BREAKING: S&amp;P 500 rises to a record close,..."
82614,1.295475e+18,1.408004e+09,None,United States of America,One in four young adults aged 18-24 reported s...

In [146]:
interim = interim.drop_duplicates(['QT_id']).reset_index(drop=True)

In [147]:
interim.shape

(9253, 5)

In [148]:
interim.columns = non_rep.columns

In [149]:
non_rep = non_rep.append(interim,ignore_index=True)

In [150]:
non_rep.shape

(225175, 5)

In [151]:
non_rep = non_rep.drop_duplicates(['id']).reset_index(drop=True)

In [152]:
non_rep.shape

(219781, 5)

non_rep.to_csv('/home/manikya_varshney/Documents/Python/Yale/h01-20200818-10files/final(Cleaned)_h01-20200818-153021.csv',index=False)

In [153]:
non_rep

,id,user_id,coordinates,location,extended_tweet_full_text
0,1.295805e+18,1.278716e+18,None,None,can we wear clone helmets instead of masks to ...
1,1.295805e+18,9.191072e+08,None,"Myrtle Beach, SC",SC Senate to reconvene in Sept. to discuss COV...
2,1.295805e+18,4.378954e+08,None,"Roseville, CA","@JohnAvlon During the COVID-19 crisis, Pres. T..."
3,1.295805e+18,2.580088e+09,None,None,We just gonna act like @JamesStormBrand wasnâ€™t...
4,1.295805e+18,8.560174e+07,None,"Honolulu, Hawaii",The COVID-19 pandemic has created unprecedente...
...,...,...,...,...,...
219776,1.294549e+18,1.697333e+07,None,"London, England",Thousands in pre-dawn scramble to beat France ...
219777,1.295594e+18,8.591716e+08,None,Corvallis OR,Do you all ever realize that we are in the mid...
219778,1.295392e+18,5.676725e+07,None,"Chicago, IL",Bears coach Matt Nagy wore a mask the entire p...
219779,1.288855e+18,1.618015e+08,None,"Seattle, WA",The worldâ€™s #COVID19 response is based on inco...
219780,1.295370e+18,2.559617e+07,None,"San Diego, CA",San Diego County eligible to exit state monito...

#####  1. Casing (Upper or lower case)
##### 2. Noise Removal (Removal of punctuation, white spaces, special characters, HTML tags)
##### 3. Tokenization (Tweets to tokens i.e. words seprated by spaces)
##### 4. Stopword Removal
##### 5. Text Normalization (Stemming and Lemmatization)

In [154]:
import pandas as pd
import numpy as np 
import csv
import re
import string
import emoji

import nltk
from nltk import pos_tag, pos_tag_sents
from nltk.corpus import stopwords
from nltk.corpus import wordnet
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer

from fuzzywuzzy import fuzz
from fuzzywuzzy import process

import warnings
warnings.filterwarnings("ignore")

import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')
stop_words = set(stopwords.words('english')) - set(['at', 'do', 'your', 'from', 'to', 'out', 'no', 'the'])
#demoji.download_codes()

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/manikya_varshney/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /home/manikya_varshney/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /home/manikya_varshney/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /home/manikya_varshney/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [155]:
cleaned_data = non_rep.copy()

In [156]:
cleaned_data['extended_tweet_full_text_duplicate'] = cleaned_data['extended_tweet_full_text']

In [157]:
#Convert to lower case
cleaned_data['extended_tweet_full_text'] = cleaned_data['extended_tweet_full_text'].str.lower()

In [158]:
#Removing emojis
def demoji(text):
    emoji_pattern = re.compile("["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
        u"\U00002702-\U000027B0"
        u"\U000024C2-\U0001F251"
        u"\U00010000-\U0010ffff"
                               "]+", flags=re.UNICODE)
    return(emoji_pattern.sub(r'', text))

cleaned_data[u'extended_tweet_full_text'] = cleaned_data[u'extended_tweet_full_text'].astype(str)
cleaned_data[u'extended_tweet_full_text'] = cleaned_data[u'extended_tweet_full_text'].apply(lambda x:demoji(x))

In [159]:
#Remove URLs
cleaned_data['extended_tweet_full_text'] = cleaned_data['extended_tweet_full_text'].str.replace(r"http\S+| www\S+| https\S+| \S+\.com\S+| \S+\.com", "", regex=True)

In [160]:
#Remove user @
cleaned_data['extended_tweet_full_text'] = cleaned_data['extended_tweet_full_text'].str.replace(r'\@[\w]+', "", regex=True)

In [161]:
#Remove punctuations
cleaned_data['extended_tweet_full_text'] = cleaned_data['extended_tweet_full_text'].str.translate(str.maketrans("", "", string.punctuation))

In [162]:
#More Cleaning
cleaned_data['extended_tweet_full_text']=cleaned_data['extended_tweet_full_text'].astype(str).str.replace('/[^a-zA-Z0-9 ]/g', '', regex=True).str.replace('\n',' ', regex=True).str.replace('â€”',' ', regex=True).str.strip('â€œ').str.strip('â€').str.strip('â€™').str.lstrip(' ').str.rstrip(' ')

In [163]:
#Tokenizing
cleaned_data.extended_tweet_full_text = cleaned_data.extended_tweet_full_text.astype(str)
cleaned_data['tokenized_extended_tweet_full_text'] = cleaned_data.apply(lambda row: nltk.word_tokenize(row.extended_tweet_full_text), axis=1)

# remove stopwords
cleaned_data['filtered_extended_tweet_full_text'] = cleaned_data['tokenized_extended_tweet_full_text'].apply(lambda x: [word for word in x if word not in stop_words])

In [164]:
#Stemming
ps = PorterStemmer()
cleaned_data['stemmed_extended_tweet_full_text'] = cleaned_data['filtered_extended_tweet_full_text'].apply(lambda x: [ps.stem(y) for y in x])

In [165]:
#POSTags
def get_wordnet_pos(word):
    """Map POS tag to first character lemmatize() accepts"""
    tag = nltk.pos_tag([word])[0][1][0].upper()
    tag_dict = {"J": wordnet.ADJ, "N": wordnet.NOUN, "V": wordnet.VERB, "R": wordnet.ADV}
    return tag_dict.get(tag, wordnet.NOUN)

In [166]:
#Lemmatizing
lemmatizer = WordNetLemmatizer()
cleaned_data['lemmatized_extended_tweet_full_text'] = cleaned_data['filtered_extended_tweet_full_text'].apply(lambda x: [lemmatizer.lemmatize(y, get_wordnet_pos(y)) for y in x])

In [167]:
#Joining the lemmetized tokens to form string
cleaned_data['final'] = cleaned_data['lemmatized_extended_tweet_full_text'].apply(lambda x: " ".join([word for word in x]))

In [168]:
#Remove punctuations
cleaned_data['final'] = cleaned_data['final'].str.translate(str.maketrans("", "", string.punctuation))
cleaned_data['final'] = cleaned_data['final'].str.replace("â€™", '').str.replace("â€œ", '').str.replace("â€", '')
cleaned_data['extended_tweet_full_text']=cleaned_data['extended_tweet_full_text'].astype(str).str.replace('/[^a-zA-Z0-9 ]/g', '', regex=True).str.replace('\n',' ', regex=True).str.replace('â€”',' ', regex=True).str.strip('â€œ').str.strip('â€').str.strip('â€™').str.lstrip(' ').str.rstrip(' ')

In [169]:
cleaned_data

,id,user_id,coordinates,location,extended_tweet_full_text,extended_tweet_full_text_duplicate,tokenized_extended_tweet_full_text,filtered_extended_tweet_full_text,stemmed_extended_tweet_full_text,lemmatized_extended_tweet_full_text,final
0,1.295805e+18,1.278716e+18,None,None,can we wear clone helmets instead of masks to ...,can we wear clone helmets instead of masks to ...,"[can, we, wear, clone, helmets, instead, of, m...","[wear, clone, helmets, instead, masks, to, sch...","[wear, clone, helmet, instead, mask, to, school]","[wear, clone, helmet, instead, mask, to, school]",wear clone helmet instead mask to school
1,1.295805e+18,9.191072e+08,None,"Myrtle Beach, SC",sc senate to reconvene in sept to discuss covi...,SC Senate to reconvene in Sept. to discuss COV...,"[sc, senate, to, reconvene, in, sept, to, disc...","[sc, senate, to, reconvene, sept, to, discuss,...","[sc, senat, to, reconven, sept, to, discuss, c...","[sc, senate, to, reconvene, sept, to, discus, ...",sc senate to reconvene sept to discus covid19 ...
2,1.295805e+18,4.378954e+08,None,"Roseville, CA",during the covid19 crisis pres trump has not a...,"@JohnAvlon During the COVID-19 crisis, Pres. T...","[during, the, covid19, crisis, pres, trump, ha...","[the, covid19, crisis, pres, trump, always, ho...","[the, covid19, crisi, pre, trump, alway, hones...","[the, covid19, crisis, pres, trump, always, ho...",the covid19 crisis pres trump always honest se...
3,1.295805e+18,2.580088e+09,None,None,we just gonna act like wasnâ€™t ahead of the cu...,We just gonna act like @JamesStormBrand wasnâ€™t...,"[we, just, gon, na, act, like, wasn, â€™, t, ahe...","[gon, na, act, like, â€™, ahead, the, curve, sel...","[gon, na, act, like, â€™, ahead, the, curv, sell...","[gon, na, act, like, â€™, ahead, the, curve, sel...",gon na act like ahead the curve sell face mas...
4,1.295805e+18,8.560174e+07,None,"Honolulu, Hawaii",the covid19 pandemic has created unprecedented...,The COVID-19 pandemic has created unprecedente...,"[the, covid19, pandemic, has, created, unprece...","[the, covid19, pandemic, created, unprecedente...","[the, covid19, pandem, creat, unpreced, barrie...","[the, covid19, pandemic, create, unprecedented...",the covid19 pandemic create unprecedented barr...
...,...,...,...,...,...,...,...,...,...,...,...
219776,1.294549e+18,1.697333e+07,None,"London, England",thousands in predawn scramble to beat france q...,Thousands in pre-dawn scramble to beat France ...,"[thousands, in, predawn, scramble, to, beat, f...","[thousands, predawn, scramble, to, beat, franc...","[thousand, predawn, scrambl, to, beat, franc, ...","[thousand, predawn, scramble, to, beat, france...",thousand predawn scramble to beat france quara...
219777,1.295594e+18,8.591716e+08,None,Corvallis OR,do you all ever realize that we are in the mid...,Do you all ever realize that we are in the mid...,"[do, you, all, ever, realize, that, we, are, i...","[do, ever, realize, the, middle, revolution, f...","[do, ever, realiz, the, middl, revolut, fuck, ...","[do, ever, realize, the, middle, revolution, f...",do ever realize the middle revolution fuck pan...
219778,1.295392e+18,5.676725e+07,None,"Chicago, IL",bears coach matt nagy wore a mask the entire p...,Bears coach Matt Nagy wore a mask the entire p...,"[bears, coach, matt, nagy, wore, a, mask, the,...","[bears, coach, matt, nagy, wore, mask, the, en...","[bear, coach, matt, nagi, wore, mask, the, ent...","[bear, coach, matt, nagy, wore, mask, the, ent...",bear coach matt nagy wore mask the entire prac...
219779,1.288855e+18,1.618015e+08,None,"Seattle, WA",the worldâ€™s covid19 response is based on incom...,The worldâ€™s #COVID19 response is based on inco...,"[the, world, â€™, s, covid19, response, is, base...","[the, world, â€™, covid19, response, based, inco...","[the, world, â€™, covid19, respons, base, incomp...","[the, world, â€™, covid19, response, base, incom...",the world covid19 response base incomplete se...
219780,1.295370e+18,2.559617e+07,None,"San Diego, CA",san diego county eligible to exit state monito...,San Diego County eligible to exit state monito...,"[san, diego, county, eligible, to, exit, state...","[san, diego, county, eligible, to, exit, state...","[san, diego, counti, elig, to, exit, state, mo...","[san, diego, county, eligible, to, exit, state...",san diego county eligible to exit state monito...

In [170]:
cols = [0, 1, 2, 3 ,5, 10]
data_final = cleaned_data[cleaned_data.columns.values[cols]]

In [171]:
data_final

,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final
0,1.295805e+18,1.278716e+18,None,None,can we wear clone helmets instead of masks to ...,wear clone helmet instead mask to school
1,1.295805e+18,9.191072e+08,None,"Myrtle Beach, SC",SC Senate to reconvene in Sept. to discuss COV...,sc senate to reconvene sept to discus covid19 ...
2,1.295805e+18,4.378954e+08,None,"Roseville, CA","@JohnAvlon During the COVID-19 crisis, Pres. T...",the covid19 crisis pres trump always honest se...
3,1.295805e+18,2.580088e+09,None,None,We just gonna act like @JamesStormBrand wasnâ€™t...,gon na act like ahead the curve sell face mas...
4,1.295805e+18,8.560174e+07,None,"Honolulu, Hawaii",The COVID-19 pandemic has created unprecedente...,the covid19 pandemic create unprecedented barr...
...,...,...,...,...,...,...
219776,1.294549e+18,1.697333e+07,None,"London, England",Thousands in pre-dawn scramble to beat France ...,thousand predawn scramble to beat france quara...
219777,1.295594e+18,8.591716e+08,None,Corvallis OR,Do you all ever realize that we are in the mid...,do ever realize the middle revolution fuck pan...
219778,1.295392e+18,5.676725e+07,None,"Chicago, IL",Bears coach Matt Nagy wore a mask the entire p...,bear coach matt nagy wore mask the entire prac...
219779,1.288855e+18,1.618015e+08,None,"Seattle, WA",The worldâ€™s #COVID19 response is based on inco...,the world covid19 response base incomplete se...
219780,1.295370e+18,2.559617e+07,None,"San Diego, CA",San Diego County eligible to exit state monito...,san diego county eligible to exit state monito...

In [173]:
data_final.to_csv('/home/manikya_varshney/Documents/Python/Yale/Final Data/final(Cleaned and Analysed)_August18th.csv',index=False)

In [174]:
data_final.to_parquet('/home/manikya_varshney/Documents/Python/Yale/Final Data/final(Cleaned and Analysed via gzip)_August18th.gzip', compression='gzip')