In [1]:
import pandas as pd
import numpy as np 
import csv
import time

In [14]:
inpath_1 = '/home/manikya_varshney/Documents/Python/Yale/Final Data/Final Datewise Sorted/(C&A)September8th.csv'
inpath_2 = '/home/manikya_varshney/Documents/Python/Yale/Final Data/Final Datewise Sorted/(C&A)September8th(from 7th).csv'

outpath = '/home/manikya_varshney/Documents/Python/Yale/Final Data/Final Date Merged/(Final)September8th.csv'

In [3]:
start = time.time()
data_1 = pd.read_csv(inpath_1, index_col=None, header=0, engine='python' )
data_2 = pd.read_csv(inpath_2, index_col=None, header=0, engine='python' )
end = time.time()
print("Read csv with pandas: ",(end-start),"sec")

Read csv with pandas:  6.903908014297485 sec

In [4]:
data_1

,created_at,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final,Date_Flag
0,Tue Sep 08 04:01:22 +0000 2020,1.303182e+18,1.122185e+18,NaN,NaN,This lady rly just tried to come two inches ne...,lady rly try to come two inch next to to block...,True
1,Tue Sep 08 04:01:22 +0000 2020,1.303182e+18,3.199075e+09,NaN,NaN,@realDonaldTrump STOP DIVIDING THE COUNTRY!\n\...,stop divide the country president dont know to...,True
2,Tue Sep 08 04:01:22 +0000 2020,1.303182e+18,1.103441e+18,NaN,NaN,@SkyNewsAust NOTE!\n\nThis video should be vie...,note video view every australian man unassaila...,True
3,Tue Sep 08 04:01:22 +0000 2020,1.303182e+18,7.141611e+17,NaN,"San Francisco, CA",Biggest comeback? Seeing the whole world back ...,big comeback see the whole world back to norma...,True
4,Tue Sep 08 04:01:22 +0000 2020,1.303182e+18,2.636616e+08,NaN,"Virginia Beach, VA",@lenacarti I hear you! But I'm gonna start tr...,hear im gon na start travel january to jamaica...,True
...,...,...,...,...,...,...,...,...
698662,Tue Sep 08 23:58:28 +0000 2020,1.300546e+18,2.785194e+08,NaN,NaN,Received my Official Furlough Notice today. @v...,receive official furlough notice today please ...,True
698663,Tue Sep 08 23:58:59 +0000 2020,1.300224e+18,4.550243e+08,NaN,"Washington, DC","As you get ready for a new week, don't forget ...",get ready new week dont forget 3âƒ£ w to prevent...,True
698664,Tue Sep 08 23:59:28 +0000 2020,1.298920e+18,6.124730e+05,NaN,London,PM Boris Johnson hires personal trainer Harry ...,pm boris johnson hire personal trainer harry j...,True
698665,Tue Sep 08 23:59:34 +0000 2020,1.299761e+18,2.056583e+07,NaN,"Washington, DC USA ðŸ‡ºðŸ‡¸",Headquarters of anti-LGBTQ group â€˜Focus on the...,headquarters antilgbtq group â€˜ focus the famil...,True
698666,Tue Sep 08 23:59:42 +0000 2020,1.281235e+18,2.683783e+09,NaN,Rivendell (Imladris),WHICH SUIT?\n1. The Ant-man suit\n2. The Ironm...,suit 1 the antman suit 2 the ironman suit 3 th...,True

In [5]:
data_2

,created_at,id,user_id,coordinates,location,extended_tweet_full_text_duplicate,final,Date_Flag
0,Tue Sep 08 02:24:35 +0000 2020,1.303157e+18,1.191796e+08,NaN,"Pasadena, CA",@mamasherry21 @Alyssa_Milano Or the nearly 200...,the nearly 200000 dead from covid19 the 20mill...,True
1,Tue Sep 08 02:24:35 +0000 2020,1.303157e+18,1.139218e+08,NaN,"Boston, MA",@DaveePena people REALLY are bored with this s...,people really bore shit rn lol like say late p...,True
2,Tue Sep 08 02:24:35 +0000 2020,1.303157e+18,1.309928e+08,NaN,"Hobart, Tasmania",â€œWhat the Royal Commission and COVID-19 have s...,the royal commission covid19 show disconnect t...,True
3,Tue Sep 08 02:24:36 +0000 2020,1.303157e+18,1.687396e+09,NaN,129,Me have a glock 19 like covid 19 Buss out them...,glock 19 like covid 19 bus out head left brain...,True
4,Tue Sep 08 02:24:36 +0000 2020,1.303157e+18,3.033848e+09,NaN,"Boston, MA",Just leaving the ER after being rushed back th...,leave the er rush back afternoon cant even lie...,True
...,...,...,...,...,...,...,...,...
123387,Tue Sep 08 04:01:05 +0000 2020,1.290860e+18,2.218708e+07,NaN,"Washington, D.C.",The chief adviser to the Trump administrationâ€™...,the chief adviser to the trump administration ...,True
123388,Tue Sep 08 04:01:07 +0000 2020,1.302699e+18,2.704682e+09,NaN,USA and Client Nations,https://t.co/cT0Z7XrKS3,NaN,True
123389,Tue Sep 08 04:01:14 +0000 2020,1.244119e+18,2.126890e+07,NaN,New York City,Good lord this video. Like a thoroughbred maki...,good lord video like thoroughbred make late br...,True
123390,Tue Sep 08 04:01:20 +0000 2020,1.302943e+18,1.223450e+18,NaN,NaN,@AshishJaggi_1 @gauravbh @Rajput_Ramesh really...,really thankful to gaurabh bhatia sir solanki ...,True
123391,Tue Sep 08 04:01:20 +0000 2020,1.244043e+18,2.704715e+09,NaN,"Atlanta, GA she/her",You might have heard about the new test that c...,might heard the new test detect covid19 5 min ...,True

In [6]:
dfList = []

dfList.append(data_1)
dfList.append(data_2)

print(len(dfList))

concatDf = pd.concat(dfList, axis = 0)

2

In [7]:
concatDf.shape

(822059, 8)

In [8]:
data_1.shape[0] + data_2.shape[0] == concatDf.shape[0]

True

In [9]:
concatDf['id'].value_counts()

1.241715e+18    2
1.303161e+18    2
1.302741e+18    2
1.303111e+18    2
1.303035e+18    2
               ..
1.303438e+18    1
1.303227e+18    1
1.303435e+18    1
1.303358e+18    1
1.303353e+18    1
Name: id, Length: 800898, dtype: int64

In [10]:
concatDf = concatDf.drop_duplicates(['id'])

In [11]:
concatDf['id'].value_counts()

1.303360e+18    1
1.303291e+18    1
1.303370e+18    1
1.303228e+18    1
1.303318e+18    1
               ..
1.303428e+18    1
1.303355e+18    1
1.303282e+18    1
1.303463e+18    1
1.303353e+18    1
Name: id, Length: 800898, dtype: int64

In [12]:
concatDf.shape

(800899, 8)

In [13]:
concatDf.to_csv(outpath, index = None)