In [1]:
import pandas as pd
import numpy as np 
import csv
import re
import string
import datetime
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer

import warnings
warnings.filterwarnings("ignore")

In [2]:
path = '/home/manikya_varshney/Documents/Python/Yale/All Graphs/Jan-Feb-Mar/Jan-Feb-Mar-Data/February/(Final)February.csv'
data = pd.read_csv(path, low_memory=False)

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34140 entries, 0 to 34139
Data columns (total 90 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   account_created_at       34140 non-null  int64
 1   account_lang             0 non-null      float64
 2   bbox_coords              34140 non-null  object
 3   coords_coords            34140 non-null  object
 4   country                  34140 non-null  object
 5   country_code             34140 non-null  object
 6   created_at               34140 non-null  object
 7   description              31393 non-null  object
 8   display_text_width       34140 non-null  int64
 9   ext_media_expanded_url   4459 non-null   object
 10  ext_media_t.co           4459 non-null   object
 11  ext_media_type           0 non-null      float64
 12  ext_media_url            4459 non-null   object
 13  favorite_count           34140 non-null  int64
 14  favourites_count         34140 non-null  int64
 15  followers_count          34140 non-null  int64
 16  friends_count            34140 non-null  int64
 17  geo_coords               34140 non-null  object
 18  hashtags                 11430 non-null  object
 19  is_quote                 34140 non-null  bool
 20  is_retweet               34140 non-null  bool
 21  lang                     34140 non-null  object
 22  listed_count             34140 non-null  int64
 23  location                 30221 non-null  object
 24  media_expanded_url       4459 non-null   object
 25  media_t.co               4459 non-null   object
 26  media_type               4459 non-null   object
 27  media_url                4459 non-null   object
 28  mentions_screen_name     12028 non-null  object
 29  mentions_user_id         12029 non-null  object
 30  name                     34140 non-null  object
 31  place_full_name          34140 non-null  object
 32  place_name               34140 non-null  object
 33  place_type               34140 non-null  object
 34  place_url                34140 non-null  object
 35  profile_background_url   28319 non-null  object
 36  profile_banner_url       29590 non-null  object
 37  profile_expanded_url     15170 non-null  object
 38  profile_image_url        34140 non-null  object
 39  profile_url              15180 non-null  object
 40  protected                34140 non-null  bool
 41  quote_count              0 non-null      float64
 42  quoted_created_at        4431 non-null   float64
 43  quoted_description       4334 non-null   object
 44  quoted_favorite_count    4431 non-null   float64
 45  quoted_followers_count   4431 non-null   float64
 46  quoted_friends_count     4431 non-null   float64
 47  quoted_location          3648 non-null   object
 48  quoted_name              4431 non-null   object
 49  quoted_retweet_count     4431 non-null   float64
 50  quoted_screen_name       4431 non-null   object
 51  quoted_source            4431 non-null   object
 52  quoted_status_id         4431 non-null   float64
 53  quoted_statuses_count    4431 non-null   float64
 54  quoted_text              4431 non-null   object
 55  quoted_user_id           4431 non-null   float64
 56  quoted_verified          4431 non-null   object
 57  reply_count              0 non-null      float64
 58  reply_to_screen_name     7469 non-null   object
 59  reply_to_status_id       6226 non-null   float64
 60  reply_to_user_id         7469 non-null   float64
 61  retweet_count            34140 non-null  int64
 62  retweet_created_at       0 non-null      float64
 63  retweet_description      0 non-null      float64
 64  retweet_favorite_count   0 non-null      float64
 65  retweet_followers_count  0 non-null      float64
 66  retweet_friends_count    0 non-null      float64
 67  retweet_location         0 non-null      float64
 68  retweet_name             0 non-null      float64
 69  retweet_retweet_count    0 non-null      float64
 70  retweet_screen_name      0 non-null      float64
 71  retweet_source           0 non-null      float64
 72  retweet_status_id        0 non-null      float64
 73  retweet_statuses_count   0 non-null      float64
 74  retweet_text             0 non-null      float64
 75  retweet_user_id          0 non-null      float64
 76  retweet_verified         0 non-null      float64
 77  screen_name              34140 non-null  object
 78  source                   34140 non-null  object
 79  status_id                34140 non-null  int64
 80  status_url               34140 non-null  object
 81  statuses_count           34140 non-null  int64
 82  symbols                  153 non-null    object
 83  text                     34140 non-null  object
 84  url                      15180 non-null  object
 85  urls_expanded_url        16136 non-null  object
 86  urls_t.co                16136 non-null  object
 87  urls_url                 16136 non-null  object
 88  user_id                  34140 non-null  int64
 89  verified                 34140 non-null  bool
dtypes: bool(4), float64(29), int64(11), object(46)
memory usage: 22.5+ MB

In [4]:
cols = [88, 79, 6, 83, 19, 20, 21, 52, 54, 55]

In [5]:
data = data[data.columns.values[cols]]

In [6]:
data

,user_id,status_id,created_at,text,is_quote,is_retweet,lang,quoted_status_id,quoted_text,quoted_user_id
0,2830360129,1223395751658770433,2020-02-01 00:00:51,'There's no doubt': Top US infectious disease ...,False,False,en,NaN,NaN,NaN
1,812086975763124224,1223396594571079681,2020-02-01 00:04:12,My office has received several questions about...,True,False,en,1.223367e+18,@SCCgov @HealthySCC The risk of #coronavirus i...,33934492.0
2,415216798,1223396815879528449,2020-02-01 00:05:05,i hope everyone using the coronavirus to sprea...,False,False,en,NaN,NaN,NaN
3,853007708814954496,1223396931738599425,2020-02-01 00:05:32,Thoughts? San Francisco :: Santa Clara County ...,False,False,en,NaN,NaN,NaN
4,1056736610,1223396972054237184,2020-02-01 00:05:42,Dumb bitch the coronavirus wasn’t contracted e...,True,False,en,1.222660e+18,@helloalegria thats cause it is a chinese illn...,505135132.0
...,...,...,...,...,...,...,...,...,...,...
34135,36591485,1233542183447400448,2020-02-28 23:59:09,"Mexicans don’t have time for Coronavirus, we h...",False,False,en,NaN,NaN,NaN
34136,36949690,1233542277777297408,2020-02-28 23:59:31,SENTEAMENTAL MOODS &amp; THE CORONAVIRUS (COVI...,False,False,en,NaN,NaN,NaN
34137,2722589802,1233542319187644416,2020-02-28 23:59:41,No one should be concerned with the economy......,False,False,en,NaN,NaN,NaN
34138,812814500818780160,1233542344106020868,2020-02-28 23:59:47,@SenSchumer @twittinsusan Trump might as well ...,False,False,en,NaN,NaN,NaN
34139,710111395,1233542348660977664,2020-02-28 23:59:48,@MichaelRizer @charliekirk11 Don't you find it...,False,False,en,NaN,NaN,NaN

In [7]:
data['lang'].value_counts()

en    34140
Name: lang, dtype: int64

In [8]:
data = data[data['lang'] == 'en'].reset_index(drop=True)

# Date Sorting

pd.to_datetime(data['created_at']).dt.date == pd.Timestamp(2020,2,02)

In [9]:
data['Date_Flag'] = data['created_at'].str[:10] == '2020-02-28'

In [10]:
data['Date_Flag'].value_counts()

False    28003
True      6137
Name: Date_Flag, dtype: int64

In [11]:
data

,user_id,status_id,created_at,text,is_quote,is_retweet,lang,quoted_status_id,quoted_text,quoted_user_id,Date_Flag
0,2830360129,1223395751658770433,2020-02-01 00:00:51,'There's no doubt': Top US infectious disease ...,False,False,en,NaN,NaN,NaN,False
1,812086975763124224,1223396594571079681,2020-02-01 00:04:12,My office has received several questions about...,True,False,en,1.223367e+18,@SCCgov @HealthySCC The risk of #coronavirus i...,33934492.0,False
2,415216798,1223396815879528449,2020-02-01 00:05:05,i hope everyone using the coronavirus to sprea...,False,False,en,NaN,NaN,NaN,False
3,853007708814954496,1223396931738599425,2020-02-01 00:05:32,Thoughts? San Francisco :: Santa Clara County ...,False,False,en,NaN,NaN,NaN,False
4,1056736610,1223396972054237184,2020-02-01 00:05:42,Dumb bitch the coronavirus wasn’t contracted e...,True,False,en,1.222660e+18,@helloalegria thats cause it is a chinese illn...,505135132.0,False
...,...,...,...,...,...,...,...,...,...,...,...
34135,36591485,1233542183447400448,2020-02-28 23:59:09,"Mexicans don’t have time for Coronavirus, we h...",False,False,en,NaN,NaN,NaN,True
34136,36949690,1233542277777297408,2020-02-28 23:59:31,SENTEAMENTAL MOODS &amp; THE CORONAVIRUS (COVI...,False,False,en,NaN,NaN,NaN,True
34137,2722589802,1233542319187644416,2020-02-28 23:59:41,No one should be concerned with the economy......,False,False,en,NaN,NaN,NaN,True
34138,812814500818780160,1233542344106020868,2020-02-28 23:59:47,@SenSchumer @twittinsusan Trump might as well ...,False,False,en,NaN,NaN,NaN,True
34139,710111395,1233542348660977664,2020-02-28 23:59:48,@MichaelRizer @charliekirk11 Don't you find it...,False,False,en,NaN,NaN,NaN,True

In [12]:
interim_date = data[np.where((data['Date_Flag'] == True),True,False)].reset_index(drop=True)

In [13]:
interim_date

,user_id,status_id,created_at,text,is_quote,is_retweet,lang,quoted_status_id,quoted_text,quoted_user_id,Date_Flag
0,519656892,1233180049005830152,2020-02-28 00:00:09,@Rschooley We are witnessing this administrati...,False,False,en,NaN,NaN,NaN,True
1,45038921,1233180067456593920,2020-02-28 00:00:14,Wouldn’t restricting travel to and from China ...,False,False,en,NaN,NaN,NaN,True
2,823204144160784386,1233180075165548544,2020-02-28 00:00:15,@realDonaldTrump Hey orange president sir. You...,False,False,en,NaN,NaN,NaN,True
3,132016606,1233180145436905472,2020-02-28 00:00:32,@JillMartin0 “mOTheR’s” spouse is an idiot. So...,False,False,en,NaN,NaN,NaN,True
4,33014062,1233180153720823809,2020-02-28 00:00:34,All the news about coronavirus makes me feel r...,False,False,en,NaN,NaN,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...
6132,36591485,1233542183447400448,2020-02-28 23:59:09,"Mexicans don’t have time for Coronavirus, we h...",False,False,en,NaN,NaN,NaN,True
6133,36949690,1233542277777297408,2020-02-28 23:59:31,SENTEAMENTAL MOODS &amp; THE CORONAVIRUS (COVI...,False,False,en,NaN,NaN,NaN,True
6134,2722589802,1233542319187644416,2020-02-28 23:59:41,No one should be concerned with the economy......,False,False,en,NaN,NaN,NaN,True
6135,812814500818780160,1233542344106020868,2020-02-28 23:59:47,@SenSchumer @twittinsusan Trump might as well ...,False,False,en,NaN,NaN,NaN,True
6136,710111395,1233542348660977664,2020-02-28 23:59:48,@MichaelRizer @charliekirk11 Don't you find it...,False,False,en,NaN,NaN,NaN,True

# Date Cleaning

##### is_quote --> False

In [14]:
interim_date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6137 entries, 0 to 6136
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           6137 non-null   int64
 1   status_id         6137 non-null   int64
 2   created_at        6137 non-null   object
 3   text              6137 non-null   object
 4   is_quote          6137 non-null   bool
 5   is_retweet        6137 non-null   bool
 6   lang              6137 non-null   object
 7   quoted_status_id  836 non-null    float64
 8   quoted_text       836 non-null    object
 9   quoted_user_id    836 non-null    float64
 10  Date_Flag         6137 non-null   bool
dtypes: bool(3), float64(2), int64(2), object(4)
memory usage: 401.7+ KB

In [15]:
interim_date['is_quote'].value_counts()

False    5301
True      836
Name: is_quote, dtype: int64

In [16]:
interim = interim_date[np.where((interim_date['is_quote']== False ),True,False)].reset_index(drop=True)

In [17]:
interim.shape

(5301, 11)

In [18]:
interim['status_id'].nunique()

5301

In [19]:
non_rep = interim[['user_id','text']]

##### is_quote --> True

In [20]:
interim_date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6137 entries, 0 to 6136
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           6137 non-null   int64
 1   status_id         6137 non-null   int64
 2   created_at        6137 non-null   object
 3   text              6137 non-null   object
 4   is_quote          6137 non-null   bool
 5   is_retweet        6137 non-null   bool
 6   lang              6137 non-null   object
 7   quoted_status_id  836 non-null    float64
 8   quoted_text       836 non-null    object
 9   quoted_user_id    836 non-null    float64
 10  Date_Flag         6137 non-null   bool
dtypes: bool(3), float64(2), int64(2), object(4)
memory usage: 401.7+ KB

In [21]:
interim = interim_date[np.where((interim_date['is_quote']== True),True,False)].reset_index(drop=True)

In [22]:
interim.shape

(836, 11)

In [23]:
interim = interim[['user_id','text']]

In [24]:
interim.columns = non_rep.columns

In [25]:
interim.shape

(836, 2)

In [26]:
non_rep = non_rep.append(interim,ignore_index=True)

In [27]:
non_rep.shape

(6137, 2)

In [28]:
interim_date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6137 entries, 0 to 6136
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           6137 non-null   int64
 1   status_id         6137 non-null   int64
 2   created_at        6137 non-null   object
 3   text              6137 non-null   object
 4   is_quote          6137 non-null   bool
 5   is_retweet        6137 non-null   bool
 6   lang              6137 non-null   object
 7   quoted_status_id  836 non-null    float64
 8   quoted_text       836 non-null    object
 9   quoted_user_id    836 non-null    float64
 10  Date_Flag         6137 non-null   bool
dtypes: bool(3), float64(2), int64(2), object(4)
memory usage: 401.7+ KB

In [29]:
interim = interim_date[np.where((interim_date['is_quote']== True),True,False)].reset_index(drop=True)

In [30]:
interim.shape

(836, 11)

In [31]:
interim[['quoted_text']]

                                           quoted_text
0    Trump has added Treasury Secretary Steve Mnuch...
1    Trump spent 45 minutes today w/producers behin...
2     @Stckysheets @Tontolao1 You're already panicking
3    What are the chances we’ll now see a major Tru...
4    So here's what appears to be chain of events:\...
..                                                 ...
831  Corona beer maker says U.S. sales remain stron...
832      Nothing to see here 😅 https://t.co/ZriwkuQGMb
833  "If he locks down information, if he spreads d...
834  god please let me go to coachella before i get...
835  Hold my beer while I go for a boat ride. https...

[836 rows x 1 columns]

In [32]:
interim = interim[['quoted_user_id','quoted_text']]

In [33]:
interim

     quoted_user_id                                        quoted_text
0      1.597670e+07  Trump has added Treasury Secretary Steve Mnuch...
1      3.893614e+07  Trump spent 45 minutes today w/producers behin...
2      8.248209e+17   @Stckysheets @Tontolao1 You're already panicking
3      1.003107e+18  What are the chances we’ll now see a major Tru...
4      4.207961e+06  So here's what appears to be chain of events:\...
..              ...                                                ...
831    1.652541e+06  Corona beer maker says U.S. sales remain stron...
832    1.139952e+18      Nothing to see here 😅 https://t.co/ZriwkuQGMb
833    1.495715e+07  "If he locks down information, if he spreads d...
834    7.099756e+17  god please let me go to coachella before i get...
835    3.105214e+09  Hold my beer while I go for a boat ride. https...

[836 rows x 2 columns]

In [34]:
interim = interim.rename(columns={'quoted_user_id':'user_id', 'quoted_text':'text'})

In [35]:
non_rep = non_rep.append(interim,ignore_index=True)

In [36]:
non_rep.shape

(6973, 2)

In [37]:
non_rep

           user_id                                               text
0     5.196569e+08  @Rschooley We are witnessing this administrati...
1     4.503892e+07  Wouldn’t restricting travel to and from China ...
2     8.232041e+17  @realDonaldTrump Hey orange president sir. You...
3     1.320166e+08  @JillMartin0 “mOTheR’s” spouse is an idiot. So...
4     3.301406e+07  All the news about coronavirus makes me feel r...
...            ...                                                ...
6968  1.652541e+06  Corona beer maker says U.S. sales remain stron...
6969  1.139952e+18      Nothing to see here 😅 https://t.co/ZriwkuQGMb
6970  1.495715e+07  "If he locks down information, if he spreads d...
6971  7.099756e+17  god please let me go to coachella before i get...
6972  3.105214e+09  Hold my beer while I go for a boat ride. https...

[6973 rows x 2 columns]

# Analysis

In [38]:
import pandas as pd
import numpy as np 
import csv
import re
import string
import emoji

import nltk
from nltk import pos_tag, pos_tag_sents
from nltk.corpus import stopwords
from nltk.corpus import wordnet
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer

import warnings
warnings.filterwarnings("ignore")

In [39]:
import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')
stop_words = set(stopwords.words('english')) - set(['at', 'do', 'your', 'from', 'to', 'out', 'no', 'the'])
#demoji.download_codes()

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/manikya_varshney/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /home/manikya_varshney/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /home/manikya_varshney/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /home/manikya_varshney/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [40]:
non_rep['text_duplicate'] = non_rep['text']

In [41]:
non_rep

,user_id,text,text_duplicate
0,5.196569e+08,@Rschooley We are witnessing this administrati...,@Rschooley We are witnessing this administrati...
1,4.503892e+07,Wouldn’t restricting travel to and from China ...,Wouldn’t restricting travel to and from China ...
2,8.232041e+17,@realDonaldTrump Hey orange president sir. You...,@realDonaldTrump Hey orange president sir. You...
3,1.320166e+08,@JillMartin0 “mOTheR’s” spouse is an idiot. So...,@JillMartin0 “mOTheR’s” spouse is an idiot. So...
4,3.301406e+07,All the news about coronavirus makes me feel r...,All the news about coronavirus makes me feel r...
...,...,...,...
6968,1.652541e+06,Corona beer maker says U.S. sales remain stron...,Corona beer maker says U.S. sales remain stron...
6969,1.139952e+18,Nothing to see here 😅 https://t.co/ZriwkuQGMb,Nothing to see here 😅 https://t.co/ZriwkuQGMb
6970,1.495715e+07,"""If he locks down information, if he spreads d...","""If he locks down information, if he spreads d..."
6971,7.099756e+17,god please let me go to coachella before i get...,god please let me go to coachella before i get...
6972,3.105214e+09,Hold my beer while I go for a boat ride. https...,Hold my beer while I go for a boat ride. https...

In [42]:
#Convert to lower case
non_rep['text'] = non_rep['text'].str.lower()

In [43]:
#Removing emojis
def demoji(text):
    emoji_pattern = re.compile("["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
        u"\U00002702-\U000027B0"
        u"\U000024C2-\U0001F251"
        u"\U00010000-\U0010ffff"
                               "]+", flags=re.UNICODE)
    return(emoji_pattern.sub(r'', text))

non_rep[u'text'] = non_rep[u'text'].astype(str)
non_rep[u'text'] = non_rep[u'text'].apply(lambda x:demoji(x))

In [44]:
#Remove URLs
non_rep['text'] = non_rep['text'].str.replace(r"http\S+| www\S+| https\S+| \S+\.com\S+| \S+\.com", "", regex=True)

In [45]:
#Remove user @
non_rep['text'] = non_rep['text'].str.replace(r'\@[\w]+', "", regex=True)

In [46]:
#Remove punctuations
non_rep['text'] = non_rep['text'].str.translate(str.maketrans("", "", string.punctuation))

In [47]:
#More Cleaning
non_rep['text']=non_rep['text'].astype(str).str.replace('/[^a-zA-Z0-9 ]/g', '', regex=True).str.replace('\n',' ', regex=True).str.replace('—',' ', regex=True).str.strip('“').str.strip('”').str.strip('’').str.lstrip(' ').str.rstrip(' ')

In [48]:
#Tokenizing
non_rep.text = non_rep.text.astype(str)
non_rep['tokenized_text'] = non_rep.apply(lambda row: nltk.word_tokenize(row.text), axis=1)

# remove stopwords
non_rep['filtered_text'] = non_rep['tokenized_text'].apply(lambda x: [word for word in x if word not in stop_words])

In [49]:
#Stemming
ps = PorterStemmer()
non_rep['stemmed_text'] = non_rep['filtered_text'].apply(lambda x: [ps.stem(y) for y in x])

In [50]:
#POSTags
def get_wordnet_pos(word):
    """Map POS tag to first character lemmatize() accepts"""
    tag = nltk.pos_tag([word])[0][1][0].upper()
    tag_dict = {"J": wordnet.ADJ, "N": wordnet.NOUN, "V": wordnet.VERB, "R": wordnet.ADV}
    return tag_dict.get(tag, wordnet.NOUN)

In [51]:
#Lemmatizing
lemmatizer = WordNetLemmatizer()
non_rep['lemmatized_text'] = non_rep['filtered_text'].apply(lambda x: [lemmatizer.lemmatize(y, get_wordnet_pos(y)) for y in x])

In [52]:
#Joining the lemmetized tokens to form string
non_rep['final'] = non_rep['lemmatized_text'].apply(lambda x: " ".join([word for word in x]))

In [53]:
#Remove punctuations
non_rep['final'] = non_rep['final'].str.translate(str.maketrans("", "", string.punctuation))
non_rep['final'] = non_rep['final'].str.replace("’", '').str.replace("“", '').str.replace("”", '')
#non_rep['text'] = non_rep['text'].astype(str).str.replace('/[^a-zA-Z0-9 ]/g', '', regex=True).str.replace('\n',' ', regex=True).str.replace('—',' ', regex=True).str.strip('“').str.strip('”').str.strip('’').str.lstrip(' ').str.rstrip(' ')
non_rep['final'] = non_rep['final'].astype(str).str.replace('/[^a-zA-Z0-9 ]/g', '', regex=True).str.replace('\n',' ', regex=True).str.replace('—',' ', regex=True).str.strip('“').str.strip('”').str.strip('’').str.lstrip(' ').str.rstrip(' ')

In [54]:
non_rep.drop_duplicates(['final']).shape

(6565, 8)

In [55]:
non_rep = non_rep.drop_duplicates(['final']).reset_index(drop=True)

In [56]:
non_rep.shape

(6565, 8)

In [57]:
non_rep

,user_id,text,text_duplicate,tokenized_text,filtered_text,stemmed_text,lemmatized_text,final
0,5.196569e+08,we are witnessing this administration’s corona...,@Rschooley We are witnessing this administrati...,"[we, are, witnessing, this, administration, ’,...","[witnessing, administration, ’, coronavirus, a...","[wit, administr, ’, coronaviru, action, plan]","[witness, administration, ’, coronavirus, acti...",witness administration coronavirus action plan
1,4.503892e+07,wouldn’t restricting travel to and from china ...,Wouldn’t restricting travel to and from China ...,"[wouldn, ’, t, restricting, travel, to, and, f...","[’, restricting, travel, to, from, china, mayb...","[’, restrict, travel, to, from, china, mayb, h...","[’, restrict, travel, to, from, china, maybe, ...",restrict travel to from china maybe help contr...
2,8.232041e+17,hey orange president sir your agency’s the cdc...,@realDonaldTrump Hey orange president sir. You...,"[hey, orange, president, sir, your, agency, ’,...","[hey, orange, president, sir, your, agency, ’,...","[hey, orang, presid, sir, your, agenc, ’, the,...","[hey, orange, president, sir, your, agency, ’,...",hey orange president sir your agency the cdc ...
3,1.320166e+08,“mother’s” spouse is an idiot sooosomeone will...,@JillMartin0 “mOTheR’s” spouse is an idiot. So...,"[“, mother, ’, s, ”, spouse, is, an, idiot, so...","[“, mother, ’, ”, spouse, idiot, sooosomeone, ...","[“, mother, ’, ”, spous, idiot, sooosomeon, to...","[“, mother, ’, ”, spouse, idiot, sooosomeone, ...",mother spouse idiot sooosomeone to wisper ea...
4,3.301406e+07,all the news about coronavirus makes me feel r...,All the news about coronavirus makes me feel r...,"[all, the, news, about, coronavirus, makes, me...","[the, news, coronavirus, makes, feel, reeeeeee...","[the, news, coronaviru, make, feel, reeeeeeeaa...","[the, news, coronavirus, make, feel, reeeeeeea...",the news coronavirus make feel reeeeeeeaaaaall...
...,...,...,...,...,...,...,...,...
6560,1.525145e+08,theres been a lot of people returning to our 1...,There's been a lot of people returning to our ...,"[theres, been, a, lot, of, people, returning, ...","[theres, lot, people, returning, to, 1918, flu...","[there, lot, peopl, return, to, 1918, flu, ser...","[there, lot, people, return, to, 1918, flu, se...",there lot people return to 1918 flu series dra...
6561,1.652541e+06,corona beer maker says us sales remain strong ...,Corona beer maker says U.S. sales remain stron...,"[corona, beer, maker, says, us, sales, remain,...","[corona, beer, maker, says, us, sales, remain,...","[corona, beer, maker, say, us, sale, remain, s...","[corona, beer, maker, say, u, sale, remain, st...",corona beer maker say u sale remain strong des...
6562,1.495715e+07,if he locks down information if he spreads dis...,"""If he locks down information, if he spreads d...","[if, he, locks, down, information, if, he, spr...","[locks, information, spreads, disinformationit...","[lock, inform, spread, disinformationit, much,...","[lock, information, spread, disinformationit, ...",lock information spread disinformationit much ...
6563,7.099756e+17,god please let me go to coachella before i get...,god please let me go to coachella before i get...,"[god, please, let, me, go, to, coachella, befo...","[god, please, let, go, to, coachella, get, dra...","[god, pleas, let, go, to, coachella, get, draf...","[god, please, let, go, to, coachella, get, dra...",god please let go to coachella get draft ww3
6564,3.105214e+09,hold my beer while i go for a boat ride,Hold my beer while I go for a boat ride. https...,"[hold, my, beer, while, i, go, for, a, boat, r...","[hold, beer, go, boat, ride]","[hold, beer, go, boat, ride]","[hold, beer, go, boat, ride]",hold beer go boat ride

In [58]:
cols = [0,2, 7]
data_final = non_rep[non_rep.columns.values[cols]]
data_final.to_csv('/home/manikya_varshney/Documents/Python/Yale/All Graphs/Jan-Feb-Mar/Jan-Feb-Mar-Data/February/February28th.csv',index=False)