!pip install -U scikit-learn

import sys
print(sys.path) 
print(sys.executable)

import sys 
!{sys.executable} -m pip install scikit-learn

# Import Packages

In [1]:
import pandas as pd
import numpy as np 
import csv
import re
import string

import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer

import warnings
warnings.filterwarnings("ignore")

In [2]:
import nltk
nltk.download('stopwords')
stop_words = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/manikya_varshney/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [30]:
path = '/home/manikya_varshney/Documents/Python/Yale/final_h01-20200912-101538.csv'
data = pd.read_csv(path, low_memory=False)

In [31]:
data.shape

(6737, 3)

In [14]:
data

,id,user_id,extended_tweet_full_text
0,1.304786e+18,9.053900e+07,woke up to see if the justin bieber pandemic w...
1,1.304786e+18,8.497239e+17,@TeresaCCarter2 “Our intention is to make sure...
2,1.304786e+18,1.293830e+18,For More Information contact us. \nMail:- digi...
3,1.304786e+18,1.188902e+18,"UAE reports 1,007 new Covid-19 cases, highest ..."
4,1.304786e+18,2.273830e+08,Trump officials interfered with CDC reports on...
...,...,...,...
6732,1.304427e+18,6.874206e+07,Why did Twitter suddenly reinstate @clif_high?...
6733,1.304671e+18,8.323244e+17,Denna veckas COVID-19 veckorapport från Folkhä...
6734,1.304768e+18,4.446656e+09,Republicans Defend Trump After He Admitted Dow...
6735,1.301853e+18,3.914277e+08,The recession on the back of the Government's ...
6736,1.304756e+18,2.215891e+09,65 Catholics across the street only 7 wearing ...

In [5]:
#data = data[data.columns.values[2]]

In [17]:
data['extended_tweet_full_text']

0       woke up to see if the justin bieber pandemic w...
1       @TeresaCCarter2 “Our intention is to make sure...
2       For More Information contact us. \nMail:- digi...
3       UAE reports 1,007 new Covid-19 cases, highest ...
4       Trump officials interfered with CDC reports on...
                              ...
6732    Why did Twitter suddenly reinstate @clif_high?...
6733    Denna veckas COVID-19 veckorapport från Folkhä...
6734    Republicans Defend Trump After He Admitted Dow...
6735    The recession on the back of the Government's ...
6736    65 Catholics across the street only 7 wearing ...
Name: extended_tweet_full_text, Length: 6737, dtype: object

#####  1. Casing (Upper or lower case)
##### 2. Noise Removal (Removal of punctuation, white spaces, special characters, HTML tags)
##### 3. Tokenization (Tweets to tokens i.e. words seprated by spaces)
##### 4. Stopword Removal
##### 5. Text Normalization (Stemming and Lemmatization)

In [44]:
data['extended_tweet_full_text'] = data['extended_tweet_full_text'].str.lower()

In [41]:
data['extended_tweet_full_text'] = data['extended_tweet_full_text'].str.replace(r"http\S+ | www\S+ | https\S+", "")

In [42]:
data['extended_tweet_full_text'] = data['extended_tweet_full_text'].str.replace(r'\@\w+', "")

In [43]:
data['extended_tweet_full_text']

0       woke up to see if the justin bieber pandemic w...
1        “our intention is to make sure that evidence,...
2       for more information contact us. \nmail:- digi...
3       uae reports 1,007 new covid-19 cases, highest ...
4       trump officials interfered with cdc reports on...
                              ...
6732    why did twitter suddenly reinstate ?!\n\ncould...
6733    denna veckas covid-19 veckorapport från folkhä...
6734    republicans defend trump after he admitted dow...
6735    the recession on the back of the government's ...
6736    65 catholics across the street only 7 wearing ...
Name: extended_tweet_full_text, Length: 6737, dtype: object

In [ ]:
#tweet = tweet.translate(str.maketrans("", "", string.punctuation))

In [10]:

#tweet = re.sub(r"http\S+ | www\S+ | https\S+", "", tweet, flags = re.MULTILINE)dd

#tweet = re.sub(r'\@\w+', "", tweet)

AttributeError: 'Series' object has no attribute 'lower'